<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PMG2FW');</script>
<!-- End Google Tag Manager -->
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-31032962-1', 'auto');
  ga('require', 'GTM-PRXW3MP');
  ga('send', 'pageview');
</script>
<script>
window.addEventListener('DOMContentLoaded', function(e){
  if (document.querySelector('.form-errors')) {
    location.hash="regist";
  }
});
</script>
<!-- End Google Analytics -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>フリーコンサルタント.jp － フリーランスのプロフェッショナル人材専門の案件紹介サービス</title>

<meta name="description" content="フリーコンサルタント.jpは、PMO・PM・ITコンサル・戦略コンサル・マーケコンサルなど、業務委託・フリーランスのプロフェッショナル人材向け案件を豊富に取り扱っている、日本最大級のフリーランス向け案件紹介サービスです。">
<meta name="Keywords" content="フリーランス,フリーコンサルタント,コンサルタント,業務委託,案件,募集,紹介,プロフェッショナル人材,プロ人材,フリーコンサルタント.jp,freeconsultant.jp">
<meta property="og:type" content="website" >
<meta property="og:url" content="https://freeconsultant.jp/" >
<meta property="og:title" content="フリーコンサルタント.jp － フリーランスのプロフェッショナル人材専門の案件紹介サービス" >
<meta property="og:description" content="フリーコンサルタント.jpは、PMO・PM・ITコンサル・戦略コンサル・マーケコンサルなど、業務委託・フリーランスのプロフェッショナル人材向け案件を豊富に取り扱っている、日本最大級のフリーランス向け案件紹介サービスです。" >
<meta property="og:image" content="https://freeconsultant.jp/img/og.jpg" >
<meta property="og:site_name" content="フリーコンサルタント.jp" >
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="https://freeconsultant.jp/img/og.jpg">
<meta name="robots" content="noindex" />
<link rel="canonical" href="https://freeconsultant.jp/"/>
<link rel="start" href="/" title="ホーム" />
<link rel="shortcut icon" href="/common/images/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" type="text/css" href="css/reset.css" media="all">
<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" media="all">
<link rel="stylesheet" type="text/css" href="css/main.css" media="all">
<link rel="stylesheet" type="text/css" href="css/sp.css" media="all">
<link rel="stylesheet" type="text/css" href="css/custom.css" media="all">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap&subset=japanese" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/animate.css" media="all" />
<noscript>
<link rel="stylesheet" type="text/css" href="css/noscript.css" media="all">
</noscript>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--▼▼ページ全体のフェードイン▼▼-->
<script src="js/jquery.fadepage.js"></script>
<!--▲▲ページ全体のフェードイン▲▲-->
<!--▼▼ページトップ▼▼-->
<script src="js/fadein_pagetop.js"></script>
<!--▲▲ページトップ▲▲-->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMG2FW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!--▼▼ページ全体のフェードイン▼▼-->
<div id="fade-window"></div>
<!--▲▲ページ全体のフェードイン▲▲-->
<p id="back-top"><a href="#top"><img src="img/page_top.png" alt="ページの上部へ" /></a></p>
<div id="container">
<header>
<h1><a href="https://freeconsultant.jp/" target="_blank"><img src="img/logo_01.png" width="431" alt="フリーランスのプロフェッショナル人材専門の案件紹介サービス Free Consultant.jp&reg;"/></a></h1>
<p class="contact_btn sp_none"><a href="#conts_contact"><span class="inner">無料会員登録</span></a></p>
<nav class="pc_navi sp_none">
<ul>
<li><a href="#conts_characteristics">サービスの特徴</a></li>
<li><a href="#conts_advantage">強みとメリット</a></li>
<li><a href="#conts_project">ご紹介案件例</a></li>
<li><a href="#conts_voice">利用者の声</a></li>
<li><a href="#conts_flow">利用までの流れ</a></li>
</ul>
</nav>
</header>
<div id="slider_bg">
<p class="scroll oswald sp_none"><a href="#contents">Scroll Down</a></p>
<div class="slide_in_image"><div id="slider">
<div id="theTarget" class="bxslider">
<div class="slide_01 slide"></div>
<div class="slide_02 slide"></div>
<!--/theTarget--></div>
<!--/slider--></div></div>
<!--/slider_bg--></div>
<div id="contents">
<section id="conts_top">
<div class="auto">
<h2 class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1.5s">フリーランスコンサルタントのための<br><span class="big">案件紹介サービス</span></h2>
<p class="sub_title wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1.5s">案件探しの手間を省き、効率的に希望に合った案件を探せる</p>
<div class="mv-inner">
<img src="./img/naito_lp2.png" alt="イメージキャラクター" class="mv-img-human" style="height: auto;">

<ul class="wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="2s">
<li><span class="gold"><span class="number">850</span>社以上</span>の<br>取引企業実績</li>
<li>月額<span class="gold"><span class="number">200</span>万円以上</span><br>高額案件が豊富</li>
<li><span class="gold"><span class="number">18,000</span>名以上</span><span class="small">※</span><br>日本最大級の登録者数<span class="caution">※2023年6月末時点の登録者数</span></li>
</ul>
<p class="contact_btn"><a href="#conts_contact"><span class="inner"><span class="small">最短即日でご希望の案件をご紹介</span><br>無料会員登録はこちら</span></a></p>
<!--/mv-inner--></div>
<!--/auto--></div>
<!--/conts_top--></section>
<!--▼▼スマホナビ▼▼-->
<nav class="sp_navi pc_none">
<table>
<tr>
<td><a href="#conts_characteristics">サービスの特徴</a></td>
<td class="half"><a href="#conts_advantage">強みとメリット</a></td>
<td><a href="#conts_project">ご紹介案件例</a></td>
</tr>
<tr>
<td><a href="#conts_voice">利用者の声</a></td>
<td><a href="#conts_flow">利用までの流れ</a></td>
<td><a href="#conts_contact">無料会員登録</a></td>
</tr>
</table>
</nav>
<!--▲▲スマホナビ▲▲-->
<section id="conts_characteristics">
<p class="top_text mincho wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.5s">「フリーコンサルタント.jp」は、業務委託・フリーランスの<br class="sp_none"><span class="red">プロフェッショナル人材</span>向け案件を豊富に取り扱っている<br class="sp_none">日本最大級のフリーランス向け案件紹介サービスです。</p>
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">CHARACTERISTICS</p>
<h3>サービスの特徴</h3>
<!--/title_box--></div>
<div class="detail_area">
<div class="block ch_01">
<div class="ch_title wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="ch_number">特徴<span class="number oswald">01</span></p>
<h4>フリーランスの方の<br class="sp_none"> “案件探し＝営業活動” を<br class="sp_none">代行するサービス</h4>
<!--/title--></div>
<div class="text_box">
<p class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s">フリーランスの方の多くは自分の希望に合った案件の開拓に苦労しています。特に稼働中は案件開拓の時間を確保できず、リリース後の稼働案件を見つけられないケースも多くなっています。<br>「フリーコンサルタント.jp」は案件開拓にかかるお手間を代行します。必要な時に希望の案件をご提供することで、フリーランスの方がさまざまなフィールドで活躍できる世界観を目指しています。</p>
<!--/text_box--></div>
<!--/block--></div>
<div class="block ch_02">
<div class="ch_title wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="ch_number">特徴<span class="number oswald">02</span></p>
<h4>フリーコンサルタント.jp<br class="sp_none">ならでは！<br>稼働開始後の<br class="sp_none">フォローを徹底</h4>
<!--/title--></div>
<div class="text_box">
<p class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s">「フリーコンサルタント.jp」では、フリーランスの方に案件をご紹介して終わりでなく、継続的にさまざまな案件で活躍いただくため、稼働後のフォローに力を入れています。<br>悩みや課題など感じたことをお聞きし、より活躍いただける案件のご紹介に活かしています。その結果、多くのフリーランスの方から継続的にご利用いただいています。</p>
<!--/text_box--></div>
<!--/block--></div>
<!--/detail_area--></div>
<div class="graphic_area">
<h4 class="wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s"><span class="inner">こんなお悩みを解決する<br>“案件探し”＆”稼働後フォロー”<br class="pc_none">が充実！</span></h4>
<div class="info_graphic">
<div class="wrapper left">
<div class="box box_01 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="yellow_text">案件探しを代行</p>
<div class="text_box">
<p class="number oswald">01</p>
<p class="text">忙しくて案件を<br class="pc_none">探す<br class="sp_none">時間がない</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_01.png" width="89" alt=""/></figure>
<!--/box--></div>
<div class="box box_02 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">02</p>
<p class="text">誰か代わりに<br class="pc_none">案件<br class="sp_none">探して<br class="pc_none">くれないかな…</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_02.png" width="131" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<div class="wrapper right">
<div class="box box_03 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">03</p>
<p class="text">みらいワークスが<br>案件ご紹介</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_03.png" width="246" alt=""/></figure>
<!--/box--></div>
<div class="box box_04 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">04</p>
<p class="text">希望にマッチした<br>案件が見つかる</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_04.png" width="232" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<div class="wrapper left">
<div class="box box_05 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">05</p>
<p class="text">希望にマッチした<br>案件で稼働開始</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_05.png" width="189" alt=""/></figure>
<!--/box--></div>
<div class="box box_06 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="yellow_text">稼働後のフォローを徹底</p>
<div class="text_box">
<p class="number oswald">06</p>
<p class="text">稼働後の悩みや<br>課題などを<br class="pc_none">ヒアリング</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_06.png" width="146" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<div class="wrapper right">
<div class="box box_07 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">07</p>
<p class="text">さらに希望に<br class="sp_none">マッチした活躍できる<br class="sp_none">案件をご紹介</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_07.png" width="195" alt=""/></figure>
<!--/box--></div>
<div class="box box_08 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">08</p>
<p class="text">新しい案件で<br>さらなる活躍を実現</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_08.png" width="131" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<!--/info_graphic--></div>
<!--/graphic_area--></div>
<!--/auto--></div>
<!--/conts_characteristics--></section>

<section id="conts_advantage">
<div class="bg_title title_box">
<div class="slide_in_image"><p class="eng_text oswald wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">ADVANTAGE</p>
<h3 class="wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">サービスの強みとメリット </h3></div>
<!--/bg_title--></div>
<div class="auto">
<div class="wrapper">
<div class="box">
<p class="point oswald">POINT.01</p>
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="1s">
<h4>“現場責任者との強いパイプライン”<br>
独自の非公開案件も多数。<br>
他社にはない好条件の案件に出会えます。</h4>
<p class="text">フリーランスのアサインは企業の現場責任者が決定しているケースがほとんどです。<br>「フリーコンサルタント.jp」は長いサービス展開の歴史から豊富な実績を残しているため、現場責任者との関係性が強くなっています。そのため他社にはない独自の案件を依頼されるケースが多くなっています。</p>
<!--/text_box--></div>
<figure class="img"><div class="slide_in_image"><img src="img/illust_14.jpg" width="298" alt=""/></div></figure>
<!--/box--></div>
<div class="box">
<p class="point oswald">POINT.02</p>
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="1s">
<h4>取引企業数850社以上！<br class="pc_none">日本最大級の案件数！<br>
人気の “短期・スポット案件” や、<br>
月額報酬 “200万円以上” の案件も多数。</h4>
<p class="text">大手・優良企業を中心に多種多様な案件を取り扱っています。（日本最大級）<br>そのため、人気のスポット案件や月額報酬200万円以上（※稼働率に依り変動）の案件など、さまざまな希望条件にお応えできる案件のご紹介が可能です。</p>
<!--/text_box--></div>
<figure class="img"><div class="slide_in_image"><img src="img/illust_15.jpg" width="298" alt=""/></div></figure>
<!--/box--></div>
<div class="box">
<p class="point oswald">POINT.03</p>
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="1s">
<h4>サービス登録者数は18,000名以上！<br>
豊富なマッチングノウハウで<br>
最適な案件をスピーディーにご紹介します。</h4>
<p class="text">多くのプロフェッショナルなフリーランスの方をご支援した実績から、豊富なマッチングノウハウを保持しています。そのため、お持ちのスキル・ご経験にマッチした案件をスピーディーにご紹介できる強みがあります。稼働後、多くの方から満足の声を頂戴しています。</p>
<!--/text_box--></div>
<figure class="img"><div class="slide_in_image"><img src="img/illust_16.jpg" width="298" alt=""/></div></figure>
<!--/box--></div>
<!--/wrapper--></div>
<!--/auto--></div>
<!--/conts_advantage--></section>
<div class="btn_box sp_none">
<h4>希望条件に合った案件をお探しの方</h4>
<p class="contact_btn"><a href="#conts_contact"><span class="inner"><span class="small">最短即日でご希望の案件をご紹介</span><br>無料会員登録はこちら</span></a></p>
<!--/btn_box--></div>
<section id="conts_project">
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">PROJECT</p>
<h3>ご紹介案件例</h3>
<!--/title_box--></div>
<dl class="sub_title wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<dt>「ご登録いただいた方にのみ」<br class="pc_none">ご紹介可能な非公開案件が多数！<br><span class="small">非公開な案件が多い理由とは？</span></dt>
<dd>フリーランスのプロフェッショナル人材を活用している企業は、<br class="sp_none">極秘のプロジェクト・新規事業などを競合に知られずにスピーディーに推進したいという意図があります。<br class="sp_none">そのため、案件の多くは非公開案件として「フリーコンサルタント.jp」に依頼されています。</dd>
</dl>
<div class="project_wrapper">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>大手外資系製薬会社でのマーケティング業務のプロセス改善支援</h5>
<table>
<tr>
<th>職種</th>
<td>業務改善コンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>応相談（100万円～）</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>3ヵ月間（延長の可能性あり）</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>コンサルティングファームのプロジェクト。エンドクライアントは大手外資系製薬会社。コマーシャル部門で、医師向け情報サービス会社を複数利用して新製品のコンテンツを制作。<br>コンサルティングファームの一員として、その業務プロセスを整理して業務改善を進めていく任務。</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>新型ロボット開発事業におけるグローバルプロジェクトのPM</h5>
<table>
<tr>
<th>職種</th>
<td>プロジェクトマネージャー</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～180万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>長期予定</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>拡大するロボット開発業務において、国外のロボットメーカーとの業務調整（仕様説明、進捗確認、課題のヒアリングなど）を行なう業務。本事業に関しての戦略立案や実行・推進にも携わる。</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>大手シンクタンク・プロジェクト案件／大手ECサイトでの開発リーダー</h5>
<table>
<tr>
<th>職種</th>
<td>プロジェクトマネージャー</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～170万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>長期予定</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>大手シンクタンクが担うプロジェクトでの業務委託案件。<br>エンドクライアントである大手小売ECサイトの開発リーダーとして、ECサイトの開発プロジェクトの詳細設計フェーズから総合テストフェーズまでを支援。同時に開発効率化を進めていく業務。</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>大手ネット保険会社でのWEBサービスの企画・開発PM</h5>
<table>
<tr>
<th>職種</th>
<td>WEBディレクター</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～150万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>3ヵ月間</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>某大手ネット保険会社のプライム案件。<br>サイトリニューアルを行なっているため、複数の開発案件が走っている状態。<br>以下のいずれかのポジションで業務支援する業務。<br>
・シミュレーターや一括資料請求の開発リード<br>
・マイページの開発におけるプロジェクトリード<br>
・コンテンツ統合におけるビジネス企画（戦略策定）と開発のプロジェクトリード</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>建設業向けIoTサービス事業会社でのデバイス開発におけるPoC支援</h5>
<table>
<tr>
<th>職種</th>
<td>プリセールス</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～150万円（60％稼働）</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>長期予定</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>大手通信会社が出資している、建設業向けIoTサービス事業を展開するスタートアップ企業に一員として参画。<br>建設会社からの問い合わせに対して技術提案およびPoC開発を行ないながら、総合的なソリューション提案を行なう業務。</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>大手生命保険会社の情報システム部での業務支援</h5>
<table>
<tr>
<th>職種</th>
<td>情報システム部IT戦略企画</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～120万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>約3ヵ月間</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>情報システム部でのIT戦略、予算管理、中期経営計画、人材育成計画の策定など、各種業務を社員に代替するポジションで支援する立場。</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>大手インターネットサービス事業会社でのITコスト削減に向けた業務改善支援</h5>
<table>
<tr>
<th>職種</th>
<td>業務改善コンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～150万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>長期予定</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>大手ネットサービス事業会社でITコスト削減に向けた業務改善コンサルティング支援を行なう。
現状の業務プロセスの整理とそのドキュメント化、各グループ会社のITコスト予算の妥当性を検証する業務。</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>大手新聞社での新サイト立ち上げに向けた市場調査・分析支援</h5>
<table>
<tr>
<th>職種</th>
<td>事業企画コンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～100万円（60％稼働）</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>1ヵ月間</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>大手新聞社で新サイト（バーティカルメディア）の立ち上げに際しての、ビジネスモデル策定や事業企画・計画のための市場調査・分析・レポーティング・報告資料作成を行なう業務。</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>大手生活情報サービス運営会社でのコールセンターシステム業務設計・要件定義</h5>
<table>
<tr>
<th>職種</th>
<td>ITコンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～150万円（60％稼働）</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>長期予定</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>当社の飲食事業部での営業効率化のため、コールセンターシステムの導入を検討。<br>導入にあたっての業務設計および要件定義など、PMO業務支援を行なう役割。</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>大手航空会社でのシステム維持・管理業務</h5>
<table>
<tr>
<th>職種</th>
<td>システム運用改善コンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～120万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>長期予定</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>国内運輸系会社で導入している整備系ペーパーレス化推進システムの、システム管理・エンハンスを行うチームリーダーの候補を募集。</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>食品小売会社でのデータ活用コンサルティング</h5>
<table>
<tr>
<th>職種</th>
<td>データ分析コンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～100万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>神奈川県</td>
</tr>
<tr>
<th>稼働期間</th>
<td>2ヵ月間</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>当社と取引のあるエンドクライアントでのプロジェクトアサイン案件。<br>エンドクライアントである食品小売会社での需要予測、在庫最適化アルゴリズムについて、当社のデータサイエンティストと共に開発するプロジェクト。</dd>
</dl>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>新型ロボット開発事業における企画・立案・推進を行なうプロダクトマネージャー</h5>
<table>
<tr>
<th>職種</th>
<td>プロダクトマネージャー</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～180万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>東京都</td>
</tr>
<tr>
<th>稼働期間</th>
<td>長期予定</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>国内の業務用ロボット開発会社で開発中の次世代型ロボットを活用した新規事業を企画・計画するプロダクトマネージャー業務。<br>
次世代型ロボットに関する市場調査、販売企画、マーケティング、ソリューション開発、ターゲット選定、PoC企画など、多岐にわたってプロジェクトを推進する役割。</dd>
</dl>
<!--/box--></div>
<!--/project_wrapper--></div>
<!--/auto--></div>
<!--/conts_project--></section>
<div class="btn_box sp_none">
<h4>非公開案件に興味がある方</h4>
<p class="contact_btn"><a href="#conts_contact"><span class="inner"><span class="small">最短即日でご希望の案件をご紹介</span><br>無料会員登録はこちら</span></a></p>
<!--/btn_box--></div>
<section id="conts_voice">
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">VOICE</p>
<h3>サービスをご利用<br class="pc_none">いただいた方の声</h3>
<!--/title_box--></div>
<p class="sub_text wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">「フリーコンサルタント.jp」は、通常の業務委託・フリーランスのプロフェッショナル人材の方はもちろん、<br class="sp_none">起業してご自分の会社をお持ちの方が、本業での資金作りのために案件に参画されているケースもあります。</p>
<div class="voice_wrapper">
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">戦略系コンサルタント・男性</p>
<h5>希望条件に合う案件、かつ今までよりも<br class="sp_none">高い月額報酬の案件を紹介してくれました</h5>
<p class="voice" id="open_01" style="display: none; clear: both;">参画予定だったプロジェクトがクライアント側の予算都合で急遽なくなり、仕事が途切れてしまった時期に、友人経由で「みらいワークス」という会社を知りました。みらいワークスには大きく2点で価値を感じました。<br>1点目は、自分の希望条件に合った新規事業企画案件をすぐに紹介してくれただけでなく、クライアント企業との打ち合わせに臨む際に、企業の担当者に自分の強みがしっかりと伝わるように話し方のアドバイスまでしてくれたことです。<br>2点目は、クライアント企業からの直請け案件だったので、月額報酬額の面で今までよりも高い条件で参画することができたことです。今までは前職のつながりやそこからさらに知人の経営者を紹介してもらったりと、自分の人脈の中で案件を開拓して二次受け・三次受けの仕事に参画していたのですが、今回の案件でより良い案件を見つけることができたので、次もみらいワークスに案件を紹介してもらおうと思っています。</p>
<p class="open" data-id="open_01"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_07.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">業務系コンサルタント・男性</p>
<h5>案件を探すための営業活動の手間・苦労がなくなり、<br class="sp_none">間を空けることなく案件に参画できています</h5>
<p class="voice" id="open_02" style="display: none; clear: both;">今までの経験上、私が得意としている業務改善領域の案件は市場にあまりない印象でした。そのため、常に自力で人脈を広げていって仕事が途切れないように案件を探し続けなければならず、非常に苦労していました。<br>毎回案件の終了が近づくたびに「今の案件も数ヵ月後には終わるのでその後の案件を探さなくては…」と、業務を終えた後に営業活動をしていましたが、業務特性上夕方以降は緊急対応も入りやすく、正直営業活動にかなりの負荷を感じていました。常に案件があるとも限らず、あっても先方と時期が折り合わず、次の案件まで1ヵ月間も仕事が空いてしまうこともありました。<br>そんな時にネットでみらいワークスを見つけ登録。面談では私の希望を聞いてくれて、条件に合った複数の案件を紹介してもらい、私が得意としている業務改善の案件に参画できました。今はその案件は終了していますが、次もみらいワークスを利用して間を空けることなく案件に参画できています。<br>今では同じように案件を探す営業活動で困っているフリーランス仲間にも、みらいワークスのサービスをお勧めしています。</p>
<p class="open" data-id="open_02"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_07.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">IT系コンサルタント・女性</p>
<h5>初めてのフリーランス、<br class="sp_none">自分のキャリアの幅を広げられる案件を紹介してくれました</h5>
<p class="voice" id="open_03" style="display: none; clear: both;">事業会社からコンサルティングファームへ転職した経歴から、40歳になる前に初めてフリーランスになりました。元々独立したいと思っていた理由は「よりお客様に近い立場で価値発揮することでお客様の役に立ちたい」という想いからでした。<br>初めてのフリーランスということで、案件の探し方など何から始めていいか分からない状態でした。そんな時にネットで見つけて登録した数社の内の1社がみらいワークスでした。自分のキャリアからすると、紹介もらえる案件は今まで経験してきた基幹システムを導入する案件のみかと思っていましたが、実は以前からRPA領域に興味があり独学で勉強していた旨を、みらいワークスの面談で話してみると、未経験でもチャレンジできるRPA関連の案件を紹介してくれました。<br>みらいワークスのおかげで新たな領域にチャレンジすることができ、自分のキャリアの幅を広げることができたので非常に満足しています。</p>
<p class="open" data-id="open_03"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_08.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">プロジェクトマネジメント支援・男性</p>
<h5>クライアント企業に業務範囲や条件面を代行して調整・交渉してくれるので、<br class="sp_none">安心して参画できました</h5>
<p class="voice" id="open_04" style="display: none; clear: both;">以前参画していたクライアント先では、2ヵ月目、3ヵ月目となるにつれて、当初任されていた業務内容に加え、若手の育成や全体のマネジメント、他拠点対応なども徐々に任されるようになりました。役に立てて嬉しい反面、同待遇のまま業務範囲（と残業時間）が増えていくことを、誰にどう相談・交渉していいものか分からず…悩んだまま半年の稼働期間を終了しました。<br>次の案件を探す際にネットで検索し、みらいワークスという会社を見つけました。面談で悩んでいた内容も含めて話をしてみると、実際の業務範囲や条件面についてまで、みらいワークスが先方のクライアント企業と調整してもらえるということで、非常に安心して案件に参画することができました。<br>おかげさまで今は紹介してもらったプロジェクトに対して安心して仕事をすることができており、みらいワークスには非常に感謝しています。<br>私と同じように業務範囲や条件面の相談先に困るフリーランスが多いと思うので、そのような人にぜひおすすめしたいサービスです。</p>
<p class="open" data-id="open_04"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_07.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">戦略系コンサルタント・女性</p>
<h5>クライアント企業との強いパイプライン。<br class="sp_none">他の案件紹介会社にはない独自の案件を紹介してくれました</h5>
<p class="voice" id="open_05" style="display: none; clear: both;">コンサルティングファームからフリーランスに転身して2年目。複数の案件紹介サービスを利用し「戦略系コンサルタント」として案件に参画しています。<br>みらいワークスから提案もらう案件は非常に豊富で、さまざまな業界・規模のものがあります。フリーランスコンサルタント向けの案件紹介会社の中で唯一の上場企業だからなのか、クライアント企業との信頼関係が厚いようで、他社では紹介されないような好条件の案件も紹介してもらえています。<br>先方クライアント企業の社風・プロジェクトの雰囲気などもしっかりと把握した上で紹介してくれるので、情報収集の観点でもとても助かっています。<br>またみらいワークスでの面談を通じて、自分自身は「すでに整っている企業」よりも「これから創り上げていく企業」の方が、仕事でより力を発揮できることを改めて認識することができました。そのような自分だけでは気づくことができなかった特長も見つけられるなど、みらいワークスのサービスにはとても満足しています。今は業界の第一線で急成長しているベンチャー企業で参画中です。</p>
<p class="open" data-id="open_05"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_08.png" width="152" alt=""/></figure>
<!--/box--></div>
<!--/voice_wrapper--></div>
<!--/auto--></div>
<!--/conts_voice--></section>
<section id="conts_flow">
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">FLOW</p>
<h3>ご利用の流れ</h3>
<!--/title_box--></div>
<p class="sub_text wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">ご登録後、案件のご紹介まではスピーディーに対応しています。（最短即日で案件のご紹介も）<br>案件・プロジェクトの稼働終了後には、企業からのフィードバックをお伝えしています。<br>その後のフリーランス活動において、更なるご活躍につなげていただくことを目的としています。</p>
<div class="flow_wrapper">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_09.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 1.</span>ご登録</h5>
<p class="text">下記登録フォームより必要事項をご入力ください。<br>今すぐの稼働をお考えではない方も、お気軽にご登録ください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_10.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 2.</span>面談</h5>
<p class="text">ご登録後にお送りいただくレジュメを拝見し、案件紹介が可能な方と面談を実施しております。面談時には経歴・経験・スキル、希望条件などをお伺いします。所要時間は60分前後で、遠方の方はSkypeでも可能です。</p>
<p class="caution">※案件の状況により、全ての方と面談させていただくわけではありません。ご了承ください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_11.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 3.</span>案件紹介</h5>
<p class="text">希望にマッチした案件情報を抽出し、専門のコーディネーターより詳細をご説明します。案件への参画可否や希望条件の変更などは、適宜お受けしています。お気軽にご相談ください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_12.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 4.</span>エントリー</h5>
<p class="text">ご紹介した案件への参画意思を確認させていただき、参画の場合は正式に企業へのエントリーの手配をします。</p>
<p class="caution">※ご紹介案件に必ずエントリーする必要はありません。<br>ご希望にマッチした場合のみ、エントリーください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_13.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 5.</span>契約・参画</h5>
<p class="text">参画する企業との対面ミーティングを実施後、契約・案件への参画となります。<br>稼働期間中、円滑に業務を遂行できるように、弊社コーディネーターがサポートします。また稼働終了後には参画企業からのフィードバックをお伝えしています。</p>
<!--/text_box--></div>
<!--/box--></div>
<!--/flow_wrapper--></div>
<!--/auto--></div>
<!--/conts_flow--></section>
<section id="conts_contact">
<div class="bg_title title_box">
<div class="slide_in_image"><p class="eng_text oswald wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">CONTACT</p>
<h3 class="wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">簡単1分で無料会員登録</h3></div>
<!--/bg_title--></div>
<div class="auto">
<div class="form_box">
<p class="text">コンサル登録後は<font color="#ff0000"><strong>レジュメをご提出</strong></font>いただき、専門コーディネーターより<font color="#ff0000"><strong>面談の日程調整についてご連絡</strong></font>をさせていただきます。<br class="sp_none">まずは下記のフォームからご登録ください。入力完了後、確認ボタンを押して入力内容を確認していただき、送信してください。
<br><br><font color="#191970">※ご登録者様全員と面談実施するわけではありませんので、予めご了承ください。
<br>※既に登録がお済みの方の再登録は不要です。（ご登録済の方のご質問は<a href="<%= contact_ja_url %>" style="display:inline" target="_blank"><u>コチラ</u></a>よりお願いします。）</font></p>

<%= render 'form', form:, landing_page: %>

<!--
<script>
$(function() {
  $('form').submit(function() {
    $("[type=submit]").prop('disabled', 'true');
  });
});
</script>
-->
<script>
function onsubmit(){
  $(function() {
    $("[type=submit]").prop('disabled', 'true');
  });
}
</script>

<!--/form_box--></div>
<!--/auto--></div>
<!--/conts_contact--></section>
<!--/contents--></div>
<footer>
<div class="bg_area"></div>
<div class="auto">
<div class="wrapper">
<p class="logo"><a href="https://mirai-works.co.jp/" target="_blank"><img src="img/logo_02.png" width="252" alt="mirai works 株式会社 みらいワークス"/></a></p>
<p class="right_logo"><img src="img/logo_03.png" width="48" alt="JPT 東証グロース上場 株式会社 みらいワークス"/></p>
<ul class="footer_link">
<li><a href="https://mirai-works.co.jp/" target="_blank">運営会社</a></li>
<li><a href="https://freeconsultant.jp/terms" target="_blank">利用規約</a></li>
<li><a href="https://mirai-works.co.jp/privacy-entry/" target="_blank">プライバシーポリシー</a></li>
</ul>
<!--/wrapper--></div>
<!--/auto--></div>
<p class="copy">&copy; Mirai Works Inc. All Rights Reserved.</p>
</footer>
<!--/container--></div>
<!--▼▼画像スライドイン▼▼-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
(function($){

	$(window).on('load scroll', function(){
		var elem = $('.slide_in_image:not(.movie_title)'),isPlay = 'isPlay';
		elem.each(function () {
			var $this = $(this);
			if( $this.hasClass(isPlay) ){
				return true;
			}

    		var elemOffset = $(this).offset().top;
    		var scrollPos = $(window).scrollTop();
    		var wh = $(window).height();
		    if(scrollPos > elemOffset - wh + (wh / 4)){
      			$(this).addClass(isPlay);
    		}
  		});
	});

})(jQuery);
</script>
<!--▲▲画像スライドイン▲▲-->
<!--▼▼表示領域▼▼-->
<script src="js/wow.min.js"></script>
  <script>
      new WOW().init();
  </script>
<!--▲▲表示領域▲▲-->
<!--▼▼プルダウン▼▼-->
<script>
;(function($){
	$(function(){
		var img = new Image();
		img.src="./img/icon_06_2.png";
		$('[data-id]').on('click',function(){
		    var $this=$(this),dataID = $this.attr('data-id'),$cursor=$this;
			$('#'+dataID).slideToggle(function(){
                var img = $cursor.find('span').css('background-image');
                if( ! $cursor.hasClass("open_text") ){
                    $cursor.addClass("open_text").find('span').css({"background-image": "url(./img/icon_06_2.png)"}).text("閉じる");
                } else {
                    $cursor.removeClass("open_text").find('span').css({"background-image": "url(./img/icon_06.png)"}).text("続きを読む")
                }
            });
		});
	});
})(jQuery);
</script>
<!--▲▲プルダウン▲▲-->
<!--▼▼slide▼▼-->
<script src="js/jquery.bxslider.js"></script>
<script>
;(function($){
    var setBxSlider = function(){
        if( $('.bxslider .slide').length > 1 ) {
            slider = $('.bxslider').bxSlider({
                mode: 'fade',
				auto: stop,
                //auto:false=1image auto:true=2images
                speed: 500,
                pause: 5000,
                //onSlideAfter: function () { slider.startAuto(); },
                responsive: true,
                controls: true,
                touchEnabled: true,
                oneToOneTouch: true,
                preventDefaultSwipeX: true
            });
            return slider;
        } else {
        	return undefined;
        }
	};
	if( $.fadePage ){
		var s = setBxSlider();
		$(window).on('PageLoadComplete',function(){
			if( s ) setBxSlider();
		})
	} else {
	    setBxSlider();
	}
})(jQuery);
</script>
<!--▲▲Slide▲▲-->

<!--
<script src="js/validate/jquery.validate.min.js" ></script>
<script src="js/validate.custom.js"></script>
<script>
    (function($){
        $('form').customvalidate({
            rules: {
                'お名前（姓）': {
                    required: true
                },
                'お名前（名）': {
                    required: true
                },
                '電話番号' : {
                    required: true,
                    telephone: true
                },
                'メールアドレス': {
                    required: true,
                    email: true
                },
                area1: {
                    required: true
                }
            },
            messages: {
                'お名前（姓）' : {
                    required: "お名前(姓)は必須項目です。",
                },
                'お名前（名）' : {
                    required: "お名前(名)は必須項目です。"
                },
                '電話番号' : {
                    required: "電話番号を入力してください。",
                    telephone: "電話番号を半角数字(ハイフンなし)で入力してください。"
                },
                'メールアドレス': {
                    required: "メールアドレスを入力してください。",
                    email: "メールアドレスを正しく入力してください。"
                },
                area1 : {
                    required: "希望勤務地を選択してください。"
                }
            },

            submitHandler: function(form) {
              onsubmit();
              return true;
            }

        });
    })(jQuery);
</script>
-->

</body>
</html>
