    <section>
      <h1 class="page-ttl js-fadein">
        <span class="main-ttl">ご応募ありがとうございました</span>
      </h1>
      <div class="sec sec-full sec-pb-large">
        <div class="sec-txt s-txt-center">
          ご登録いただいたメールアドレス宛に担当者から連絡させていただきます。<br>
          ご応募いただいた案件は<a href="<%= mypage_fc_entries_path %>" class="c-red link-border-bottom">応募履歴</a>から確認することができます。
        </div>
        <div class="s-txt-center s-mt-20">
          <a href="<%= projects_path %>" class="btn btn-theme-02-outline bs-normal">
            他の案件を探す
          </a>
        </div>
      </div>
    </section>
