<%= testid('v2022/fc_users/passwords') %>
  <main class="content">
    <h1 class="page-ttl">
      <span class="main-ttl">お取引企業様 パスワード発行</span>
    </h1>
    <section>
      <div class="sec sec-full sec-pb-large">
        <div class="sec-txt s-txt-center">
          パスワード設定用のメールを送信しました。
        </div>
        <div class="sec-txt s-txt-center">
          メールが届かない場合は <a href="<%= help_registration_email_url %>" target="_blank" rel="noopener noreferrer">こちら</a>
        </div>
        <div class="s-txt-center s-mt-50">
          <a href="<%= root_path %>" class="btn btn-theme-02 bs-long">
            <span>トップページへ戻る</span>
          </a>
        </div>
      </div>
    </section>
  </main>
  <a href="#page-top" class="pagetop jsPageTop">
    <i class="bicon-chevron-t"></i>
  </a>
