    <section>
      <div class="sec sec-full sec-pt-large">
        <h2 class="sec-ttl js-fadein">
          <span class="main-ttl">業務領域から探す</span>
          <span class="sub-ttl">OCCUPATION</span>
        </h2>
        <ul class="tile-list column4 js-fadein">
          <%= yield %>
          </ul>
        </div>
        <div class="s-txt-center">
          <a href="javascript:void(0);" class="btn btn-theme-02 bs-normal jsAccordionOpen" onclick="accordionBoxViewChange(0);">
            <i class="bicon_plus"></i>
            その他の業務領域
          </a>
          <a href="javascript:void(0);" class="btn btn-theme-02 bs-normal s-d-hidden jsAccordionClose" onclick="accordionBoxViewChange(1);">
            <i class="bicon_minus"></i>
            閉じる
          </a>
        </div>
      </div>
    </section>
