          <li>
            <a href="<%= mypage_root_path %>">
              <span class="main-ttl">マイページ</span>
              <span class="sub-ttl">MY PAGE</span>
            </a>
          </li>
          <li class="no-line">
            <a href="<%= mypage_fc_settings_path %>">
              <span class="main-ttl">設定情報</span>
              <span class="sub-ttl">SETTINGS</span>
            </a>
          </li>
