@charset "UTF-8";
/* =======================================================
*  sitemap.css
* ======================================================= */

.page-sitemap {
  .sitemap-ttl {
    position: relative;
    display: block;
    border-bottom: 2px solid $black221;
    font-size: 1.3em;
    margin-bottom: 1em;
    padding: 1em 3em 1em 0;
    transition: color .4s ease, opacity .4s ease;
    width: 100%;

    @include mq() {
      font-size: 1.5em;
      margin-bottom: 1em;
      padding: 1.2em 3em 1em 0;
    }

    &.line2sp {
      @include mq(sp) {
        font-size: .9em;
        line-height: 1.2;
        padding: 0.8em 0;
      }
    }

    &.line2 {
      @include mq() {
        font-size: 1em;
        line-height: 1.2;
        padding: 0.8em 0;
      }
    }

    span {
      letter-spacing: 0;
    }
  }

  .sitemap-wrap {
    li {
      line-height: 2em;
      text-indent: -1em;
      padding-left: 1em;
    }
  }

  .sitemap-group-head {
    letter-spacing: .1em;
    margin-bottom: .5em;
    font-weight: 700;
    font-size: 1.15em;
    background: $black240;
    padding: .75em;

    .icon-layers {
      color: $color01;
      margin-right: .5em;
    }

    a {
      color: $black;
      text-decoration: underline;
    }
  }

  .sitemap-group {
    margin-bottom: 2em;

    ul {
      @include mq() {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        @include mq() {
          margin-right: 2%;
          width: 23%;
        }
        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

        }
      }
    }

    i {
      color: $black;
    }
  }

  .sitemap-group-sub {
    padding-left: 1em;
    margin-bottom: 1em;

    @include mq() {
      line-height: 2em;
      margin-bottom: 3em;
    }

  }
}
