<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PMG2FW');</script>
<!-- End Google Tag Manager -->
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-31032962-1', 'auto');
  ga('require', 'GTM-PRXW3MP');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
<script>
window.addEventListener('DOMContentLoaded', function(e){
  if (document.querySelector('.form-errors')) {
    location.hash="regist";
  }
});
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>フリーコンサルタント.jp － 関西エリア（大阪・京都・兵庫）で稼働希望されるフリーランスコンサルタントのための案件情報紹介サービス</title>

<meta name="description" content="フリーコンサルタント.jpは、PM/PMOコンサル・ITコンサル・戦略コンサル・マーケコンサルなど、プロフェッショナル人材向けの業務委託・フリーランス案件を豊富に取り扱っている、日本最大級の案件紹介サービスです。">
<meta name="Keywords" content="フリーランス,フリーコンサルタント,コンサルタント,業務委託,案件,募集,紹介,プロフェッショナル人材,プロ人材,フリーコンサルタント.jp,freeconsultant.jp,関西,大阪,京都,兵庫">
<meta property="og:type" content="website" >
<meta property="og:url" content="https://freeconsultant.jp/フリーコンサルタント関西/" >
<meta property="og:title" content="フリーコンサルタント.jp － 関西エリア（大阪・京都・兵庫）での稼働を希望しているフリーランスコンサルタントのための案件情報紹介サービス" >
<meta property="og:description" content="フリーコンサルタント.jpは、PM/PMOコンサル・ITコンサル・戦略コンサル・マーケコンサルなど、プロフェッショナル人材向けの業務委託・フリーランス案件を豊富に取り扱っている、日本最大級の案件紹介サービスです。" >
<meta property="og:image" content="https://freeconsultant.jp/img/og.jpg" >
<meta property="og:site_name" content="フリーコンサルタント.jp" >
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="https://freeconsultant.jp/img/og.jpg">
<meta name="robots" content="noindex" />
<link rel="canonical" href="https://freeconsultant.jp/フリーコンサルタント関西/"/>
<link rel="start" href="/" title="ホーム" />
<link rel="shortcut icon" href="/common/images/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" type="text/css" href="css/reset.css" media="all">
<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" media="all">
<link rel="stylesheet" type="text/css" href="css/main.css" media="all">
<link rel="stylesheet" type="text/css" href="css/sp.css" media="all">
<link rel="stylesheet" type="text/css" href="css/custom.css" media="all">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap&subset=japanese" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/animate.css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
<noscript>
<link rel="stylesheet" type="text/css" href="css/noscript.css" media="all">
</noscript>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--▼▼ページ全体のフェードイン▼▼-->
<script src="js/jquery.fadepage.js"></script>
<!--▲▲ページ全体のフェードイン▲▲-->
<!--▼▼ページトップ▼▼-->
<script src="js/fadein_pagetop.js"></script>
<!--▲▲ページトップ▲▲-->
<style>
@media all and (-ms-high-contrast: none){
#conts_top ul li .gold {
background-image: none !important;
color:#BEA561 !important;}
}
</style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMG2FW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!--▼▼ページ全体のフェードイン▼▼-->
<div id="fade-window"></div>
<!--▲▲ページ全体のフェードイン▲▲-->
<p id="back-top"><a href="#top"><img src="img/page_top.png" alt="ページの上部へ" /></a></p>
<div id="container">
<header>

<h1>
<div id="top-logo">
<a href="#header"><img src="img/logo_01.png" width="431" alt="フリーランスのプロフェッショナル人材専門の案件紹介サービス Free Consultant.jp&reg;"/></a>
</div>
</h1>

<p class="contact_btn sp_none"><a href="#conts_contact"><span class="inner">無料会員登録</span></a></p>
<nav class="pc_navi sp_none">
<ul>
<li><a href="#conts_characteristics">サービスの特徴</a></li>
<li><a href="#conts_advantage">強みとメリット</a></li>
<li><a href="#conts_project">ご紹介案件例</a></li>
<li><a href="#conts_voice">利用者の声</a></li>
<li><a href="#conts_flow">利用までの流れ</a></li>
</ul>
</nav>
</header>

<div id="header"></div>

<div id="slider_bg">
<p class="scroll oswald sp_none"><a href="#contents">Scroll Down</a></p>
<div class="slide_in_image"><div id="slider">
<div id="theTarget" class="bxslider">
<div class="slide_01 slide"></div>
<div class="slide_02 slide"></div>
<!--/theTarget--></div>
<!--/slider--></div></div>
<!--/slider_bg--></div>
<div id="contents">
<section id="conts_top">
<div class="auto">
<h2 class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1.5s">関西エリアでの稼働を希望している<br>フリーランスコンサルタントのための<br><span class="big">案件紹介サービス</span></h2>
<p class="sub_title wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1.5s">案件探しの手間を省き、効率的に希望に合った案件を探せる</p>
<div class="mv-inner">
    <img src="./img/naito_lp2.png" alt="イメージキャラクター" class="mv-img-human" style="height: auto;">
<ul class="wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="2s">
<li><span class="gold"><span class="number">850</span>社以上</span>の<br>取引企業実績</li>
<li>月額<span class="gold"><span class="number">200</span>万円以上</span><br>高額案件が豊富</li>
<li><span class="gold"><span class="number">18,000</span>名以上</span><span class="small">※</span><br>日本最大級の登録者数<span class="caution">※2023年6月末時点の登録者数</span></li>
</ul>
<p class="contact_btn"><a href="#conts_contact"><span class="inner"><span class="small">最短即日でご希望の案件をご紹介</span><br>無料会員登録はこちら</span></a></p>
<!--/mv-inner--></div>
<!--/auto--></div>
<!--/conts_top--></section>
<!--▼▼スマホナビ▼▼-->
<nav class="sp_navi pc_none">
<table>
<tr>
<td><a href="#conts_characteristics">サービスの特徴</a></td>
<td class="half"><a href="#conts_advantage">強みとメリット</a></td>
<td><a href="#conts_project">ご紹介案件例</a></td>
</tr>
<tr>
<td><a href="#conts_voice">利用者の声</a></td>
<td><a href="#conts_flow">利用までの流れ</a></td>
<td><a href="#conts_contact">無料会員登録</a></td>
</tr>
</table>
</nav>
<!--▲▲スマホナビ▲▲-->
<section id="conts_characteristics">
<p class="top_text mincho wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.5s">「フリーコンサルタント.jp」は、業務委託・フリーランスの<br class="sp_none"><span class="red">プロフェッショナル人材</span>向け案件の取り扱い数が日本最大級。<br class="sp_none"><span class="red">関西エリアでの案件情報</span>も多数取り扱っています。</p>
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">CHARACTERISTICS</p>
<h3>サービスの特徴</h3>
<!--/title_box--></div>
<div class="detail_area">
<div class="block ch_01">
<div class="ch_title wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="ch_number">特徴<span class="number oswald">01</span></p>
<h4>関西での稼働を希望する<br class="sp_none">フリーランスの方の<br class="sp_none"> “案件探し＝営業活動” を<br class="sp_none">代行するサービス</h4>
<!--/title--></div>
<div class="text_box">
<p class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s">フリーランスの方の多くは自分の希望に合った案件の開拓に苦労しています。特に稼働中は案件開拓の時間を確保できず、リリース後の稼働案件を見つけられないケースも多くなっています。<br>「フリーコンサルタント.jp」は案件開拓にかかるお手間を代行します。必要な時に希望の案件をご提供することで、フリーランスの方がさまざまなフィールドで活躍できる世界観を目指しています。</p>
<!--/text_box--></div>
<!--/block--></div>
<div class="block ch_02">
<div class="ch_title wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="ch_number">特徴<span class="number oswald">02</span></p>
<h4>フリーコンサルタント.jp<br class="sp_none">ならでは！<br>稼働開始後の<br class="sp_none">フォローを徹底</h4>
<!--/title--></div>
<div class="text_box">
<p class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s">「フリーコンサルタント.jp」では、フリーランスの方に案件をご紹介して終わりでなく、継続的にさまざまな案件で活躍いただくため、稼働後のフォローに力を入れています。<br>悩みや課題など感じたことをお聞きし、より活躍いただける案件のご紹介に活かしています。その結果、多くのフリーランスの方から継続的にご利用いただいています。</p>
<!--/text_box--></div>
<!--/block--></div>
<!--/detail_area--></div>
<div class="graphic_area">
<h4 class="wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s"><span class="inner">こんなお悩みを解決する<br>“案件探し”＆”稼働後フォロー”<br class="pc_none">が充実！</span></h4>
<div class="info_graphic">
<div class="wrapper left">
<div class="box box_01 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="yellow_text">案件探しを代行</p>
<div class="text_box">
<p class="number oswald">01</p>
<p class="text">忙しくて案件を<br class="pc_none">探す<br class="sp_none">時間がない</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_01.png" width="89" alt=""/></figure>
<!--/box--></div>
<div class="box box_02 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">02</p>
<p class="text">誰か代わりに<br class="pc_none">案件<br class="sp_none">探して<br class="pc_none">くれないかな…</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_02.png" width="131" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<div class="wrapper right">
<div class="box box_03 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">03</p>
<p class="text">みらいワークスが<br>案件ご紹介</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_03.png" width="246" alt=""/></figure>
<!--/box--></div>
<div class="box box_04 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">04</p>
<p class="text">希望にマッチした<br>案件が見つかる</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_04.png" width="232" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<div class="wrapper left">
<div class="box box_05 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">05</p>
<p class="text">希望にマッチした<br>案件で稼働開始</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_05.png" width="189" alt=""/></figure>
<!--/box--></div>
<div class="box box_06 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="yellow_text">稼働後のフォローを徹底</p>
<div class="text_box">
<p class="number oswald">06</p>
<p class="text">稼働後の悩みや<br>課題などを<br class="pc_none">ヒアリング</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_06.png" width="146" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<div class="wrapper right">
<div class="box box_07 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">07</p>
<p class="text">さらに希望に<br class="sp_none">マッチした活躍できる<br class="sp_none">案件をご紹介</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_07.png" width="195" alt=""/></figure>
<!--/box--></div>
<div class="box box_08 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">08</p>
<p class="text">新しい案件で<br>さらなる活躍を実現</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_08.png" width="131" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<!--/info_graphic--></div>
<!--/graphic_area--></div>
<!--/auto--></div>
<!--/conts_characteristics--></section>

<section id="conts_advantage">
<div class="bg_title title_box">
<div class="slide_in_image"><p class="eng_text oswald wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">ADVANTAGE</p>
<h3 class="wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">サービスの強みとメリット </h3></div>
<!--/bg_title--></div>
<div class="auto">
<div class="wrapper">
<div class="box">
<p class="point oswald">POINT.01</p>
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="1s">
<h4>“現場責任者との強いパイプライン”<br>
独自の非公開案件も多数。<br>
他社にはない好条件の案件に出会えます。</h4>
<p class="text">フリーランスのアサインは企業の現場責任者が決定しているケースがほとんどです。<br>「フリーコンサルタント.jp」は長いサービス展開の歴史から豊富な実績を残しているため、現場責任者との関係性が強くなっています。そのため他社にはない独自の案件を依頼されるケースが多くなっています。</p>
<!--/text_box--></div>
<figure class="img"><div class="slide_in_image"><img src="img/illust_14.jpg" width="298" alt=""/></div></figure>
<!--/box--></div>
<div class="box">
<p class="point oswald">POINT.02</p>
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="1s">
<h4>取引企業数850社以上！<br class="pc_none">関西エリアの企業も多数！<br>
人気の “短期・スポット案件” や、<br>
月額報酬 “200万円以上” の案件も多数。</h4>
<p class="text">大手・優良企業を中心に多種多様な案件を取り扱っています。（日本最大級）<br>そのため、人気のスポット案件や月額報酬200万円以上（※稼働率に依り変動）の案件など、さまざまな希望条件にお応えできる案件のご紹介が可能です。また人気のリモートワークやテレワークや、週2,3日稼働のスポット稼働が可能な短期コンサル案件もご用意しております。</p>
<!--/text_box--></div>
<figure class="img"><div class="slide_in_image"><img src="img/illust_15.jpg" width="298" alt=""/></div></figure>
<!--/box--></div>
<div class="box">
<p class="point oswald">POINT.03</p>
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="1s">
<h4>サービス登録者数は18,000名以上！<br>
豊富なマッチングノウハウで<br>
最適な案件をスピーディーにご紹介します。</h4>
<p class="text">多くのプロフェッショナルなフリーランスの方をご支援した実績から、豊富なマッチングノウハウを保持しています。そのため、お持ちのスキル・ご経験にマッチした案件をスピーディーにご紹介できる強みがあります。稼働後、多くの方から満足の声を頂戴しています。</p>
<!--/text_box--></div>
<figure class="img"><div class="slide_in_image"><img src="img/illust_16.jpg" width="298" alt=""/></div></figure>
<!--/box--></div>
<!--/wrapper--></div>
<!--/auto--></div>
<!--/conts_advantage--></section>
<div class="btn_box sp_none">
<h4>希望条件に合った案件をお探しの方</h4>
<p class="contact_btn"><a href="#conts_contact"><span class="inner"><span class="small">最短即日でご希望の案件をご紹介</span><br>無料会員登録はこちら</span></a></p>
<!--/btn_box--></div>
<section id="conts_project">
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">PROJECT</p>
<h3>ご紹介案件例</h3>
<!--/title_box--></div>
<dl class="sub_title wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<dt>「ご登録いただいた方にのみ」<br class="pc_none">ご紹介可能な非公開案件が多数！<br><span class="small">非公開な案件が多い理由とは？</span></dt>
<dd>フリーランスのプロフェッショナル人材を活用している企業は、<br class="sp_none">極秘のプロジェクト・新規事業などを競合に知られずにスピーディーに推進したいという意図があります。<br class="sp_none">そのため、案件の多くは非公開案件として「フリーコンサルタント.jp」に依頼されています。</dd>
</dl>
<div class="project_wrapper">
<div class="swiper-container">
<ul class="swiper-wrapper" style="align-items: flex-end;">

<li class="swiper-slide">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>【兵庫県勤務】大企業におけるwebマーケ戦略策定</h5>
<table>
<tr>
<th>職種</th>
<td>WEBマーケティング</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>100～150万円/月</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>兵庫県</td>
</tr>
<tr>
<th>稼働期間</th>
<td>3か月間から半年間</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>エンドクライアントの組織体制を理解し、関連部署へのヒアリングを行ないます。
<br>現状を踏まえ、SNS運用方法およびグローバルページのブランディングにおけるフレームワークを設計、提案する業務。</dd>
</dl>
<!--/box--></div>
</li>

<li class="swiper-slide">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>【大阪府勤務・稼働率30％】人事制度見直し業務支援</h5>
<table>
<tr>
<th>職種</th>
<td>人材評価制度コンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～100万円/月</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>大阪府</td>
</tr>
<tr>
<th>稼働期間</th>
<td>2か月間</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>外食サービス業を営むクライアントの人事制度に関する案件支援者として参画。
<br>既存の人事制度（人事＆評価）を見直したばかりだが、実態に合っていないため再構築を行なう業務。</dd>
</dl>
<!--/box--></div>
</li>

<li class="swiper-slide">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>【愛知県勤務】Office365構築・移行プロジェクト（PM補佐）</h5>
<table>
<tr>
<th>職種</th>
<td>ITコンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～100万円/月</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>愛知県</td>
</tr>
<tr>
<th>稼働期間</th>
<td>10ヶ月間</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>大手商社の情報システム子会社にて、PMとしてプロジェクト推進を補佐して参画。
<br>Office365（メールシステム、Teams、会議室予約システム）の構築、移行する業務。</dd>
</dl>
<!--/box--></div>
</li>

<li class="swiper-slide">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>【リモート案件】新規医療モール入居ドクターの探索・マッチング</h5>
<table>
<tr>
<th>職種</th>
<td>医療コンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～100万円/月</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>リモート（関西エリア）</td>
</tr>
<tr>
<th>稼働期間</th>
<td>短中期間</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>某医療モール事業者のプロジェクト。新規医療モール入居ドクターの探索・マッチング業務。
<br>＜内容＞
新規独立開業の予定がある医師、または希望する可能性のある医師（新規開拓も可）と繋がりを持ち、新規医療モールに入居要件を満たす希望ドクターを探してマッチングする業務。</dd>
</dl>
<!--/box--></div>
</li>

<li class="swiper-slide">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>【関西勤務】関西企業でSAPの業務コンサルタントおよびインプリコンサルタント募集</h5>
<table>
<tr>
<th>職種</th>
<td>SAPコンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～200万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>関西エリア</td>
</tr>
<tr>
<th>稼働期間</th>
<td>長期を想定</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>某大手IT系企業で上流フェーズから実装までのSAPコンサルティング業務。
<br>(1)SAP業務コンサルタントとして、導入における上流フェーズのコンサルティング業務。社内業務を理解し、構想策定の遂行業務。複数名募集。
<br>(2)同時に上記の構想策定を受けて、導入に向けてのBASISメンバーも募集。テクニカル設計スキルを活かし、導入計画をする業務。まで複数名募集。
<br>(3)加えて導入を実際に行なうインプリコンサルタントも複数名募集。</dd>
</dl>
<!--/box--></div>
</li>

<li class="swiper-slide">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>【大阪支社】ソフトウエア系企業でのERPパッケージシステム構築支援／IT系のPM</h5>
<table>
<tr>
<th>職種</th>
<td>ITコンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～100万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>大阪府</td>
</tr>
<tr>
<th>稼働期間</th>
<td>長期を想定</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>大阪の某ソフトウエア会社でERPパッケージシステムを構築支援を行なうITコンサルティング業務。<br>パッケージ製品の導入/開発経験を活かし、PMかつプレイングマネージャーとして携わる業務。</dd>
</dl>
<!--/box--></div>
</li>

<li class="swiper-slide">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>【関西勤務】工場内のIoTセンサーデータの収集・集約アプリケーション開発支援</h5>
<table>
<tr>
<th>職種</th>
<td>ITコンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>応相談（～100万円）</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>関西エリア</td>
</tr>
<tr>
<th>稼働期間</th>
<td>6ヵ月間</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>某大手IT系コンサルティング会社のプロジェクト。エンドクライアントのデバイス系企業に入り、工場内のIoTを推進する部署でアプリケーション開発を支援。具体的には、工場稼働率・歩留まりの改善を目的とした、生産ラインの製造装置からのセンサーデータを収集・分析するアプリケーションの開発を支援。そのアプリケーションを現場の工場に展開させるまでを担う業務。</dd>
</dl>
<!--/box--></div>
</li>

<li class="swiper-slide">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="white_bg">
<h5>【名古屋勤務】某大手企業でのBizRoboを用いたRPA開発・導入支援</h5>
<table>
<tr>
<th>職種</th>
<td>ITコンサルタント</td>
</tr>
<tr>
<th>報酬金額<br class="pc_none">（月額）</th>
<td>～100万円</td>
</tr>
<tr>
<th>勤務地<br class="pc_none">（都道府県）</th>
<td>愛知県</td>
</tr>
<tr>
<th>稼働期間</th>
<td>3ヵ月間</td>
</tr>
</table>
<!--/white_bg--></div>
<dl class="detail">
<dt>業務内容</dt>
<dd>BizRoboを用いたRPAの開発・導入を進めている某大手企業で、開発・導入の支援業務。
<br>どのような業務にRPAを適用すべきかといった評価の結果を元に、要件定義・ロボット開発・テスト実施業務。
</dd>
</dl>
<!--/box--></div>
</li>
</ul>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>

<!--/project_wrapper--></div>
<!--/auto--></div>
<!--/conts_project--></section>
<div class="btn_box sp_none">
<h4>非公開案件に興味がある方</h4>
<p class="contact_btn"><a href="#conts_contact"><span class="inner"><span class="small">最短即日でご希望の案件をご紹介</span><br>無料会員登録はこちら</span></a></p>
<!--/btn_box--></div>
<section id="conts_voice">
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">VOICE</p>
<h3>サービスをご利用<br class="pc_none">いただいた方の声</h3>
<!--/title_box--></div>
<p class="sub_text wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">「フリーコンサルタント.jp」は、通常の業務委託・フリーランスのプロフェッショナル人材の方はもちろん、<br class="sp_none">起業してご自分の会社をお持ちの方が、本業での資金作りのために案件に参画されているケースもあります。</p>
<div class="voice_wrapper">
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">ITコンサルタント・女性</p>
<h5>初めてのフリーランス、<br class="sp_none">自分のキャリアの幅を広げられる案件を紹介してくれました</h5>
<p class="voice" id="open_01" style="display: none; clear: both;">事業会社からコンサルティングファームへ転職した経歴から、40歳になる前に初めてフリーランスになりました。元々独立したいと思っていた理由は「よりお客様に近い立場で価値発揮することでお客様の役に立ちたい」という想いからでした。
<br>初めてのフリーランスということで、案件の探し方など何から始めていいか分からない状態でした。そんな時にネットで見つけて登録した数社の内の1社がみらいワークスでした。自分のキャリアからすると、紹介もらえる案件は今まで経験してきた基幹システムを導入する案件のみかと思っていましたが、実は以前からRPA領域に興味があり独学で勉強していた旨を、みらいワークスの面談で話してみると、未経験でもチャレンジできるRPA関連の案件を紹介してくれました。
<br>みらいワークスのおかげで新たな領域にチャレンジすることができ、自分のキャリアの幅を広げることができたので非常に満足しています。</p>
<p class="open" data-id="open_01"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_08.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">SAPコンサルタント・男性</p>
<h5>業界的に2次請け・3次請けの案件が多い中で、<br class="sp_none">みらいワークスのb紹介案件はエンド直・プライムベンダー案件が多数</h5>
<p class="voice" id="open_02" style="display: none; clear: both;">フリーランスのSAPコンサルタントとして10年以上活動していますが、参画する案件はプライムベンダーと私との間に契約上会ったこともない会社が2・3社も入る案件ばかりでした。間に入っている会社が何をしているのか、何の意味があるのかなど、疑問に感じることが多々ありました。
<br>そんな中、ふとしたきっかけでみらいワークスに案件の相談をする機会がありました。営業担当の方と話してみると、みらいワークスも同じ問題意識を持っていて、実際に稼働するフリーランスのためにエンドクライアント、またはプライムベンダーと直接契約できる案件しか取り扱わないと決めているとのことでした。
<br>実際に案件の紹介を受けてから、クライアントとの打ち合わせも一度で済み、案件参画後もクライアントとのやり取りがスムーズで、気持ちよくパフォーマンスを発揮できています。</p>
<p class="open" data-id="open_02"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_07.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">ITプロジェクトマネジメント支援・男性</p>
<h5>クライアント企業に業務範囲や条件面を代行して調整・交渉してくれるので、<br class="sp_none">安心して参画できました</h5>
<p class="voice" id="open_03" style="display: none; clear: both;">以前参画していたクライアント先では、2ヵ月目、3ヵ月目となるにつれて、当初任されていた業務内容に加え、若手の育成や全体のマネジメント、他拠点対応なども徐々に任されるようになりました。役に立てて嬉しい反面、同待遇のまま業務範囲（と残業時間）が増えていくことを、誰にどう相談・交渉していいものか分からず…悩んだまま半年の稼働期間を終了しました。
<br>次の案件を探す際にネットで検索し、みらいワークスという会社を見つけました。面談で悩んでいた内容も含めて話をしてみると、実際の業務範囲や条件面についてまで、みらいワークスが先方のクライアント企業と調整してもらえるということで、非常に安心して案件に参画することができました。
<br>おかげさまで今は紹介してもらったプロジェクトに対して安心して仕事をすることができており、みらいワークスには非常に感謝しています。
<br>私と同じように業務範囲や条件面の相談先に困るフリーランスが多いと思うので、そのような人にぜひおすすめしたいサービスです。</p>
<p class="open" data-id="open_03"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_07.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">PM/PMOコンサルタント・女性</p>
<h5>おかげさまでフリーランスとしての<br class="sp_none">順調なスタートを切れました</h5>
<p class="voice" id="open_04" style="display: none; clear: both;">フリーランス転向をして友人が立ち上げた会社で働くことになりましたが、週3日程度は時間が空くため、フリーランスとしての経験値を積むためにもう少し働きたいと考えていました。そんな時にネット検索で見つけたのがみらいワークスでした。
<br>面談の段階ですぐにPMO案件を紹介してもらい、すぐに稼働できた点は個人的にとても助かりました。
<br>プロジェクトは新しいシステム周りのPMO支援案件で、これまでの経験を活かして働くことができました。経験値を積むためにはとてもマッチした案件で、無事最初の3ヵ月のプロジェクトを全うすることができました。
<br>フリーランスとしてまだまだ日は浅いですが、経験を積んでいく上で色々と気軽に相談できますし、案件紹介の希望を汲み取ってくれるので、これからもみらいワークスを利用できればと思っています。</p>
<p class="open" data-id="open_04"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_08.png" width="152" alt=""/></figure>
<!--/box--></div>
<!--/voice_wrapper--></div>
<!--/auto--></div>
<!--/conts_voice--></section>
<section id="conts_flow">
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">FLOW</p>
<h3>ご利用の流れ</h3>
<!--/title_box--></div>
<p class="sub_text wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">ご登録後、案件のご紹介まではスピーディーに対応しています。（最短即日で案件のご紹介も）<br>案件・プロジェクトの稼働終了後には、企業からのフィードバックをお伝えしています。<br>その後のフリーランス活動において、更なるご活躍につなげていただくことを目的としています。</p>
<div class="flow_wrapper">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_09.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 1.</span>ご登録</h5>
<p class="text">下記登録フォームより必要事項をご入力ください。<br>今すぐの稼働をお考えではない方も、お気軽にご登録ください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_10.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 2.</span>面談</h5>
<p class="text">ご登録後にお送りいただくレジュメを拝見し、案件紹介が可能な方と面談を実施しております。面談時には経歴・経験・スキル、希望条件などをお伺いします。所要時間は60分前後で、遠方の方はSkypeでも可能です。</p>
<p class="caution">※案件の状況により、全ての方と面談させていただくわけではありません。ご了承ください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_11.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 3.</span>案件紹介</h5>
<p class="text">希望にマッチした案件情報を抽出し、専門のコーディネーターより詳細をご説明します。案件への参画可否や希望条件の変更などは、適宜お受けしています。長期で稼働されたい方、スポットでの短期稼働を希望される方、リモートワークやテレワークといった職場と離れた場所で働きたい方など、登録する皆様はそれぞれ事情が異なりますので、お気軽にコーディネーターまでご相談ください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_12.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 4.</span>エントリー</h5>
<p class="text">ご紹介した案件への参画意思を確認させていただき、参画の場合は正式に企業へのエントリーの手配をします。</p>
<p class="caution">※ご紹介案件に必ずエントリーする必要はありません。<br>ご希望にマッチした場合のみ、エントリーください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_13.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 5.</span>契約・参画</h5>
<p class="text">参画する企業との対面ミーティングを実施後、契約・案件への参画となります。<br>稼働期間中、円滑に業務を遂行できるように、弊社コーディネーターがサポートします。また稼働終了後には参画企業からのフィードバックをお伝えしています。</p>
<!--/text_box--></div>
<!--/box--></div>
<!--/flow_wrapper--></div>
<!--/auto--></div>
<!--/conts_flow--></section>
<section id="conts_contact">
<div class="bg_title title_box">
<div class="slide_in_image"><p class="eng_text oswald wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">CONTACT</p>
<h3 class="wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">簡単1分で無料会員登録</h3></div>
<!--/bg_title--></div>
<div class="auto">
<div class="form_box">
<p class="text">コンサル登録後は<font color="#ff0000"><strong>レジュメをご提出</strong></font>いただき、専門コーディネーターより<font color="#ff0000"><strong>面談の日程調整についてご連絡</strong></font>をさせていただきます。<br class="sp_none">まずは下記のフォームからご登録ください。入力完了後、確認ボタンを押して入力内容を確認していただき、送信してください。
<br><br><font color="#191970">※ご登録者様全員と面談実施するわけではありませんので、予めご了承ください。
<br>※既に登録がお済みの方の再登録は不要です。（ご登録済の方のご質問は<a href="<%= contact_ja_url %>" style="display:inline" target="_blank"><u>コチラ</u></a>よりお願いします。）</font></p>
<%= render 'form', form:, landing_page: %>
<!--/form_box--></div>
<!--/auto--></div>
<!--/conts_contact--></section>
<!--/contents--></div>
<footer>
<div class="bg_area"></div>
<div class="auto">
<div class="wrapper">
<p class="logo"><a href="https://mirai-works.co.jp/" target="_blank"><img src="img/logo_02.png" width="252" alt="mirai works 株式会社 みらいワークス"/></a></p>
<p class="right_logo"><img src="img/logo_03.png" width="48" alt="JPT 東証グロース上場 株式会社 みらいワークス"/></p>
<ul class="footer_link">
<li><a href="https://mirai-works.co.jp/" target="_blank">運営会社</a></li>
<li><a href="https://freeconsultant.jp/terms" target="_blank">利用規約</a></li>
<li><a href="https://mirai-works.co.jp/privacy-entry/" target="_blank">プライバシーポリシー</a></li>
</ul>
<!--/wrapper--></div>
<!--/auto--></div>
<p class="copy">&copy; Mirai Works Inc. All Rights Reserved.</p>
</footer>
<!--/container--></div>
<!--▼▼画像スライドイン▼▼-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
(function($){


	$(window).on('load scroll', function(){
		var elem = $('.slide_in_image:not(.movie_title)'),isPlay = 'isPlay';
		elem.each(function () {
			var $this = $(this);
			if( $this.hasClass(isPlay) ){
				return true;
			}

    		var elemOffset = $(this).offset().top;
    		var scrollPos = $(window).scrollTop();
    		var wh = $(window).height();
		    if(scrollPos > elemOffset - wh + (wh / 4)){
      			$(this).addClass(isPlay);
    		}
  		});
	});

})(jQuery);
</script>
<!--▲▲画像スライドイン▲▲-->
<!--▼▼表示領域▼▼-->
<script src="js/wow.min.js"></script>
  <script>
      new WOW().init();
  </script>
<!--▲▲表示領域▲▲-->
<!--▼▼プルダウン▼▼-->
<script>
;(function($){
	$(function(){
		var img = new Image();
		img.src="./img/icon_06_2.png";
		$('[data-id]').on('click',function(){
		    var $this=$(this),dataID = $this.attr('data-id'),$cursor=$this;
			$('#'+dataID).slideToggle(function(){
                var img = $cursor.find('span').css('background-image');
                if( ! $cursor.hasClass("open_text") ){
                    $cursor.addClass("open_text").find('span').css({"background-image": "url(./img/icon_06_2.png)"}).text("閉じる");
                } else {
                    $cursor.removeClass("open_text").find('span').css({"background-image": "url(./img/icon_06.png)"}).text("続きを読む")
                }
            });
		});
	});
})(jQuery);
</script>
<!--▲▲プルダウン▲▲-->
<!--▼▼slide▼▼-->
<script src="js/jquery.bxslider.js"></script>
<script>
;(function($){
    var setBxSlider = function(){
        if( $('.bxslider .slide').length > 1 ) {
            slider = $('.bxslider').bxSlider({
                mode: 'fade',
				auto: stop,
                //auto:false=1image auto:true=2images
                speed: 500,
                pause: 5000,
                //onSlideAfter: function () { slider.startAuto(); },
                responsive: true,
                controls: true,
                touchEnabled: true,
                oneToOneTouch: true,
                preventDefaultSwipeX: true
            });
            return slider;
        } else {
        	return undefined;
        }
	};
	if( $.fadePage ){
		var s = setBxSlider();
		$(window).on('PageLoadComplete',function(){
			if( s ) setBxSlider();
		})
	} else {
	    setBxSlider();
	}
})(jQuery);
</script>
<!--▲▲Slide▲▲-->

<!--
<script src="js/validate/jquery.validate.min.js" ></script>
<script src="js/validate.custom.js"></script>
<script>
    (function($){
        $('form').customvalidate({
            rules: {
                family_name: {
                    required: true,
                },
                personal_name: {
                    required: true,
                },
                telephone : {
                    required: true,
                    telephone: true,
                },
                email: {
                    required: true,
                    email: true
                },
                agree: {
                    required: true
                }
            },
            messages: {
                family_name : {
                    required: "お名前(姓)は必須項目です。",
                },
                personal_name : {
                    required: "お名前(名)は必須項目です。"
                },
                telephone : {
                    required: "電話番号を入力してください。",
                    telephone: "電話番号を半角数字(ハイフンなし)で入力してください。",
                },
                email: {
                    required: "メールアドレスを入力してください。",
                    email: "メールアドレスを正しく入力してください。"
                },
                agree: {
                    required: "個人情報の取扱いの同意をチェックしてください。"
                }
            }
        });
    })(jQuery);
</script>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
<script>
   var swiper = new Swiper ('.swiper-container', {
     loop: true,
     paginationClickable: true,
     nextButton: '.swiper-button-next',
     prevButton: '.swiper-button-prev',
   });
</script>

</body>
</html>
