          <li class="is-sub jsSubNav">
            <a href="javascript:void(0)">
              <span class="main-ttl">案件を見つける</span>
              <span class="sub-ttl">SEARCH</span>
            </a>
            <div class="global-nav-sub wide jsSubNavOpen">
              <div class="s-flex-between">
                  <%= popular %>
                  <%= featured %>
              </div>
              <a href="<%= projects_path %>" class="btn btn-theme-01">すべての案件から探す</a>
            </div>
          </li>
