<%= testid('content/blogs/show')%>
    <div class="sec sec-full">
      <div class="content-wrapper">
        <div class="content-main">
          <%= cell(Content::BlogCell, blog).call(:detail) %>
        </div>
        <div class="content-sidebar s-pt-30">
          <%= cell(Content::BlogsCell, latest_contents).call(:latest_blog) %>
        </div>
      </div>
    </div>
    <section class="sec-theme-03 sec-mt-medium">
      <%= cell(Content::ProjectsCell, recruiting_projects).call(:show) %>
    </section>
