          <div>
            <span class="page-count">検索結果</span>
            <span class="page-number"><%= projects.total_count %></span><span class="page-count">件中</span>
          </div>
          <div>
            <span class="page-number"><%= projects.count %></span><span class="page-count">件を表示</span>
          </div>
