        <% FeatureSwitch.enabled? :temporary_disabled, :recommended_articles do %>
              <h4><a href="https://freeconsultant.jp/column/c372/">「【SAPコンサルタント必読】SAP4HANAとERPの違いや導入メリットと将来性を整理」</a></h4>
        <% end %>
