          <a href="<%= project_path(model) %>" class="news-list-item">
            <div class="news-list-ttl">
              <span class="date"  style="width: auto;"><%= project_date %></span> <%= project_name %>
            </div>
          </a>
