              <a href="<%= post_link %>" rel="noopener noreferrer" target="_blank"  class="news-list-item">
                <div class="news-list-ttl">
                  <span class="date"><%= post_title %></span><%= post_content_text.truncate(50) %>
                </div>
              </a>
