    <div class="step-progress mt60 sp-mt40">
        <div class="line">
          <div class="line-progress-50per active"></div>
          <div class="line-progress-50per active"></div>
        </div>
        <div class="circle-bar active">
          <p class="fs-14 c-white noto-bold">入力</p>
        </div>
        <div class="circle-bar active">
          <p class="fs-14 c-white noto-bold">確認</p>
        </div>
        <div class="circle-bar active">
          <p class="fs-14 c-white noto-bold">完了</p>
        </div>
      </div>
      <div class="g-width-700 mt55 sp-mt40">
        <p class="fs-14 noto-m c-gray t-center l-h-1-71">この度はお問い合わせいただき、<br class="sp-only">ありがとうございました。<br>お問い合わせの内容について確認させていただき、近日中に担当よりご連絡いたします。
        </p>
        <p class="fs-12 noto-m c-gray t-center l-h-1-71">※内容確認のメールもお送りしております。<br class="sp-only">あわせてご確認ください。</p>
        <div class="btn-wrapper mt57 sp-mt35">
          <a href="<%= root_path %>" class="btn btn-type03 bg-red c-white w-260 l-h-1-25">トップページへ戻る</a>
        </div>
      </div>
    </div>
