    <div class="sec sec-full sec-pb-ex">
      <nav class="navigation pagination" role="navigation">
        <div class="nav-link">
          <%= paginate scope, theme: 'default' %>
        </div>
      </nav>
    </div>
