                <a href="<%= edit_mypage_fc_settings_ml_reject_path %>" class="btn btn-theme-02 bs-small jsModalOpen" data-target="form-magazine">
                  <i class="feather icon-check-circle"></i>
                  利用中
                </a>
