<%= testid('mypage/fc/settings/ml_reject/show') %>
            <div class="list-dl column1-sp">
              <dl>
                <dt>メルマガ</dt>
                <dd>
                  <div>メルマガを受け取る</div>
                </dd>
                <div class="list-edit-btn">
                  <%= toggle_button %>
                </div>
              </dl>
            </div>
