    <section class="sec-strength sec-theme-01 sec-mt-large">
      <div class="sec sec-full sec-pt-large">
        <h2 class="sec-ttl js-fadein">
          <span class="main-ttl">私達の強み</span>
          <span class="sub-ttl">STRENGTH</span>
        </h2>
        <div class="strength-box">
          <div class="strength-item strength1">
            <div class="strength-content">
              <div class="strength-catch">
                01. VARIETY OF PROJECTS
              </div>
              <div class="strength-ttl">
                850社以上の取引実績<br>多種多様な案件をご提供
              </div>
              <div class="strength-txt">
                株式会社みらいワークスが運営するFree Consultant.jpは「フリーランスのプロフェッショナル人材向け案件紹介サービス」のパイオニアとしての強みを活かし、大手優良・中規模・ベンチャーなど、さまざまな企業と取引実績があります。多種多様な業界・業務領域の案件情報を取り扱っており、日本最大級18,000名以上のプロフェッショナル人材にご登録いただいています。
              </div>
            </div>
            <a href="<%= service_page_path %>" class="btn btn-theme-02 bs-normal">
              サービスの特徴
            </a>
          </div>
          <div class="strength-item strength2">
            <div class="strength-content">
              <div class="strength-catch">
                02. REDUCED EFFORT
              </div>
              <div class="strength-ttl">
                案件開拓・営業活動を代行<br>案件探しの手間を削減
              </div>
              <div class="strength-txt">
                多くのフリーランスが苦労している稼働案件の開拓・営業活動。「FreeConsultant.jp」では、あなたがお持ちの経験・スキル・希望をお伺いし、その条件にマッチした案件情報をご提案しています。高いマッチングノウハウを持った経験豊富なコーディネーターがおりますので、案件探しの手間が削減できます。
              </div>
            </div>
            <a href="<%= staff_page_path %>" class="btn btn-theme-02 bs-normal">
              経験豊富なスタッフ
            </a>
          </div>
          <div class="strength-item strength3">
            <div class="strength-content">
              <div class="strength-catch">
                03. APPLICATION ROUTES
              </div>
              <div class="strength-ttl">
                2つの案件ご応募ルートで<br>あなたをサポート
              </div>
              <div class="strength-txt">
                Free Consultant.jpは、案件への応募ルートを2つご用意しています。Web上から多種多様な検索条件を指定できる「案件への直接応募」。ご登録情報やご希望条件を吟味しご提案する「営業担当からの案件紹介」。どちらのルートもマッチング精度は日々改善。プロ人材のみなさまにご満足いただけるよう、努力を惜しみません。スクリーン リーダーのサポートが有効になっています。
              </div>
            </div>
            <a href="<%= service_flow_page_path %>" class="btn btn-theme-02 bs-normal">
              案件ご参画までの流れ
            </a>
          </div>
        </div>
      </div>
    </section>
