          <div class="sec-content event-topics">
            <h2 class="title"><span class="c-red">Related</span> projects</h2>
            <div class="flex head-type01 mt10">
              <p>関連案件</p>
            </div>
            <div class="flex-box mt40 sp-mt40">
              <ul class="flex flex-type01 flex-2">
                <%= list_thanks_related %>
              </ul>
            </div>
          </div>
