<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>フリーランスでご活躍いただける上流ITエンジニア募集中! - あおぞらネット銀行 みらいワークス</title>
<meta name="description" content="株式会社みらいワークスは、GMOあおぞらネット銀行と戦略的パートナーシップを締結し、人材の面からイノベーション推進を支援します。">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="start" href="/" title="ホーム" />
<link rel="stylesheet" type="text/css" href="css/style.css">

<meta property="og:type" content="website" >
<meta property="og:url" content="https://freeconsultant.jp/lp/gmo/" >
<meta property="og:title" content="フリーランスでご活躍いただける上流ITエンジニア募集中! - あおぞらネット銀行 みらいワークス" >
<meta property="og:description" content="株式会社みらいワークスは、GMOあおぞらネット銀行と戦略的パートナーシップを締結し、人材の面からイノベーション推進を支援します。" >
<meta property="og:image" content="img/img-ogp.png" >
<meta property="og:site_name" content="フリーコンサルタント.jp" >
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="img/img-ogp.png">
<meta name="robots" content="noindex" />
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PMG2FW');
</script>
<!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMG2FW"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <!--ヘッダー-->
    <header class="display-block-h hide-btn">
        <nav>
            <p class="logo-area"><a href="https://freeconsultant.jp/" target="_blank"><img src="img/logo-freeconsultant.png" width="431" alt="フリーランスのプロフェッショナル人材専門の案件紹介サービス Free Consultant.jp&reg;"></a></p>
            <ul>
                <li><a href="#conts-background">背景</a></li>
                <li><a href="#conts-message">メッセージ</a></li>
                <li><a href="#conts-flow">利用までの流れ</a></li>
                <li><a href="#conts-project">募集職種</a></li>
                <li class="registration-area"><a href="#conts-contact"><span>無料会員登録</span></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="display-area">
            <div class="registration-area-sp display-block hide-btn">
                <p class="btn-area"><a href="#conts-contact"><span>無料会員登録はこちら</span></a></p>
            </div>
            <!--メインビジュアル-->
            <section class="main-visual-block">
                <div class="main-txt-area">
                    <ul>
                        <li class="fadeInTrigger"><img src="img/logo-aozoranetbank.png" alt="GMOあおぞらネット銀行"></li>
                        <li class="fadeInTrigger delay-time01"><img src="img/logo-miraiworks.svg" alt="MIRAI WORKS"></li>
                    </ul>
                    <h1><span class="fadeUpTrigger delay-time04"><em class="fadeUpTrigger delay-time05">フリーランス<b>で</b>ご活躍<b>いただける</b><br>上流ITエンジニア<b>を</b>募集中！</em>エンジニアの、エンジニアによる、エンジニアのための<br class="pc-view">No.1テクノロジーバンクを目指す、GMOあおぞらネット銀行で<br class="pc-view">活躍いただけるエンジニアを募集しています。<br class="pc-view">Fintechやネット銀行のシステム開発に興味をお持ちの方は是非ご応募ください。<br>
                      <a href="#conts-contact">まずはFreeConsultant.jpに無料登録！</a></h1>
                    <p class="fadeUpTrigger delay-time06">FreeConsultant.jpは株式会社みらいワークスが運営する業務委託・フリーランスのプロフェッショナル人材向けの案件紹介サービスです。<br class="pc-view">人材採用によるイノベーション推進を目的としてGMOあおぞらネット銀行と戦略的パートナーシップを締結しました。</p>
                    <p class="attention-area zoomOutTrigger delay-time07">金融業界<br>未経験者歓迎!!</p>
                    <div class="registration-area display-block hide-btn">
                        <p class="btn-area"><a href="#conts-contact"><span>無料会員登録はこちら</span></a></p>
                        <p class="btn-area seminar"><a href="https://mirai-works.co.jp/business-pro/seminar/gmo-aozora.it-engineer" target="_blank"><span>7/25開催予定の説明会に<br>参加希望の方はこちら</span></a></p>
                    </div>
                </div><!--/.main-txt-area-->
                <div class="main-visual-area"></div>
            </section><!--/.main-visual-block-->

            <div class="anchor-link-area-sp">
                <ul>
                    <li><a href="#conts-background"><span>背景</span></a></li>
                    <li><a href="#conts-message"><span>メッセージ</span></a></li>
                    <li><a href="#conts-flow"><span>利用までの流れ</span></a></li>
                    <li><a href="#conts-project"><span>募集職種</span></a></li>
                </ul>
            </div><!--/.anchor-link-area-sp-->

            <!--背景-->
            <section class="background-block">
                <div class="heading-area" id="conts-background">
                    <h2><span class="fadeInTrigger delay-time02">背景</span><strong class="fadeInTrigger delay-time04">GMOあおぞらネット銀行の<br>ビジネス成長に寄与して参ります</strong></h2>
                </div><!--/.heading-area-->
                <div class="background-area">
                    <p>当社は、「プロフェッショナル人材が挑戦するエコシステムを構築する」をビジョンに掲げ、人生 100 年時代に、プロフェッショナル人材がライフステージに応じて、「独立、起業、副業、転職」といった働き方や「都市、地方」といった働く場所を自由に選択できる社会創りを目指して複数のサービスを展開しています。サービスの一つである、独立プロフェッショナル人材の為のマッチングサービス『 <a href="https://freeconsultant.jp/" target="_blank">FreeConsultant.jp</a> 』は、高度な専門知識やスキルを保有するプロフェッショナル人材と企業をマッチングさせ、システム導入、DX推進、経営戦略立案、新規事業推進、業務効率化、M＆A等、さまざまな経営課題の解決をハンズオンでサポートしています。</p>
                    <p>今後、当社の独立テック・プロ人材がGMOあおぞらネット銀行のプロジェクトのメンバーの一員として、サービス開発を推進し、利便性の高いサービスの創出・提供に寄与してまいります。</p>
                    <p class="img-area "><span class="bgextendTrigger bgLRextendTrigger"><img class="bgappearTrigger" src="img/img-photo01.jpg" alt="プロフェッショナル人材"></span></p>
                </div><!--/.background-area-->
                <div class="outline-area">
                    <div class="company-area">
                        <h3>GMOあおぞらネット銀行株式会社 概要</h3>
                        <dl>
                            <dt>本社</dt>
                            <dd>本店 東京都渋谷区</dd>
                            <dt>代表者</dt>
                            <dd>代表取締役会長 金子岳人<br>
                                代表取締役社長 山根武</dd>
                            <dt>設立</dt>
                            <dd>1994年2月 ※日債銀信託銀行として</dd>
                            <dt>資本金</dt>
                            <dd>216億2,995万円 (2022年10月28日現在)</dd>
                            <dt>URL</dt>
                            <dd><a href="https://gmo-aozora.com/" target="_blank">https://gmo-aozora.com/</a></dd>
                            <dt>事業内容</dt>
                            <dd>インターネット銀行サービス</dd>
                        </dl>
                    </div><!--/.company-area-->
                    <div class="company-area">
                        <h3>株式会社みらいワークス 概要</h3>
                        <dl>
                            <dt>本社</dt>
                            <dd>東京都港区</dd>
                            <dt>代表者</dt>
                            <dd>代表取締役社長 岡本祥治</dd>
                            <dt>設立</dt>
                            <dd>2012年3月</dd>
                            <dt>資本金</dt>
                            <dd>68,315千円 (2023年3月31日時点)</dd>
                            <dt>URL</dt>
                            <dd><a href="https://www.mirai-works.co.jp/" target="_blank">https://www.mirai-works.co.jp/</a></dd>
                            <dt>事業内容</dt>
                            <dd>プロフェッショナルに特化した人材サービスとソリューションサービスを提供<br>
                                登録プロフェッショナル68,000名、クライアント4,800社 (グループ総計、2023年3月31日時点)</dd>
                        </dl>
                    </div><!--/.company-area-->
                </div><!--/.outline-area-->
                <div class="want-area ">
                    <h3>こんな方はぜひご登録ください</h3>
                    <ul>
                        <li>システム開発の上流工程まで携わりたい方</li>
                        <li>前例のないことにチャレンジしていける方</li>
                        <li>”リスクテイク”で突き進むことができる方</li>
                        <li>ITシステム全体の理解を深めたいと考えている方</li>
                    </ul>
                </div><!--/.want-area-->
                <div class="registration-block">
                    <ul>
                        <li>長期で参画していただける方歓迎</li>
                        <li>業務委託から正社員採用へのパスもあります</li>
                    </ul>
                    <div class="registration-area display-block hide-btn">
                        <p class="btn-area"><a href="#conts-contact"><span>無料会員登録はこちら</span></a></p>
                        <p class="btn-area seminar"><a href="https://mirai-works.co.jp/business-pro/seminar/gmo-aozora.it-engineer" target="_blank"><span>7/25開催予定の説明会に<br>参加希望の方はこちら</span></a></p>
                    </div><!--/.registration-area-->
                </div><!--/.registration-block-->
            </section><!--/.background-block-->

            <!--メッセージ-->
            <section class="message-block">
                <div class="heading-area" id="conts-message">
                    <h2><span class="fadeInTrigger delay-time02">メッセージ</span><strong class="fadeInTrigger delay-time04">GMOあおぞらネット銀行は<br>テックファーストな銀行として<br>イノベーションに取り組んでいます</strong></h2>
                </div><!--/.heading-area-->
                <div class="about-block">
                    <h3 class="headline"><span>究極のテックバンク<br class="sp-view">サービスを目指す</span></h3>
                    <p>GMOあおぞらネット銀行は、「すべてはお客さまのために。No.1テクノロジーバンクを目指して」をコーポレートビジョンに掲げ、次世代型テックバンクとしてシステム開発を内製化することで、お客さまに寄り添った金融・決済サービスをスピード感をもって提供しています。</p>
                    <p>中長期の戦略として3つの大きな柱を掲げ、“お客さまのビジネスの成長＝GMOあおぞらネット銀行の成長”として、共に成長する銀行であるべく、新たなシステムの開発や、サービスの提供を推進しています。</p>
                    <p class="strategy-area fadeUpTrigger delay-time02"><img src="img/img-3-major-pillars.png" alt="3つの大きな柱 スモール＆スタートアップ企業向け銀行No.サービスNo.1、テックファーストな銀行No.1"></p>
                    <p class="strategy-area-sp fadeUpTrigger delay-time02"><img src="img/img-3-major-pillars-sp.png" alt="3つの大きな柱 スモール＆スタートアップ企業向け銀行No.サービスNo.1、テックファーストな銀行No.1"></p>
                </div><!--/.about-block-->
                <div class="about-block">
                    <h3 class="headline"><span>エンジニアファーストな銀行を<br class="sp-view">共に創るプロ人材を募集</span></h3>
                    <p>エンジニアの、エンジニアによる、エンジニアのための未来型銀行を目指し、“究極のテックバンクサービス”を提供します。デジタル化が進む現代社会において、お客さまに寄り添った金融·決済サービスをスピーディーに提供するためには、エンジニアの力が不可欠です。そのためには、銀行自らがエンジニアファーストな企業となり、挑戦をリードする企業となり、挑戦し続ける「銀行エンジニア集団」を構築します。</p>
                    <h4>この業務に向けて<br class="sp-view">次の3つに着手</h4>
                    <p class="strategy-area public-promise fadeUpTrigger delay-time02"><img src="img/img-commitment.png" alt="エンジニアが働きたい銀行 スエンジニア仲間づくり、エンジニアが働きたくなる環境整備、エンジニアによるビジネスリードの加速"></p>
                    <p class="strategy-area-sp public-promise fadeUpTrigger delay-time02"><img src="img/img-commitment-sp.png" alt="エンジニアが働きたい銀行 スエンジニア仲間づくり、エンジニアが働きたくなる環境整備、エンジニアによるビジネスリードの加速"></p>
                </div><!--/.about-block-->
                <div class="about-block">
                    <h3 class="headline"><span>Co-Creation(共創)で働く<br class="sp-view">エンジニアチーム</span></h3>
                    <h4>お客さま/ビジネスチーム/<br class="sp-view">エンジニアチームが<br class="sp-view">Co-Creationし合える環境</h4>
                    <p>金融業界に関わらず、プロジェクトの進行には、担当者ごとに業務を細分化し進めることが多いですが、一人で担当する業務にばかり目がいってしまい、全体を把握できないといったことも起こりがちです。当社では、お客さま/ビジネスチーム/エンジニアチームがCo-Cretaion(共創)体制をとり、お客さまの声をスピーディにサービスの企画・開発に生かしています。</p>
                    <h4>内製化を徹底する環境</h4>
                    <p>多くの銀行は、開発を外注し、エンジニアの主な役割は「SIerをマネージすること」という場合が多く見受けられます。当社の場合、多くの部分を内製化しており、ご自身で開発を行う機会が多くあります。今後、当社が目指す方向において、テクノロジーバンクとして改革していかなければならない場面が多くありますが、その分、スキルを積むことができ、社内だけでなく市場価値の高い人材にキャリアアップできる環境です。</p>
                </div><!--/.about-block-->
                <div class="about-block">
                    <h3 class="headline"><span>GMOあおぞらネット銀行での<br class="sp-view">キャリア形成</span></h3>
                    <div class="case-block">
                        <ul>
                            <li class="fadeUpTrigger delay-time02">
                                <h3>エンジニアスキルを常にアップデートできます</h3>
                                <p>当社では、サービスの企画やシステムの開発を内製化しているため、それを具現化させるためのエンジニアスキルは、常にアップデートが求められます。また、自身の裁量も大きく、やりがいを持って働いている方が多いです。</p>
                            </li>
                            <li class="fadeUpTrigger delay-time04">
                                <h3>エンジニアスキルだけではなく、ビジネスセンス・スキルも磨かれます</h3>
                                <p>当社では、新たなサービスを企画する際に、エンジニアだけではなく、ビジネスチームとのCo-Cretaion(共創)を行っています。そのため、お客さまからいただいた貴重なご意見をサービスに即反映するためエンジニア・ビジネスチーム間でフィードバックするなど、チームの垣根がない環境です。</p>
                            </li>
                            <li class="fadeUpTrigger delay-time06">
                                <h3>“らしくない銀行”を象徴する新たなサービスの企画・開発に一から携わることができます</h3>
                                <p>当社は、後発のネット銀行です。だからこそ「できること」があります。エンジニアが多数社内にいる強みを最大限に生かし、新しい銀行をつくるんだ！という気概をお持ちの方と一緒に、同じ方向を向いて新たな価値を世に生み出したいと思っています。</p>
                            </li>
                        </ul>
                    </div><!--/.case-block-->
                    </div><!--/.about-block-->
                
                <div class="want-area">
                    <h3>こんな方を求めています</h3>
                    <ul>
                        <li>システム開発の上流工程まで携わりたい方</li>
                        <li>前例のないことにチャレンジしていける方</li>
                        <li>”リスクテイク”で突き進むことができる方</li>
                        <li>ITシステム全体の理解を深めたいと考えている方</li>
                    </ul>
                </div><!--/.want-area-->
                <div class="registration-block">
                    <ul>
                        <li>長期で参画していただける方歓迎</li>
                        <li>業務委託から正社員採用へのパスもあります</li>
                    </ul>
                    <div class="registration-area display-block hide-btn">
                        <p class="btn-area"><a href="#conts-contact"><span>無料会員登録はこちら</span></a></p>
                        <p class="btn-area seminar"><a href="https://mirai-works.co.jp/business-pro/seminar/gmo-aozora.it-engineer" target="_blank"><span>7/25開催予定の説明会に<br>参加希望の方はこちら</span></a></p>
                    </div><!--/.registration-area-->
                </div><!--/.registration-block-->
            </section><!--/.message-block-->
            
            <!--利用までの流れ-->
            <section class="flow-block">
                <div class="heading-area" id="conts-flow">
                    <h2><span class="fadeInTrigger delay-time02">フロー</span><strong class="fadeInTrigger delay-time04">ご利用の流れ</strong></h2>
                </div><!--/.heading-area-->
                <div class="step-area">
                    <ol>
                        <li class="fadeUpTrigger delay-time02">
                            <p class="image-area"><img src="img/img-flow-01.png" alt="STEP 1. ご登録"></p>
                            <div>
                                <h3>STEP 1. ご登録</h3>
                                <p>下記登録フォームより必要事項をご入力ください。<br>
                                    今すぐの稼働をお考えではない方も、お気軽にご登録ください。</p>
                            </div>
                        </li>
                        <li class="fadeUpTrigger delay-time03">
                            <p class="image-area"><img src="img/img-flow-02.png" alt="STEP 2. 面談"></p>
                            <div>
                                <h3>STEP 2. 面談</h3>
                                <p>ご登録後にお送りいただくレジュメを拝見し、案件紹介が可能な方と面談を実施しております。面談時には経歴・経験・スキル、希望条件などをお伺いします。</p>
                                <p class="notes"><small>案件の状況により、全ての方と面談させていただくわけではありません。ご了承ください。</small></p>
                            </div>
                        </li>
                        <li class="fadeUpTrigger delay-time04">
                            <p class="image-area"><img src="img/img-flow-03.png" alt="STEP 3. 案件紹介"></p>
                            <div>
                                <h3>STEP 3. 案件紹介</h3>
                                <p>希望にマッチした案件情報を抽出し、専門のコーディネーターより詳細をご説明します。案件への参画可否や希望条件の変更などは、適宜お受けしています。お気軽にご相談ください。</p>
                            </div>
                        </li>
                        <li class="fadeUpTrigger delay-time05">
                            <p class="image-area"><img src="img/img-flow-04.png" alt="STEP 4. エントリー"></p>
                            <div>
                                <h3>STEP 4. エントリー</h3>
                                <p>ご紹介した案件への参画意思を確認させていただき、参画の場合は正式に企業へのエントリーの手配をします。</p>
                            </div>
                        </li>
                        <li class="fadeUpTrigger delay-time06">
                            <p class="image-area"><img src="img/img-flow-05.png" alt="STEP 5. 契約・参画"></p>
                            <div>
                                <h3>STEP 5. 契約・参画</h3>
                                <p>参画する企業との対面ミーティングを実施後、契約・案件への参画となります。稼働期間中、円滑に業務を遂行できるように、弊社コーディネーターがサポートします。また稼働終了後には参画企業からのフィードバックをお伝えしています。</p>
                            </div>
                        </li>
                    </ol>
                </div><!--/.step-area-->
                <div class="registration-block">
                    <ul>
                        <li>長期で参画していただける方歓迎</li>
                        <li>業務委託から正社員採用へのパスもあります</li>
                    </ul>
                    <div class="registration-area display-block hide-btn">
                        <p class="btn-area"><a href="#conts-contact"><span>無料会員登録はこちら</span></a></p>
                        <p class="btn-area seminar"><a href="https://mirai-works.co.jp/business-pro/seminar/gmo-aozora.it-engineer" target="_blank"><span>7/25開催予定の説明会に<br>参加希望の方はこちら</span></a></p>
                    </div><!--/.registration-area-->
                </div><!--/.registration-block-->
            </section><!--/.flow-block-->

            <!--ご紹介案件例-->
            <section class="project-block">
                <div class="heading-area" id="conts-project">
                    <h2><span class="fadeInTrigger delay-time02">募集職種</span><strong class="fadeInTrigger delay-time04">独立プロ・テック人材の<br class="sp-view">積極的採用を推進</strong></h2>
                </div><!--/.heading-area-->
                <div class="case-block">
                <h3 class="headline"><span>ご紹介案件例</span></h3>
                    <ul>
                        <li class="fadeUpTrigger delay-time02">
                            <h3>上流フロントシステムエンジニア</h3>
                            <dl>
                                <dt>業務内容</dt>
                                <dd>金融系業務の上流システムエンジニア</dd>
                                <dt>報酬金額</dt>
                                <dd>70万円 ～ 120万円 / 月<br>
                                    <small>報酬金額は100%稼働に換算した金額です。応相談。</small></dd>
                                <dt>勤務地</dt>
                                <dd>東京都23区内、リモート<br>
                                    (週3出社、週2在宅(出社の場合は都心))</dd>
                                <dt>勤務形態</dt>
                                <dd>一部リモート</dd>
                            </dl>
                        </li>
                        <li class="fadeUpTrigger delay-time03">
                            <h3>上流インフラエンジニア</h3>
                            <dl>
                                <dt>業務内容</dt>
                                <dd>サーバー／ストレージの設計／構築／テスト（主担当） 他</dd>
                                <dt>報酬金額</dt>
                                <dd>70万円 ～ 120万円 / 月<br>
                                    <small>報酬金額は100%稼働に換算した金額です。</small></dd>
                                <dt>勤務地</dt>
                                <dd>東京都23区内、リモート<br>
                                    (週の半分程度は出社(出社の場合は都心))</dd>
                                <dt>勤務形態</dt>
                                <dd>一部リモート</dd>
                            </dl>
                        </li>
                        <li class="fadeUpTrigger delay-time04">
                            <h3>組込型金融サービスおよびAPI推進における上流エンジニア</h3>
                            <dl>
                                <dt>業務内容</dt>
                                <dd>上流工程からリリースまでの一連の開発業務</dd>
                                <dt>報酬金額</dt>
                                <dd>70万円 ～ 120万円 / 月<br>
                                    <small>報酬金額は100%稼働に換算した金額です。</small></dd>
                                <dt>勤務地</dt>
                                <dd>東京都23区内、リモート<br>
                                    (週の半分程度は出社(出社の場合は都心))</dd>
                                <dt>勤務形態</dt>
                                <dd>一部リモート</dd>
                            </dl>
                        </li>
                        <li class="fadeUpTrigger delay-time05">
                            <h3>銀行システム運用エンジニア</h3>
                            <dl>
                                <dt>業務内容</dt>
                                <dd>システムの運用／保守業務／インシデント管理など</dd>
                                <dt>報酬金額</dt>
                                <dd>70万円 ～ 120万円 / 月<br>
                                    <small>報酬金額は100%稼働に換算した金額です。応相談。</small></dd>
                                <dt>勤務地</dt>
                                <dd>東京都23区内、リモート<br>
                                    (週の半分程度は出社(出社の場合は都心))</dd>
                                <dt>勤務形態</dt>
                                <dd>一部リモート</dd>
                            </dl>
                        </li>
                    </ul>
                </div><!--/.case-block-->
                <!--7月開催説明会のバナー-->
                <p class="bnr-area-pc"><a href="https://mirai-works.co.jp/business-pro/seminar/gmo-aozora.it-engineer" target="_blank"><img src="img/bnr-briefing-July.png" alt="7/25 説明会開催予定"></a></p>
                <p class="bnr-area-sp"><a href="https://mirai-works.co.jp/business-pro/seminar/gmo-aozora.it-engineer" target="_blank"><img src="img/bnr-briefing-July-sp.png" alt="7/25 説明会開催予定"></a></p>
            </section><!--/.project-block-->
        </div><!--/#display-area-->

        <!--会員登録-->
        <section class="contact-block">
            <div class="heading-area" id="conts-contact">
                <h2><span class="fadeInTrigger delay-time02">CONTACT</span><strong class="fadeInTrigger delay-time04">簡単1分で無料会員登録</strong></h2>
            </div><!--/.heading-area-->
            <p>登録後はレジュメをご提出いただき、専門コーディネーターより面談の日程調整についてご連絡をさせていただきます。<br>
                まずは下記のフォームからご登録ください。入力完了後、確認ボタンを押して入力内容を確認していただき、送信してください。</p>
            <ul class="notes">
                <li><small>ご登録者様全員と面談実施するわけではありませんので、予めご了承ください。</small></li>
                <li><small>既に登録がお済みの方の再登録は不要です。（ご登録済の方のご質問は<a href="https://contact.freeconsultant.jp/hc/ja" style="display:inline" target="_blank">コチラ</a>よりお願いします。）</small></li>
            </ul>
            <%= render 'form', form:, landing_page: %>
        </section><!--/.contact-block-->
    </main>

    <footer>
        <div>
            <p class="logo-mark"><a href="https://mirai-works.co.jp/" target="_blank"><img src="img/logo-miraiworks-white.svg" alt="mirai works 株式会社みらいワークス"/></a></p>
            <ul>
                <li><a href="https://mirai-works.co.jp/" target="_blank">運営会社</a></li>
                <li><a href="https://freeconsultant.jp/terms" target="_blank">利用規約</a></li>
                <li><a href="https://mirai-works.co.jp/privacy-entry/" target="_blank">プライバシーポリシー</a></li>
            </ul>
            <p class="jpx"><img src="img/img-jpx.png" width="48" alt="JPT 東証グロース上場 株式会社 みらいワークス"/></p>
        </div>
        <p class="copyright"><small>&copy; Mirai Works Inc. All Rights Reserved.</small></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
