        <% FeatureSwitch.enabled? :temporary_disabled, :recommended_articles do %>
        <div class="box-gray-6 mt77 sp-mt40">
          <p class="fs-16 noto-bold">こちらの記事もオススメです</p>
          <p class="fs-14 noto-m l-h-2 mt30 sp-mt15 ls-neg-05">
            「PMO転職に資格は必要か？その先に描くキャリアパスも合わせて解説」<br>
            <span class="c-red">「ITプロジェクトを成功へと導くPMOコンサルへ転職するには」</span><br><br class="sp-only">
            「プロジェクトマネジメント能力を証明！PMOを目指す人が取るべき4資格」<br>
            「チーム力倍増！プロジェクトマネージャー（PM）が身につけるべき傾聴スキル」<br>
            「信頼されるプロジェクトマネージャー（PM）は知っている　タイムマネジメントの基本」<br>
            「リスクマネジメントを極めて一歩先を行くプロジェクトマネージャー（PM）に！」<br>
            「できるプロジェクトマネージャー（PM）の必須スキル スコープマネジメントとは？」
          </p>
        </div>
        <% end %>
