                    <button <%= button_disabled(can_approve?) %> class="btn <%= button_color(:approve, can_approve?) %> btn-small jsModalOpen" data-target="modal" data-href="<%= mypage_client_direction_approve_path(model) %>"><%= button_label(:approve) %></button>
