<main>
  <div class="g-width">
    <%= render_breadcrumbs builder: Breadcrumbs::CustomBuilder %>
    <div class="g-width-700">
      <div class="box-type01 pad-tb15-imp sp-pad-25 mt60 sp-mt67">
        <p class="fs-14 noto-m">『FreeConsultant.jp』案件紹介サービスについて</p>
        <p class="fs-14 noto-l lh-1-71 mt10 ls-neg-08">サービスへの登録や案件紹介について、よくあるご質問を下記にまとめています。さらにご不明な点がございましたら、
          <a href="<%= new_case_path %>" class="link-border-bottom c-red mr3"> こちら</a> 宛てにお問い合わせください。
        </p>
      </div>
      <ul class="flex flex-a-start list-type02 by-3 mt50 sp-mt40">
        <li>
          <a href="#sec01" class="link-type01 arrow-down scroll">登録に関して</a>
        </li>
        <li>
          <a href="#sec02" class="link-type01 arrow-down scroll">サービス利用に関して</a>
        </li>
        <li>
          <a href="#sec03" class="link-type01 arrow-down scroll">案件および案件紹介に関して</a>
        </li>
        <li>
          <a href="#sec04" class="link-type01 arrow-down scroll">契約・報酬に関して</a>
        </li>
        <li>
          <a href="#sec05" class="link-type01 arrow-down scroll">サポート体制に関して</a>
        </li>
      </ul>
      <div id="sec01" class="mt80 sp-mt70">
        <h3 class="fs-16 noto-m">登録に関して</h3>
        <div class="toggle-box-list mt20">
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>現在在職中なのですが、登録できますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08 sp-ls-neg-1-2">もちろんです。在職中の方、または副業中の方でも登録いただけます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>現在別企業（サービス）経由で稼働中なのですが、登録またはサービス利用はできますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08  sp-ls-neg-1-2">もちろんです。現在稼働されている案件が終了した後に稼働する案件候補をご紹介させていただきます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>サービスへの登録はどのようにすればよいですか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08  sp-ls-neg-1-2">当サイトからご登録いただけます。こちら の登録フォームに必要事項を入力して、ご登録ください。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>登録した個人情報が外部に漏れることはありませんか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">弊社では、個人情報の保護・遵守を企業活動の最重要事項のひとつとして捉えております。お預かりした個人情報は、適切かつ合理的な安全管理をしております。また、職業紹介事業・フリーランス案件紹介において、企業による検索、求人・案件情報のご提供、企業への斡旋、セミナーのご案内など、当社のサービス提供に必要な範囲でのみ利用いたします。これ以外の目的では個人情報を利用いたしません。弊社のプライバシーポリシーは こちら からご確認いただけます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>登録情報は勤務先や案件応募した企業に閲覧されますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">ご登録内容およびレジュメの情報については、実際に企業へ提案する際に、マスキング（個人が特定できない状態）した上でご提出させていただきます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>登録から稼働開始までの大まかな流れを教えてください。</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer  sp-ls-neg-1-2">
                基本的には以下のような流れで可能まで進捗するようになります。<br>
                <ol class="ol-list">
                  <li>登録</li>
                  <li>レジュメのご提出</li>
                  <li>面談の実施</li>
                  <li>案件のご紹介</li>
                  <li>企業への提案</li>
                  <li>企業との打ち合わせ</li>
                  <li>参画（稼働）開始</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>登録後のレジュメの提出は必須でしょうか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">必須となります。<br>お持ちのスキル・ご経験・ご希望を確認させていただいた上で、その時点でご紹介できる案件があれば（タイミングに依って異なります）、面談をさせていただく流れとしております。案件がない中で面談までお越しいただくお手間を削減するためにも、レジュメのご提出を必須とさせていただいております。ご容赦くださいませ。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>登録・レジュメ提出後の面談ではどのようなことをするのか教えてください。</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08">面談では、ご提出いただいたレジュメの情報を元に、お持ちのスキル・ご経験についてより詳細な情報をお伺いしております。<br>
                また、参画されたい案件についてのご希望も併せてヒアリングさせていただき、案件紹介の際の精度向上につなげております。<br>※案件の状況により、すべての方と面談をさせていただくわけではございません。</div>
            </div>
          </div>
        </div>
      </div>
      <div id="sec02" class="mt60 sp-mt40">
        <h3 class="fs-16 noto-m">サービス利用に関して</h3>
        <div class="toggle-box-list mt20">
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>サービスへの登録および利用するのに何か料金はかかりますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08">登録は無料です。案件のご紹介および企業への参画まで一切の費用はかかりません。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>登録すると利用できるサービスにはどのようなものはありますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">レジュメのご提出および面談実施をさせていただいた後に、マイページへのログインが可能になります。ログイン状態に限りますが、サイト上に掲載されている案件に直接応募できるようになります。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>掲載中の案件に応募した後の流れを教えてください。</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer sp-ls-neg-1-2">案件に応募いただきましたら、弊社案件担当があなたのスキル・ご経験を拝見させていただき、<br>応募案件との親和性・マッチング度を確認いたします。<br>弊社案件担当から企業に提案させていただいた後、実際のお打合せへ進みます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>案件への直接応募に上限数はありますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08 sp-ls-neg-1-2">はい。同時に応募できる案件数は上限7件までとさせていただいております。<br>上限7件の応募可能枠の中で、直接応募いただく形になりまして、応募中案件からの辞退、<br>応募案件の進捗完了などによって、応募可能枠数が増減いたします。<br>例）案件7件に応募中の場合：追加で応募できませんが、1件辞退しますと1件応募可能なステータスに変更されます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>マイページが付与されるタイミングはいつですか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08">ご登録後、ご希望に合った案件があるのかを確認させていただくため、レジュメのご提出および面談の実施をお願いしております。面談実施後にマイページを付与させていただきます。<br>※案件の状況により、すべての方と面談をさせていただくわけではございません。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>メール配信の解除・停止およびサービス退会の方法について教えてください。</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">
                <ol class="ol-list">
                  <li>弊社からの情報提供メールの配信を解除・停止されたい方<br>こちら からメール配信の解除・停止の設定が可能です。</li>
                  <li>弊社営業担当からの案件ご紹介メールの配信を解除・停止されたい方<br>こちら からメール配信の解除・停止の設定が可能です。</li>
                  <li>弊社サービスからの完全退会をご希望の方<br>（付与させていただいている方に限り）マイページからいつでも退会手続きが可能です。退会手続きを行うと、ご登録頂いた個人情報、レジュメファイル等は、自動的に削除されます。削除後はデータの復旧はできかねますので、<br />予めご了承ください。</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>マイページにログインできません。どうしたらいいでしょうか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">
                入力いただいたメールアドレスまたはパスワードが設定されたものと異なっている可能性がございます。<br>
                <ol class="ol-list">
                  <li>ご登録時のメールアドレスをお忘れの場合<br>登録時に入力いただいたメールアドレスが不明な場合や、誤ったメールアドレスで登録してしまった場合は、こちらのお問い合わせフォームからお問い合わせください。</li>
                  <li>ご登録時のパスワードをお忘れの場合<br>こちらのパスワード再設定フォームに「登録時に入力いただいたメールアドレス」をご入力ください。</li>
                  <li>ID（メールアドレス）・パスワードの両方をお忘れの場合<br>お手数をお掛けしますが、上記の(1)(2)を各個別にご対応ください。</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3 class="ls-neg-08">マイページからログアウトしたい場合はどうすればよいでしょうか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">マイページの上部にある［設定］から［プロフィール］をクリックしてください。下部に［ログアウト］ボタンを設置しています。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>登録しているID（メールアドレス）の再設定・変更方法ついて教えてください。</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">
                <ol class="ol-list">
                  <li>変更前のID（メールアドレス）とパスワードでログインしてください。</li>
                  <li>マイページ上部の［設定］をクリックしてください。</li>
                  <li>［ログイン設定］にある［設定変更］をクリックしてください。</li>
                  <li>［現在のID］、［新しいID］、［新しいID（確認）］を入力してください。</li>
                  <li>［変更］ボタンをクリックして完了となります。</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3 class="ls-neg-08">登録しているパスワードの再設定・変更方法ついて教えてください。</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">
                <ol class="ol-list">
                  <li>変更前のID（メールアドレス）とパスワードでログインしてください。</li>
                  <li>マイページ上部の［設定］をクリックしてください。</li>
                  <li>［ログイン設定］にある［設定変更］をクリックしてください。</li>
                  <li>［現在のパスワード］、［新しいパスワード］、［新しいパスワード（確認）］を入力してください。</li>
                  <li>［変更］ボタンをクリックして完了となります。</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>「お気に入り」機能について教えてください。</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">案件への応募を検討いただく際、実際の応募前に気になった案件をリスト化しておくための機能です。お気に入りをしたことで、企業側に何か情報が展開されることはありません。</div>
            </div>
          </div>
        </div>
      </div>
      <div id="sec03" class="mt60 sp-mt40">
        <h3 class="fs-16 noto-m">案件および案件紹介に関して</h3>
        <div class="toggle-box-list mt20">
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>登録すれば必ず案件を紹介してくれるのでしょうか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08">ご希望条件やご経験内容などによっては、案件をご紹介できない場合がございます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3 class="ls-neg-08">どのような案件が多くありますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08 sp-ls-neg-1-2">多種多様なコンサルティング・プロジェクト案件を取り扱っています。経営・戦略、IT、マーケティング、各種PM・PMO、新規事業、業務改善、人材開発・組織設計、財務・経理、IPO支援など、各種上流・下流に携われる案件が豊富にございます。<br class="pc-only">大手からベンチャー・スタートアップまで、さまざまな業界の企業（480社以上）から案件をお任せいただいております。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>サイト上に公開されていない案件はありますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">企業の都合などにより、非公開で募集している案件も多数ございます。<br class="pc-only">なお、非公開案件のご紹介は弊社案件担当からのご案内のみとなります。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3 class="ls-neg-08">希望した案件の企業名およびエンドユーザー名は開示されますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">機密保持の観点から、商談が進んだフェーズ（参画先企業との打ち合わせ実施）までは開示できない場合がございます。<br>また、弊社で取り扱っている案件は機密性の高い案件が多いため、情報開示された場合でも企業名および業務内容は機密保持対象となります。<br>そのため、ご登録時に「機密保持契約」を締結させていただいております。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3 class="ls-neg-08">案件に応募したが何も連絡がありません。どうしたらよいでしょうか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">
                <ol class="ol-list">
                  <li>弊社の営業担当経由（弊社からのご提案）での応募の場合<br>大変お手数をお掛けしますが、やり取りをされている営業担当に直接お問い合わせください。または こちらまでメールでご連絡ください。</li>
                  <li>ご自身で直接案件に応募された場合<br>弊社よりご登録いただいているメールアドレス宛に、進捗・ステータスを確認できるメールが届いている可能性がございます。万が一、応募いただいてから7営業日経っても何もメールがなければ、大変お手数をお掛けいたしますが、こちらまでご連絡いただけますと幸いでございます。すぐに確認・対応させていただきます。</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3 class="ls-neg-08">現時点で御社が取り扱っている案件の中に、自分が希望にマッチする案件がなかった場合、 希望にマッチする案件が出てきた際に都度紹介してもらえるのでしょうか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">はい、もちろんです。<br>定期的にマイページ上で、レジュメの更新・稼働実績の更新・現状ステータスの更新などをいただければ、そのタイミングでの案件状況を鑑みて、ご紹介する流れになります。</div>
            </div>
          </div>
        </div>
      </div>
      <div id="sec04" class="mt60 sp-mt40">
        <h3 class="fs-16 noto-m">契約・報酬に関して</h3>
        <div class="toggle-box-list mt20">
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>法人契約は可能ですか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08 sp-ls-neg-1-2">個人事業主の方で、株式会社や合同会社など法人をお持ちの方も、法人としても契約可能でございます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>源泉徴収はありますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">
                弊社では税務署指導により、個人事業主の皆さまの報酬支払の際に所得税の源泉徴収を行っております。<br class="pc-only">源泉徴収とは、報酬支払の際に報酬の支払者（発注者）が所得税および復興特別所得税を差し引いて、それを国に納付する制度です。源泉徴収の対象となる支払いには、フリーランスのコンサルティング・IT関連業務の報酬も含まれます。したがいまして、報酬をお支払いする際、
                <table>
                  <tbody>
                    <tr>
                      <td width="50%">●100万円以下の報酬の場合</td>
                      <td>: 報酬金額の10.21％</td>
                    </tr>
                    <tr>
                      <td>●100万円を超える報酬の場合</td>
                      <td>: (1)100万円までの報酬部分は10.21%<br> &ensp;(2)100万円を超える報酬部分は20.42％</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>契約形態や手続きはどのようになるのでしょうか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">プロジェクトの参画が確定しましたら、弊社との業務委託契約書の締結を行います。業務委託契約書は、弊社フォーマットをご用意いたします。また、弊社と初めて取引する場合に限り、秘密保持契約書（NDA）も併せて、弊社フォーマットで締結させていただきます。ただし、一部の案件では派遣契約となる場合がございます。その場合は弊社の契約社員となっていただく必要がございます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>契約期間はどのくらいですか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">案件・プロジェクトによって異なります。また、3ヵ月間単位のプロジェクト案件が割合としては多くございますが、スポット的な短期間の案件から1年以上になる案件まで豊富に取り扱っています。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>案件・プロジェクトへの参画の際、就業場所、服装、出退勤時間はどうなるのでしょうか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer ls-neg-08 sp-ls-neg-1-2">プロジェクト参画先の企業が定める就業条件に準じていただきます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>案件・プロジェクトへの参画の際、就業場所、服装、出退勤時間はどうなるのでしょうか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">参画・契約先の企業が定める就業条件に準じていただきます。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>報酬金額の入金タイミングはいつになりますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">稼働月当月末締め翌々月10日にお支払いいたします例）稼働月が1月の場合：1月31日締め3月10日支払い（40日後のお支払い）お支払日が土日・祝日の場合は、前金融機関営業日にお支払いいたします。ただし、当月稼働分のご請求書を、稼働翌月の2営業日までに弊社へご送付いただいた場合に適用となります。稼働翌月の2営業日を過ぎた場合は翌々々月10日のお支払いとなります。予めご了承ください。お、実際のご契約内容によっては、お支払い方法が異なる場合がございます。その際には事前にご案内いたします。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>業務上での経費は契約金額に含まれますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">企業側の契約によって異なります。経費込みの場合もあれば、経費は実費精算となる場合もございます。ケースとして多いのは、就業場所までの交通費は込み、他は別途実費精算というケースとなります。</div>
            </div>
          </div>
        </div>
      </div>
      <div id="sec05" class="mt60 sp-mt40">
        <h3 class="fs-16 noto-m">サポート体制に関して</h3>
        <div class="toggle-box-list mt20">
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3>独立は初めてなのですが、税務・法務サポートは受けられますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer">フリーランスの方のサポートとして、司法書士・税理士・会計士・弁護士などを無料でご紹介しております。そのほか、士業の方へ相談しにくい事項などあれば、弊社のコーディネーターがご相談を承りますので、お気軽にお申し付けください。</div>
            </div>
          </div>
          <div class="toggle-box">
            <div class="toggle-head">
              <div class="question">Q</div>
              <h3 class="ls-neg-08">フリーランスとして成長していくためのサポートはしてもらえますか？</h3>
            </div>
            <div class="toggle-content">
              <span>A</span>
              <div class="answer sp-ls-neg-1-2">はい、弊社のコーディネーターがサポートしております。現在お持ちのスキル・ご経験、ご希望にマッチした案件をご紹介するサポートはもちろん、 今後拡大していきたいスキルを身に付けるために必要となる案件の相談など、スキルアップに 関してのご相談もお受けしております。</div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-wrapper mt50 sp-mt55">
        <a href="<%= new_case_path %>" class="btn btn-type03 bg-red c-white w-260">
          お問い合せはこちら
        </a>
      </div>
    </div>
  </div>
</main>
