<%= testid('pages/nda') %>
<h1 class="page-ttl">
  <span class="main-ttl">機密保持の誓約について</span>
</h1>
<section>
  <div class="sec sec-min sec-pb-medium">
    <h2 class="sec-sub-ttl">
      <span class="main-ttl">第１条（目的及び機密情報の定義）</span>
    </h2>
    <div class="s-mb-30">
      <ol class="sub-ol">
        <li>
          本誓約において「機密情報」とは、貴社から案件の紹介ならびに人材提案及び紹介（以下、合わせて「本紹介」という。）、業務の履行中に取得した情報における文書、口頭、電子媒体その他の方法により提供又は開示される一切の事実や情報及びかかる事実や情報に基づいて判明し、又は推知された事実や情報をいい、第２条に定める機密保持義務の履行を目的とする。
        </li>
        <li>前項にかかわらず、以下の各号のいずれかに該当することを立証しえた情報は、機密情報には該当しないものとする
          <ul>
            <li><span>① </span>開示の時点で公知である情報。</li>
            <li><span>② </span>開示の時点より後に、私の責に帰すべき事由なく公知となった情報。</li>
            <li><span>③ </span>開示の時点で私が保有していたことを証明できる情報。</li>
            <li><span>④ </span>私が第三者から適法に入手した情報。</li>
            <li><span>⑤ </span>私が、貴社から開示された情報を利用せず独自に開発または創作した情報。</li>
          </ul>
        </li>
      </ol>
    </div>
    <h2 class="sec-sub-ttl">
      <span class="main-ttl">第２条（機密保持義務）</span>
    </h2>
    <div class="s-mb-30">
      <ol class="sub-ol">
        <li>私は、貴社の事前の書面による承諾を得ることなく、機密情報を第三者への開示、漏洩、公表しないものとする。</li>
        <li>私は、機密情報を本目的のためにのみ使用するものとし、他のいかなる目的にも使用しないものとする。</li>
        <li>私は、善良な管理者の注意をもって、機密情報の管理、保管を行うものとする。</li>
        <li>私は、機密情報を自己の取締役（代表取締役を含む。）又は従業員であっても本紹介及び業務の履行目的に関与することを貴社が書面にて了承した者以外には提供しないものとする。</li>
        <li>私は、自己の取締役（代表取締役を含む。）又は従業員が、第三者に機密情報を開示、漏洩、公表することがないようにしなければならない。</li>
        <li>私は、機密情報を複写または複製しないものとする。但し、本目的のために必要最小限度の複写及び複製についてはこの限りでない。</li>
        <li>私は、受領した機密情報に個人情報が含まれている場合、当該個人情報を個人情報保護法及び関係諸法令を遵守して取り扱うものとする。</li>
      </ol>
    </div>
    <h2 class="sec-sub-ttl">
      <span class="main-ttl">第３条（法令に基づく開示）</span>
    </h2>
    <div class="sec-txt ptb-zero s-ml-10 s-mb-30">
      前条の規定にかかわらず、私は、法令又は規則等に基づき開示を義務付けられる場合（政府、所轄官庁、規制当局等からの命令または裁判所の裁判による場合を含む）には、当該法令の定める限度において当該機密情報を開示することができるものとする。但し、この場合、私は貴社に対し、事前に、開示しようとする機密情報の内容及び開示の根拠となる法令を通知するものとする。
    </div>
    <h2 class="sec-sub-ttl">
      <span class="main-ttl">第４条（関係者との接触の禁止）</span>
    </h2>
    <div class="sec-txt ptb-zero s-ml-10 s-mb-30">
      私は、貴社の書面による了解なしに、自己の取締役（代表取締役を含む。）又は従業員であって本紹介および業務の履行目的に関与することを貴社が書面にて認めた場合を除き、機密情報に該当する本紹介および業務の履行にかかる一切の関係者に対し、面談、電話その他一切の方法による接触を行わない。
    </div>
    <h2 class="sec-sub-ttl">
      <span class="main-ttl">第５条（返還及び廃棄）</span>
    </h2>
    <div class="sec-txt ptb-zero s-ml-10 s-mb-30">
      私は、本誓約の有効期間が終了したときまたは貴社の要求があるときは、提供を受けた機密情報（原本か写しを問わず）の使用を中止し、貴社の指示に従い私の保有する機密情報を返還又は破棄し、電子的に保持されている機密情報は消去するものとする。
    </div>
    <h2 class="sec-sub-ttl">
      <span class="main-ttl">第６条（損害賠償）</span>
    </h2>
    <div class="sec-txt ptb-zero s-ml-10 s-mb-30">
      私は、本誓約に違反して貴社に直接的な損害を生じさせたときは、当該損害を賠償するものとする。
    </div>
    <h2 class="sec-sub-ttl">
      <span class="main-ttl">第７条（調査協力義務）</span>
    </h2>
    <div class="s-mb-30">
      <ol class="sub-ol">
        <li>私は、機密情報を受領後、第２条各項に違反した疑いがあると、貴社が合理的根拠に基づき認める場合は、当該違反行為の有無ないし損害の内容、金銭的評価を確定するために必要な資料を提供するものとする。</li>
        <li>私は、前項の資料の提供を拒んだ場合は、貴社に対し、第２条各項に違反した行為があったものとみなされ、貴社が予測する額の損害がこれにより発生したものとみなされることに了承する。</li>
      </ol>
    </div>
    <h2 class="sec-sub-ttl">
      <span class="main-ttl">第８条（反社会的勢力の排除等）</span>
    </h2>
    <div class="s-mb-30">
      <ol class="sub-ol">
        <li>私は、次の各号に掲げる事項を保証する。
          <ul>
            <li><span>① </span>私が、暴力団、暴力団関係企業、組織的に犯罪を行う団体、暴力主義的破壊活動を行う団体又はこれらに準ずるもの（以下「反社会的勢力団体」という。）に該当しないこと。</li>
            <li><span>② </span>私の役職員及び関係者が、暴力団員、暴力団準構成員、総会屋、社会運動標ぼうゴロ、政治活動標ぼうゴロ、特殊知能暴力集団、その他これらに準ずる者、暴力団又は暴力団員と密接な関係を有する者（暴力団又は暴力団員が実質的に経営を支配する法人等に所属する者、暴力団員を雇用している者、暴力団又は暴力団員を不当に利用していると認められる者、暴力団の維持、運営に協力し、又は関与していると認められる者、その他暴力団又は暴力団員と社会的に非難されるべき関係を有していると認められる者を含む。）に該当しないこと。</li>
            <li><span>③ </span>私および自らの役職員及び関係者が、本目的達成にあたり、著しく粗野な又は乱暴な言動を用いて不当な要求を行わないこと。</li>
            <li><span>④ </span>その知る限りにおいて、私および自らの特別利害関係者(役員及びその配偶者、並びにこれらの者が発行済株式総数の過半数を所有する会社)が前各号に反しないこと。</li>
          </ul>
        </li>
        <li>前各号に違反したことが判明した場合、私はサービスを直ちに停止し、貴社と契約を締結している場合は直ちに解除するものとする。本条に基づく解除により私に損害が発生した場合であっても、貴社は当該損害を賠償する責任を負わないものとする。</li>
        <li>前項に違反したことに起因して貴社が損害を被った場合、私は当該損害を賠償する責任を負うものとする。</li>
      </ol>
    </div>
    <h2 class="sec-sub-ttl">
      <span class="main-ttl">第９条（裁判管轄等）</span>
    </h2>
    <div class="sec-txt ptb-zero s-ml-10 s-mb-30">
      機密情報の管理に関して紛争が生じたときは、第一審は東京地方裁判所に提起するものとし、日本国の法令を適用するものとする。
    </div>
    <h2 class="sec-sub-ttl">
      <span class="main-ttl">第１０条（有効期間）</span>
    </h2>
    <div class="sec-txt ptb-zero s-ml-10 s-mb-30">
      本誓約の有効期間は、当社が確認した日から３年間とする。但し、有効期間満了の１ヶ月前までに異議の通知がない限り、本誓約は自動的に更に１年間更新されるものとし、その後も同様とする。なお、貴社と業務委託契約等の契約を締結した場合は、当該契約において機密保持義務を定めた条文の存続期間と同じ期間、本誓約は有効に存続するものとする。
    </div>
    <div class="s-txt-center s-mt-20">
      <a href="<%= new_fc_user_registration_path %>" class="btn btn-theme-02 bs-long">
        今すぐフリーコンサルタント.jpに<br class="s-sp">会員登録する
      </a>
    </div>
    <div class="sec-txt strong s-mt-20">
      「FreeConsultant.jp」は、大手企業からベンチャー・スタートアップ企業まで、<br class="s-pc">
      さまざまな業界の案件を豊富に取り扱っています｡ご希望にマッチする案件をご紹介しています｡
      <div class="s-fs-14 s-fw-n s-fc-gray s-mt-20">※すぐに案件に参画できない方でも登録可能です｡</div>
    </div>
  </div>
</section>
