<%= testid('pages/service_flow') %>
  <% content_for(:body_class, 'page-flow') %>

    <h1 class="page-ttl">
      <span class="sub-ttl">SERVICE FLOW</span>
      <span class="main-ttl">Quy trình</span>
    </h1>
    <div class="page-caption">
        Giới thiệu quy trình từ đăng ký làm thành viên của topfreec.vn đến tham gia một dự án.
    </div>
    <section>
      <div class="sec sec-full s-pt-20">
        <ul class="card-list column4 flow">
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step01.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>1</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
                Đăng ký thành viên
              </div>
              <div class="card-list-txt">
              Vui lòng nhập thông tin cần thiết từ "Nút đăng ký thành viên". Ngay cả khi bạn chưa nghĩ đến việc bắt đầu hoạt động ngay lập tức, vui lòng đăng ký.
              </div>
            </div>
          </li>
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step02.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>2</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
                Gởi hồ sơ
              </div>
              <div class="card-list-txt">
              Vui lòng tải lên sơ yếu lý lịch (lịch sử công việc) của bạn từ URL được liệt kê trong email xác nhận được gửi đến địa chỉ email bạn đã đăng ký.<br><span class="sec-caption">※Nếu không gửi sơ yếu lý lịch của mình, bạn sẽ không thể chuyển sang bước tiếp theo. Xin lưu ý.</span>
              </div>
            </div>
          </li>
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step03.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>3</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
                Phỏng vấn
              </div>
              <div class="card-list-txt">
              Chúng tôi sẽ xem xét những hồ sơ bạn đã gửi và liên hệ với những người có khả năng giới thiệu dự án vào thời điểm đó với yêu cầu đặt lịch phỏng vấn với điều phối viên chuyên trách. Cuộc phỏng vấn kéo dài khoảng 60 phút và là cuộc phỏng vấn trực tuyến bằng Google Meet. <br><span class="sec-caption">※Tùy theo tình hình vụ việc, chúng tôi có thể không phỏng vấn được tất cả mọi người. lưu ý điều đó</span>
              </div>
            </div>
          </li>
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step04.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>4</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
                Hoàn tất đăng ký
              </div>
              <div class="card-list-txt">
              Sau cuộc phỏng vấn với điều phối viên chuyên môn, bạn sẽ được đăng ký làm thành viên của dịch vụ. Công ty của chúng tôi sẽ gửi cho bạn một email có thông tin về đăng ký thành viên và Trang của tôi. Vui lòng kiểm tra và nhập thông tin được yêu cầu từ URL trong email và xem Trang của tôi.
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="sec sec-full">
        <div class="s-txt-center">
          <img src="/assets/images/service/icon_path.jpg" class="img-path" alt="" width="1569" height="243" loading="lazy">
        </div>
        <ul class="tab-box">
          <li class="tab-label is-active jsTabLabel" data-target="#fromFC">topfreec<br class="s-sp">Trường hợp sale</li>
          <li class="tab-label jsTabLabel" data-target="#fromCL">Tự ứng tuyển<br class="s-sp">案件に<br class="s-pc">直接応募<br class="s-sp">いただいた場合</li>
        </ul>
        <div class="tab-content-box s-pt-30">
          <div class="tab-content is-show jsTabContent" id="fromFC">
            <ul class="card-list column4 flow">
              <li class="card-list-item flex-pc">
                <div class="card-list-img">
                  <div class="card-list-img-inner">
                    <img src="/assets/images/service/icon_step05A.svg" class="img" alt="" width="50" height="50" loading="lazy">
                  </div>
                  <div class="card-list-num"><span class="s-fs-18">step.</span>5</div>
                </div>
                <div class="card-list-content">
                  <div class="card-list-ttl">
                    Giới thiệu dự án
                  </div>
                  <div class="card-list-txt">
                  Chúng tôi sẽ giới thiệu cho bạn những công việc phù hợp với nội dung sơ yếu lý lịch của bạn cũng như kinh nghiệm, kỹ năng và điều kiện mong muốn mà chúng tôi đã hỏi bạn trong cuộc phỏng vấn.
                  </div>
                </div>
              </li>
              <li class="card-list-item flex-pc">
                <div class="card-list-img">
                  <div class="card-list-img-inner">
                    <img src="/assets/images/service/icon_step06A.svg" class="img" alt="" width="50" height="50" loading="lazy">
                  </div>
                  <div class="card-list-num"><span class="s-fs-18">step.</span>6</div>
                </div>
                <div class="card-list-content">
                  <div class="card-list-ttl">
                    Xác nhận ý định đăng ký dự án
                  </div>
                  <div class="card-list-txt">
                  Chúng tôi sẽ hỏi bạn xem bạn có muốn đăng ký và tham gia vào dự án được giới thiệu hay không.<br><span class="sec-caption">※Không cần phải nộp đơn cho công việc được đề xuất.</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="tab-content jsTabContent" id="fromCL">
            <ul class="card-list column4 flow">
              <li class="card-list-item flex-pc">
                <div class="card-list-img">
                  <div class="card-list-img-inner">
                    <img src="/assets/images/service/icon_step05B.svg" class="img" alt="" width="50" height="50" loading="lazy">
                  </div>
                  <div class="card-list-num"><span class="s-fs-18">step.</span>5</div>
                </div>
                <div class="card-list-content">
                  <div class="card-list-ttl">
                    Tự mình nộp hồ sơ xin việc trực tiếp
                  </div>
                  <div class="card-list-txt">
                  Vui lòng đăng nhập bằng địa chỉ email và mật khẩu đã đăng ký của bạn. Bạn có thể nộp hồ sơ trực tiếp cho các công việc đã đăng.
                  </div>
                </div>
              </li>
              <li class="card-list-item flex-pc">
                <div class="card-list-img">
                  <div class="card-list-img-inner">
                    <img src="/assets/images/service/icon_step06B.svg" class="img" alt="" width="50" height="50" loading="lazy">
                  </div>
                  <div class="card-list-num"><span class="s-fs-18">step.</span>6</div>
                </div>
                <div class="card-list-content">
                  <div class="card-list-ttl">
                  Đề xuất với các công ty tham gia
                  </div>
                  <div class="card-list-txt">
                    Sau khi bạn trực tiếp nộp đơn xin dự án, chúng tôi sẽ đưa ra đề xuất với các công ty tham gia.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="s-txt-center">
          <img src="/assets/images/service/icon_path2.jpg" class="img-path" alt="" width="1569" height="243" loading="lazy">
        </div>
      </div>
    </section>
    <section>
      <div class="sec sec-full">
        <div class="sec-sub-ttl s-txt-center s-pb-30">
          <span class="main-ttl">
          Quá trình từ khi đưa ra đề xuất với công ty đến khi bắt đầu một dự án đều giống nhau.</span>
        </div>
        <ul class="card-list column4 flow">
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step07.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>7</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
              Tham gia chào hỏi giữa các công ty tham gia và công ty chúng tôi
              </div>
              <div class="card-list-txt">
              Bạn sẽ có mặt để chào hỏi giữa các công ty tham gia và đại diện kinh doanh của topfreec.
              </div>
            </div>
          </li>
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step08.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>8</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
              Tham gia vào các hợp đồng và dự án
              </div>
              <div class="card-list-txt">
              Sau khi ký hợp đồng, bạn sẽ thực sự tham gia vào dự án/đề xuất. Trong quá trình hoạt động, chúng tôi sẽ hỗ trợ bạn để việc kinh doanh của bạn được suôn sẻ.
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <div class="s-txt-center sec-pt-large sec-pb-ex">
      <a href="<%= new_fc_user_registration_path %>" class="btn btn-theme-02 bs-long">
        topfreecに<br class="s-sp">hãy đăng ký thành viên
      </a>
    </div>
