<%= testid('pages/service_flow') %>
  <% content_for(:body_class, 'page-flow') %>

    <h1 class="page-ttl">
      <span class="sub-ttl">SERVICE FLOW</span>
      <span class="main-ttl">サービスの流れ</span>
    </h1>
    <div class="page-caption">
      フリーコンサルタント.jpへ会員登録してから、プロジェクト参画までの流れをご紹介。
    </div>
    <section>
      <div class="sec sec-full s-pt-20">
        <ul class="card-list column4 flow">
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step01.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>1</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
                会員登録申込
              </div>
              <div class="card-list-txt">
                『会員登録申込ボタン』から必要事項をご入力ください。今すぐの稼働をお考えでない方も、お気軽にご登録ください。
              </div>
            </div>
          </li>
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step02.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>2</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
                レジュメの提出
              </div>
              <div class="card-list-txt">
                ご登録時のメールアドレス宛にお送りしている確認メールに記載されているURLからお持ちのレジュメ（職務経歴書）をアップロードしてください。<br><span class="sec-caption">※レジュメのご提出がない場合、この先のSTEPに進むことができません。あらかじめご了承ください。</span>
              </div>
            </div>
          </li>
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step03.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>3</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
                専門コーディネーターとの面談
              </div>
              <div class="card-list-txt">
                お送りいただいたレジュメを拝見し、そのタイミングで案件紹介が可能な方に、専門コーディネーターとの面談の日程調整依頼をご連絡しています。所要時間は60分前後で、Google Meetを使用したオンライン面談です。<br><span class="sec-caption">※案件状況により、すべての方と面談させていただくわけではありません。ご了承ください。</span>
              </div>
            </div>
          </li>
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step04.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>4</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
                会員登録完了
              </div>
              <div class="card-list-txt">
                専門コーディネーターとの面談実施後、サービスへの会員登録となります。弊社みらいワークスより、会員登録とマイページのご案内メールを送信いたします。メール記載のURLから、必要事項を確認・入力いただき、マイページをご覧ください。
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="sec sec-full">
        <div class="s-txt-center">
          <img src="/assets/images/service/icon_path.jpg" class="img-path" alt="" width="1569" height="243" loading="lazy">
        </div>
        <ul class="tab-box">
          <li class="tab-label is-active jsTabLabel" data-target="#fromFC">フリーコンサルタント.jp<br class="s-sp">の営業担当から<br>案件紹介を受けた場合</li>
          <li class="tab-label jsTabLabel" data-target="#fromCL">ご自身で掲載中の<br class="s-sp">案件に<br class="s-pc">直接応募<br class="s-sp">いただいた場合</li>
        </ul>
        <div class="tab-content-box s-pt-30">
          <div class="tab-content is-show jsTabContent" id="fromFC">
            <ul class="card-list column4 flow">
              <li class="card-list-item flex-pc">
                <div class="card-list-img">
                  <div class="card-list-img-inner">
                    <img src="/assets/images/service/icon_step05A.svg" class="img" alt="" width="50" height="50" loading="lazy">
                  </div>
                  <div class="card-list-num"><span class="s-fs-18">step.</span>5</div>
                </div>
                <div class="card-list-content">
                  <div class="card-list-ttl">
                    営業担当からの案件紹介
                  </div>
                  <div class="card-list-txt">
                    レジュメの内容と、面談時にお伺いした経験・スキル・希望条件にマッチした案件をご紹介します。
                  </div>
                </div>
              </li>
              <li class="card-list-item flex-pc">
                <div class="card-list-img">
                  <div class="card-list-img-inner">
                    <img src="/assets/images/service/icon_step06A.svg" class="img" alt="" width="50" height="50" loading="lazy">
                  </div>
                  <div class="card-list-num"><span class="s-fs-18">step.</span>6</div>
                </div>
                <div class="card-list-content">
                  <div class="card-list-ttl">
                    案件への応募意志の確認
                  </div>
                  <div class="card-list-txt">
                    ご紹介した案件への応募意志・参画可否をお伺いします。<br><span class="sec-caption">※ご紹介案件に必ず応募いただく必要はございません。</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="tab-content jsTabContent" id="fromCL">
            <ul class="card-list column4 flow">
              <li class="card-list-item flex-pc">
                <div class="card-list-img">
                  <div class="card-list-img-inner">
                    <img src="/assets/images/service/icon_step05B.svg" class="img" alt="" width="50" height="50" loading="lazy">
                  </div>
                  <div class="card-list-num"><span class="s-fs-18">step.</span>5</div>
                </div>
                <div class="card-list-content">
                  <div class="card-list-ttl">
                    ご自身による案件への直接応募
                  </div>
                  <div class="card-list-txt">
                    登録したメールアドレスとパスワードでログインください。掲載中の案件に直接応募することができます。
                  </div>
                </div>
              </li>
              <li class="card-list-item flex-pc">
                <div class="card-list-img">
                  <div class="card-list-img-inner">
                    <img src="/assets/images/service/icon_step06B.svg" class="img" alt="" width="50" height="50" loading="lazy">
                  </div>
                  <div class="card-list-num"><span class="s-fs-18">step.</span>6</div>
                </div>
                <div class="card-list-content">
                  <div class="card-list-ttl">
                    参画先企業へのご提案
                  </div>
                  <div class="card-list-txt">
                    案件へ直接応募いただいた後、弊社から参画先企業へご提案を行います。
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="s-txt-center">
          <img src="/assets/images/service/icon_path2.jpg" class="img-path" alt="" width="1569" height="243" loading="lazy">
        </div>
      </div>
    </section>
    <section>
      <div class="sec sec-full">
        <div class="sec-sub-ttl s-txt-center s-pb-30">
          <span class="main-ttl">企業への提案後のプロジェクト開始までの流れは同じです。</span>
        </div>
        <ul class="card-list column4 flow">
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step07.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>7</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
                参画先企業と弊社とのご挨拶に参加
              </div>
              <div class="card-list-txt">
                参画先企業とみらいワークスの営業担当とのご挨拶に同席いただきます。
              </div>
            </div>
          </li>
          <li class="card-list-item flex-pc">
            <div class="card-list-img">
              <div class="card-list-img-inner">
                <img src="/assets/images/service/icon_step08.svg" class="img" alt="" width="50" height="50" loading="lazy">
              </div>
              <div class="card-list-num"><span class="s-fs-18">step.</span>8</div>
            </div>
            <div class="card-list-content">
              <div class="card-list-ttl">
                契約・プロジェクトへの参画
              </div>
              <div class="card-list-txt">
                契約締結後、実際にプロジェクト・案件へ参画いただきます。稼働中は円滑に業務を遂行できるようにサポートします。
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <div class="s-txt-center sec-pt-large sec-pb-ex">
      <a href="<%= new_fc_user_registration_path %>" class="btn btn-theme-02 bs-long">
        今すぐフリーコンサルタント.jpに<br class="s-sp">会員登録する
      </a>
    </div>
