    <% content_for(:body_class, 'page-sitemap') %>
    <h1 class="page-ttl">
      <span class="sub-ttl">Site map</span>
      <span class="main-ttl">サイトマップ</span>
    </h1>
    <section class="sec-pb-large">
      <div class="sec sec-full sec-pt-large">
        <div class="sitemap-wrap">
          <div class="sitemap-group">
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/">【フリーコンサルタント.jp】<br class="s-pc">トップ</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/service">はじめての方へ</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/service/flow">ご利用の流れ</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/staff">スタッフ紹介</a></li>
            </ul>
          </div>
        </div>
        <h2 class="sitemap-ttl js-fadein">
          <span class="main-ttl">お役立ち情報</span>
        </h2>
        <div class="sitemap-wrap">
          <div class="sitemap-group">
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/column">プロ人材向けコラム</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/workstyle">プロ人材インタビュー</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/ceo_blog">代表ブログ</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/topics">お知らせ</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/support">プロ人材サポート</a></li>
            </ul>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="https://contact.freeconsultant.jp/hc/ja">よくある質問</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/user/sign_in">ログイン</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/register/">会員登録</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="https://contact.freeconsultant.jp/hc/ja/requests/new" rel="noopener noreferrer">問い合わせ</a></li>
            </ul>
          </div>
        </div>
        <h2 class="sitemap-ttl js-fadein">
          <span class="main-ttl">業務領域から探す</span>
        </h2>
        <div class="sitemap-wrap">
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/project">案件一覧</a>
            </div>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/project-management">プロジェクト管理</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/pm">PM</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/pmo">PMO</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/project-support">プロジェクトサポート/補佐</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-project-management">その他（プロジェクト管理）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/it-project-management">ITプロジェクト管理</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/it-pm">IT・PM</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/it-pmo">IT・PMO</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/it-assistant">IT・プロジェクトサポート/補佐</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/it-other">その他（ITプロジェクト管理）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/new-business">新規事業</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/business-development-planning">事業開発（企画）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/business-development-practical">事業開発（実務）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/research">リサーチ</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/finance-new-business">資金調達（新規事業）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-new-business">その他（新規事業）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/ipo">IPO</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/ipo-preparation">IPO準備</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/public-disclosure">株式公開</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/organizing-system">体制整理</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/finance-ipo">資金調達（IPO）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-ipo">その他（IPO）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/pr-ir">広報IR</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/pr">広報</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/ir">IR</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/csr">CSR</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-pr-ir">その他（広報IR）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/marketing">マーケティング</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/market-research">市場調査</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/marketing-toc">マーケティング（ToC）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/marketing-tob">マーケティング（ToB）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/digitalmarting-toc">デジタルマーティング（ToC）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/digitalmarting-tob">デジタルマーティング（ToB）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/data-analysis">データサイエンティスト/データ分析・解析</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/branding">認知/ブランディング</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/product-planning">商品企画/サービス企画</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/service-development">サービス開発</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/crm">CRM</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/customer-success">カスタマーサクセス</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-marketing">その他（マーケティング）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/business-improvement">業務改善(BPR/RPA/BPO)</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/bpr">BPR/業務改革</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/rpa">RPA</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/bpo">BPO/アウトソーシング</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/cost-reduction">コスト削減</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-business-improvement">その他（業務改善）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/scm-logistics">SCM/物流/在庫管理</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/scm">SCM/ロジスティクス</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/logistics">物流/倉庫</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/inventory-management">在庫/生産管理</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-scm-logistics">その他（SCM/物流/在庫管理）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/business-strategy">経営戦略/事業企画</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/management-strategy">経営戦略</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/business-development">事業企画/事業開発</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/business-revitalization">事業再生</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/m-and-a">M&A</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/pmi">PMI</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/due-diligence">デューデリジェンス</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/business-investment">事業投資</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-business-strategy">その他（経営戦略/事業企画）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/human-resources">人事/組織設計</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/recruitment">人材採用</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/personnel-assessment">人事評価</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/organizational-design">組織設計/組織開発</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-organizational-design">その他（人事/組織設計）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/accounting">財務/会計/経理/税務</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/financial-accounting">財務会計</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/management-accounting">管理会計</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/general-accounting">経理</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/taxation">税務</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/financial-accounting-global">財務会計（グローバル）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/management-accounting-global">管理会計（グローバル）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/accounting-global">経理（グローバル）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/tax-global">税務（グローバル）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-accounting">その他（財務/会計/経理/税務）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/system-design-system">システム設計・開発・導入（システム）</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/core">基幹</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/web">Web</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/appli">アプリ</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/saas">SaaS</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/paas">PaaS</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/iaas">IaaS</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/ec">EC</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/erp">ERP</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/sap">SAP</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/asp">ASP</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/salesforce">Salesforce</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/ma">MA（マーケティング・オートメーション）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/bi">BI/DWH</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/maas">MaaS</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-system-design">その他（システム設計・開発・導入-システム）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/system-design-process">システム設計・開発・導入（工程・手法）</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/system-planning">システム企画/RFP</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/requirement-definition">要件定義</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/design-external">設計（外部設計）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/development-internal">開発（内部設計・コーディング・テスト）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/user-test">ユーザーテスト/システムテスト</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/system-migration">システム移行</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/maintenance-management">システム保守管理</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/agile-development">アジャイル型開発</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/waterfall-type-development">ウォーターフォール型開発</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/database">データベース</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-system-development">その他（システム設計・開発・導入-工程・手法）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/technology">技術/テクノロジー</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/dx-concept">DX構想/企画</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/dx-promotion">DX推進</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/ai">AI</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/iot">IoT</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/cloud">クラウド</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/5g">5G</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/blockchain">ブロックチェーン</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/x-tech">X-tech</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/xr">XR（AR/VR/MR/SR）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/quantum-computing">量子コンピューティング</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/dot">DoT（ディープラーニング・オブ・シングス）</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-technology">その他（技術/テクノロジー）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/infrastructure-network">インフラ/クラウド/ネットワーク</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/infrastructure">インフラ基盤</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/cloud-migration">クラウド移行</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/network">ネットワーク</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-infrastructure">その他（インフラ/クラウド/ネットワーク）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/information-security">情報セキュリティ</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/information-security-sub">情報セキュリティ</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/information-system">情報システム</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/incident-support">インシデント対応・対策</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-information-security">その他（情報セキュリティ）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/sales">営業</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/sales-planning">営業企画/営業戦略</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/business-agency">営業代行</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/sales-support">営業アシスタント/営業サポート</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/inside-sales">インサイドセールス</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-sales">その他（営業）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/risk-management">リスク管理</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/system-risk">システムリスク</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/operational-risk">オペレーショナルリスク</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/market-credit-risk">市場/信用リスク</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/aml-cft">AML/CFT</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-risk-management">その他（リスク管理）</a></li>
            </ul>
          </div>
          <div class="sitemap-group">
            <div class="sitemap-group-head"><i class="feather icon-layers"></i><a href="/projects/others">その他</a>
            </div>
            <ul class="sitemap-group-sub">
              <li><i class="feather icon-chevron-right"></i><a href="/projects/translation-interpretation">翻訳/通訳</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/lecturer-advisory">講師/アドバイザリー</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/manual-creation">マニュアル作成</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/management-advisor">経営顧問</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/administrative-office">事務</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/semiconductor-electronic-device-system-lsi">半導体・電子機器/システムLSI</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/semiconductor-electronic-device-asic-fpga">半導体・電子機器/ASIC・FPGA</a></li>
              <li><i class="feather icon-chevron-right"></i><a href="/projects/others-other">その他（その他）</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
