<%= testid('pages/staff') %>
<% content_for(:body_class, 'page-service') %>

    <h1 class="page-ttl">
      <span class="sub-ttl">OUR MEMBER</span>
      <span class="main-ttl">スタッフ紹介</span>
    </h1>
    <section id="person1">
      <div class="sec sec-min sec-pt-large sec-pb-large">
        <div>
          <div class="content-box staff">
            <img src="/assets/images/service/img_member-01.jpg" alt="佐竹" class="img" width="383" height="383" loading="lazy">
            <div class="txt-box">
              <dl class="general-dl">
                <dt>
                  <span class="s-fs-16">プロ・エージェント営業本部 パートナーセールス部 部長</span>
                  <div class="sec-ttl"> <span class="main-ttl">佐竹</span> <span class="sub-ttl">Satake</span>
                  </div>
                </dt>
                <dd>プロ・エージェント営業本部パートナーセールス部 部長。2021年11月入社。<br>1978年生まれ、千葉県出身。大学卒業後2001年4月より求人広告企業へ新卒入社。営業部門のプレイングマネージャーとして、大手・中小企業への媒体企画提案営業および拠点運営に従事。<br>2015年8月、より一層求職者に近い立ち位置で雇用拡大へ寄与することを目的に、IT人材特化型の有料職業紹介・フリーランス仲介事業を行なう人材エージェントに転職。営業統括責任者、経営企画本部長を担当。エージェント実務を担いながら、組織構築管理、社内基盤・業務フローの整備、事業拡大の施策・実行を推進する。<br>その後、2021年2月からDXコンサルティング企業で営業責任者として組織・オウンドメディア・コミュニティの立ち上げおよび運営責任者として従事したのち、2021年11月より現職の株式会社みらいワークスへ入社。<br>高度な専門知見をもって活躍するプロフェッショナル人材と、さらなるグロースを狙う企業とをつなぐプロ人材エージェント事業を通して、雇用形態や場所にとらわれない新しい働き方と人材活用方法の提案・支援を行なっている。2022年10月よりプロ・エージェント営業本部パートナーセールス部部長。同時に、地方自治体主導でのビジネスマッチングコミュニティにおいて運営企画責任者も担当。地方における新規事業創出支援も並行して行なっている。</dd>
              </dl>
            </div>
          </div>
          <div class="general-panel s-mt-40">
            <dl class="general-dl">
              <dt class="dashboard-ttl">
                <span class="main-ttl">メッセージ</span>
              </dt>
              <dd>ビジネスが複雑化・高速化する現代、企業の外部人材活用の成否は日本の発展に直結するものだといえるでしょう。<br>そのような背景から専門領域で高いパフォーマンスを発揮するプロフェッショナル人材の需要が高まる中で、「“働き方”や“条件”だけでなく、フリーランスとしてのキャリア構築も含めて共に考えていくことができる」。みらいワークス（FreeConsultant.jp）は、そんなパートナーでありたいと願っています。<br>深く密なコミュニケーションを重視しながら、ひとりでも多くのフリーランスの皆様にプロフェッショナル人材としてご活躍いただけるようサポートしてまいります。どうぞお気軽にご相談くださいませ。</dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
    <section id="person2">
      <div class="sec sec-min sec-p-large">
        <div>
          <div class="content-box staff reverse">
            <img src="/assets/images/service/img_member-02.jpg" alt="宇佐美" class="img" width="383" height="383" loading="lazy">
            <div class="txt-box">
              <dl class="general-dl">
                <dt>
                  <span class="s-fs-16">プロ・エージェント営業本部 営業企画部</span>
                  <div class="sec-ttl"> <span class="main-ttl">宇佐美</span> <span class="sub-ttl">Usami</span>
                  </div>
                </dt>
                <dd>プロ・エージェント営業本部 営業企画部。<br>2013年、株式会社ワークスアプリケーションズに入社。SCM領域のシステムの企画～開発や導入支援、PM業務に従事。<br>2018年、ミッション・ビジョンに共感し株式会社みらいワークスに入社。コンサルティングファーム、SIerを中心にコンサルティング営業として活動後、現在は営業企画部にてみらいワークス社員の若手育成を中心に担務。</dd>
              </dl>
            </div>
          </div>
          <div class="general-panel s-mt-40">
            <dl class="general-dl">
              <dt class="dashboard-ttl">
                <span class="main-ttl">メッセージ</span>
              </dt>
              <dd>“フリーランス”という働き方が広がり、案件をご紹介するサービスが多く存在する現代。その中で、弊社の最大の特徴かつ提供価値は「日本のみらいの為に挑戦する人を増やす」というビジョンに基づいた事業の運営方針、そしてそれを実現している点です。<br>私自身、未経験ながら営業職から弊社でのキャリアをスタートし、その後、やはり未経験の企画部門へ抜擢されるなど、ポテンシャルと経験を買われて多くの挑戦の機会を手にすることができました。<br>「やる気こそが原動力！やりたい人に任せるのが一番良い結果を生む」。<br>代表岡本のその思いをそのまま形にしたようなプロフェッショナルエージェント事業（FreeConsultant.jp）では、経験・スキルをキーワードで機械的にマッチングするのではなく、独立プロフェッショナルの皆様が今後どのような挑戦をしたいか、皆様の「WILL（やる気、意思）」を最も大事にしています。<br>新しい一歩を踏み出したい方、ご自身のスキルを更に伸ばしたい方がいらっしゃいましたら、ぜひ一度、弊社にご相談いただければ幸いです。</dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
    <section id="person3">
      <div class="sec sec-min sec-p-large">
        <div>
          <div class="content-box staff">
            <img src="/assets/images/service/img_member-03.jpg" alt="大嶋" class="img" width="383" height="383" loading="lazy">
            <div class="txt-box">
              <dl class="general-dl">
                <dt>
                  <span class="s-fs-16">プロ・エージェント営業本部 ダイレクトセールス部</span>
                  <div class="sec-ttl"> <span class="main-ttl">大嶋</span> <span class="sub-ttl">Oshima</span>
                  </div>
                </dt>
                <dd>プロ・エージェント営業本部 ダイレクトセールス部 エンタープライズチーム サブリーダー。<br>2014年に新卒で株式会社JTBに入社。法人営業部にて、法人向けの団体旅行、イベント、研修などの企画提案・手配・運営・清算など、営業兼企画業務に従事。<br>2019年にスカウト・ヘッドハンティングを行なうベンチャー企業へ転職し、大手企業の部長～役員層をターゲットとしたハイクラス向けのスカウトエージェントを担当。年間数百人規模で候補者との面談を経験。<br>2021年に株式会社みらいワークスへ転職。現在はエンタープライズ（大企業向け）営業を推進しながら、日々フリーランスのプロフェッショナル人材との連携を続けている。</dd>
              </dl>
            </div>
          </div>
          <div class="general-panel s-mt-40">
            <dl class="general-dl">
              <dt class="dashboard-ttl">
                <span class="main-ttl">メッセージ</span>
              </dt>
              <dd>『仕事を楽しくすること＝幸せの追求』を自身のビジョンに掲げています。これは人生の1/3（人生100年時代ではもっと増える！）と言われる仕事が楽しいことこそ、人にとってのバリュー＝価値になると思うからです。<br>日々、プロ人材の皆様とさまざまな形で出会いますが、相応の覚悟や成し遂げたい夢をお持ちの方ばかりで、この仕事は本当に刺激的です。<br>その出会いを通して感じた、プロとして仕事をする人の技術や誇り、信念。それを、クライアントとのお打ち合わせで「我々は単なるフリーランス人材をご紹介するのではなく、その道のプロフェッショナルをご紹介いたします」という言葉にのせて、お伝えしています。<br>プロフェッショナルとして独立することをご決断をされた、その意志や覚悟に少しでも寄り添い伴走しながら、これからも夢や希望の実現に向けたご支援をさせていただきます。</dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
    <section id="person4">
      <div class="sec sec-min sec-p-large">
        <div>
          <div class="content-box staff reverse">
            <img src="/assets/images/service/img_member-04.jpg" alt="都築" class="img" width="383" height="383" loading="lazy">
            <div class="txt-box">
              <dl class="general-dl">
                <dt>
                  <span class="s-fs-16">プロ・エージェント営業本部 ダイレクトセールス部</span>
                  <div class="sec-ttl"> <span class="main-ttl">都築</span> <span class="sub-ttl">Tsuzuki</span>
                  </div>
                </dt>
                <dd>プロ・エージェント営業本部 ダイレクトセールス部 エンタープライズチーム サブリーダー。<br>2007年に大学を卒業後、美容・医療業界での広告営業および集客コンサルタントとしてのソリューション営業を経験。その後、ベンチャー企業にて新規サービス企画営業、ITソリューション営業を経て、パーソルキャリア株式会社（旧：株式会社インテリジェンス）に入社。同社で、アルバイト・中途領域の営業と中途採用（IT人材）を担当。営業の領域は大手事業会社（コンサルファーム・IT系企業を含む）。自社採用の領域はITコンサルタント・インフラエンジニア。<br>2022年2月、株式会社みらいワークスへ転職。入社時は製薬・ヘルスケアの事業会社やコンサルファームを担当し、2022年10月より大手事業会社の営業を担当している。</dd>
              </dl>
            </div>
          </div>
          <div class="general-panel s-mt-40">
            <dl class="general-dl">
              <dt class="dashboard-ttl">
                <span class="main-ttl">メッセージ</span>
              </dt>
              <dd>コロナの影響もあり、“はたらく”の多様化が加速した近年。「採用だけではカバーしきれない可能性」を提供したいと考え、みらいワークスに入社しました。<br>私の目標は、今まで出会うことがなかった企業と個人（フリーランス人材）の巡り合わせをサポートすることです。それを実現できる営業であり続けるために、自分がすべきことを考えながら日々業務に邁進しています。<br>みらいワークスが運営するFreeConsultant.jpは、個人（フリーランス人材）の力が、企業を動かすキッカケを作る、そんな案件と出会えるプラットフォームです。同じベクトルに向かって一緒に進んでくださる方と出会えることを願っています。</dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
    <section id="person5">
      <div class="sec sec-min sec-p-large">
        <div>
          <div class="content-box staff">
            <img src="/assets/images/service/img_member-05.jpg" alt="和田" class="img" width="383" height="383" loading="lazy">
            <div class="txt-box">
              <dl class="general-dl">
                <dt>
                  <span class="s-fs-16">プロ・エージェント営業本部 ダイレクトセールス部</span>
                  <div class="sec-ttl"> <span class="main-ttl">和田</span> <span class="sub-ttl">Wada</span>
                  </div>
                </dt>
                <dd>プロ・エージェント営業本部 ダイレクトセールス部。<br>2018年に私立大学を卒業後、建築系の専門予備校に入社。無形商材である「資格講座」を扱い、建設／不動産業界に従事する個人や企業、建築学生に対して資格取得のアドバイスや就職支援等を実施。その後、2022年3月に株式会社みらいワークスへ入社。現在は、大手事業会社の新規開拓を専門に行なうチームにて、新規開拓や新たな施策企画に従事。</dd>
              </dl>
            </div>
          </div>
          <div class="general-panel s-mt-40">
            <dl class="general-dl">
              <dt class="dashboard-ttl">
                <span class="main-ttl">メッセージ</span>
              </dt>
              <dd>時代は常に変化し、さまざまな働き方が推奨される世の中へと変貌を遂げつつあります。<br>そのような中で、みらいワークスでは自身の可能性を広げるために「挑戦」する人を最大限にサポートいたします。<br>プロ人材の皆様が「このプロジェクトに挑戦したい！支援したい！」と奮い立つような案件を豊富に揃えられるよう尽力いたしますので、ぜひ“プロ”として、企業の経営課題の解決をサポートいただけると幸いです。<br>プロジェクトご参画後は、プロ人材の皆様と“同志”としてお互いを高め合えるような関係性を築くことを目指し、丁寧なフォローを心がけてまいります。クライアント支援に集中できる体制を準備して、プロフェッショナル人材の皆様をお待ちしています。</dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
    <section id="person6">
      <div class="sec sec-min sec-pt-large sec-pb-ex">
        <div>
          <div class="content-box staff reverse">
            <img src="/assets/images/service/img_member-06.jpg" alt="木村" class="img" width="383" height="383" loading="lazy">
            <div class="txt-box">
              <dl class="general-dl">
                <dt>
                  <span class="s-fs-16">プロ・エージェント営業本部 未来共創部 第2営業チーム</span>
                  <div class="sec-ttl"> <span class="main-ttl">木村</span> <span class="sub-ttl">Kimura</span>
                  </div>
                </dt>
                <dd>プロ・エージェント営業本部 未来共創部 第2営業チーム。<br>2001年高校卒業後、株式会社北國銀行に入社。銀行業務と実業団ハンドボールチームの活動を兼務。その後不動産営業を経て「関わる人の人生により大きな影響を与えられることがしたい」と思い、2007年から人材業界でのキャリアをスタート。人材サービス企業3社を経験した後、株式会社みらいワークスに入社、現在に至る。
                  </dd>
              </dl>
            </div>
          </div>
          <div class="general-panel s-mt-40">
            <dl class="general-dl">
              <dt class="dashboard-ttl">
                <span class="main-ttl">メッセージ</span>
              </dt>
              <dd>これまで人材派遣や紹介予定派遣、人材紹介と、幅広い人材ビジネスに関わってきた中で、フリーランス活用を推進する事業には他とは違う可能性や大きなやりがいを感じています。<br>弊社サービス『FreeConsultant.jp』には、個人事業主としてご自身の事業を推進する傍ら、フリーランスとして弊社案件をご支援くださる方も多くいらっしゃいますが、その2つが両立できるようクライアントと条件面を調整するのも私共の重要な役割のひとつ。無事調整できた際の喜びは大きいです。<br>フリーランス人材の得意領域や挑戦したい分野を把握し、クライアントが求めることの根幹を理解した上でそれらを結び合わせる。それが個人のパフォーマンスを最大限発揮することに繋がり、ひいては人口減少による人材不足が大きな課題となっている日本を支えることにも繋がるのではないでしょうか。<br>これからの日本のみらいのために。フリーランス人材の挑戦をサポートしてまいります。
                </dd>
            </dl>
          </div>
        </div>
      </div>
    </section>
