          <div class="modal-txt">
            <div class="form-content form-modal">
              <div class="form-txt s-txt-center">
                応募した案件の辞退手続きをしますか？
              </div>
              <div class="form-notice s-txt-center">
                ※辞退後の同一案件への再応募はできませんのでご注意ください。
              </div>
            </div>
          </div>
