<% content_for(:body_class, 'top-page') %>
<main class="no-padbot-imp">
	<div class="corporate-banner">
		<div class="g-width">
			<!-- <div class="breadcrumbs white mt20">
				<ul class="flex">
					<li><a href="#">TOP</a></li>
					<li><a href="#">法人ページ</a></li>
					<li><a href="#">サポートメニュー</a></li>
				</ul>
			</div> -->
			<div class="corporate-banner-tagline">
				<h2 class="c-white lh-1-5 noto-bold">最適な<strong class="c-red">プロの即戦力</strong>を
				<br>必要な時に必要な期間だけ</h2>
			</div>
		</div>
	</div>
	<div class="bg-red">
		<div class="g-width">
			<div class="corp-featured">
				<h2 class="title c-white t-center sp-t-left">Where professional personnel are active</h2>
				<p class="c-white t-center sp-t-left fs-16 mt15 mb40">企業が抱えるお悩みを解決</p>
				<div class="corp-featured-cluster">
					<div class="corp-featured-item">
						<div class="flex flex-a-start sp-mb20 mb15">
							<img class="corp-featured-image" src="images/corporate/img-featured-01.jpg" alt="事業の推進力を強くしたい">
							<h3 class="corp-featured-title">事業の推進力を<br class="sp-only">強くしたい</h3>
						</div>
						<p class="c-white">さまざまな業務領域に長けたプロ人材をアサインすることで、社内の人材とは異なる視点でより効率的に事業を推進させることができます。</p>
					</div>

					<div class="corp-featured-item">
						<div class="flex flex-a-start sp-mb20 mb15">
							<img class="corp-featured-image" src="images/corporate/img-featured-02.jpg" alt="新規事業を思い通りに進めたい">
							<h3 class="corp-featured-title">新規事業を<br class="sp-only">思い通りに進めたい</h3>
						</div>
						<p class="c-white">新規事業を立ち上げた経験を持つプロ人材をネットワークしています。企画立案から事業アイデアの具現化など、プロジェクトの状況に合わせながら、事業が軌道に乗るまでお手伝いします。</p>
					</div>

					<div class="corp-featured-item">
						<div class="flex flex-a-start sp-mb20 mb15">
							<img class="corp-featured-image" src="images/corporate/img-featured-03.jpg" alt="プロジェクトを推進したい">
							<h3 class="corp-featured-title">プロジェクトを<br class="pc-only">推進したい</h3>
						</div>
						<p class="c-white ls-neg-0-1">多くのプロジェクトを成功に導いてきたプロ人材が多数登録しています。プロジェクト案の壁打ち相手からビジネスゴールのプラン立てまで、実際に手を動かして、あなたの業務をサポートします。</p>
					</div>

					<div class="corp-featured-item">
						<div class="flex flex-a-start sp-mb20 mb15">
							<img class="corp-featured-image" src="images/corporate/img-featured-04.jpg" alt="大小さまざまなプロジェクトをスピーディーに推進したい">
							<h3 class="corp-featured-title">大小さまざまなプロジェクトを<br>スピーディーに推進したい</h3>
						</div>
						<p class="c-white">思うように正社員採用が進まない時にプロ人材の業務委託は最適です。採用できるまでの間の業務をスピーディーに進められるだけでなく、プロ人材から社員へのナレッジ伝達も進められるので効率的です。</p>
					</div>

					<div class="corp-featured-item">
						<div class="flex flex-a-start sp-mb20 mb15">
							<img class="corp-featured-image" src="images/corporate/img-featured-05.jpg" alt="お願いしているコンサルティングファームのコストを下げたい">
							<h3 class="corp-featured-title">お願いしているコンサルティングファームの<br class="pc-only">コストを下げたい</h3>
						</div>
						<p class="c-white">コンサルティングファームで経験を積んだプロ人材が豊富に登録しています。通常のコンサルティングファームへの依頼コストに比べて、“約30～50％程度”のコストで経験豊富なプロ人材をアサインできます。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sec-content bg-l-gray-5">
		<div class="g-width">
			<section class="sec-content">
				<div class="flex r-box-type01">
					<div class="thumbnail">
						<span>Free consultant, JP's<br>features</span>
						<div class="img-box">
							<img src="images/corporate/image1.jpg" alt="480社以上の取引実績多種多様な案件をご提供">
						</div>
					</div>
					<div class="text-box">
						<h3 class="title-type02 sp-fs-30 ls-m-1 sp-ls-neg-0-5">日本最大級10,000名以上のプロ人材データベース</h3>
						<p>戦略系・会計系・IT系コンサルティングファーム出身者や、事業会社で多種多様な経験を積んだプロ人材が登録しています。各戦略・企画の立案・策定だけでなく、実際の運用・推進まで、あなたと一緒にビジネス課題の解決を目指します。以下のような業務領域を中心に最適なプロ人材をご提案しています。</p>
						<p class="fs-10 mt30 ls-neg-08-imp" style="text-indent: -5px;">「事業戦略の立案・策定・運用 」「新規事業の企画・推進」「マーケティング戦略の立案・策定・運用」「IT系の業務支援」「IPO支援」「各種PM・PMO」「営業支援・改革の推進」「業務改善・改革の推進」など多数。</p>
					</div>
				</div>
				<div class="flex r-box-type01 box-right">
					<div class="text-box">
						<h3 class="title-type02 sp-fs-30 ls-m-2-p5 sp-ls-neg-0-5">必要な時に必要な期間だけ最適なプロの即戦力を活かす</h3>
						<p>正社員採用とは異なり、事業やプロジェクトのフェーズ・ニーズに合わせて、
						<br>必要な時に必要な期間だけ必要な即戦力をアサインできます。豊富なプロ人材データベースから、最適な即戦力をご提案できるのが強みです。</p>
					</div>
					<div class="thumbnail t-right">
						<span>Free consultant, JP's<br>features</span>
						<div class="img-box">
							<img src="images/corporate/image2.jpg" alt="480社以上の取引実績多種多様な案件をご提供">
						</div>
					</div>
				</div>
				<div class="flex r-box-type01">
					<div class="thumbnail">
						<span>Free consultant, JP's<br>features</span>
						<div class="img-box">
							<img src="images/corporate/image3.jpg" alt="480社以上の取引実績多種多様な案件をご提供">
						</div>
					</div>
					<div class="text-box">
						<h3 class="title-type02 sp-fs-30 ls-m-1 sp-ls-neg-0-5">最短即日・原則3日以内のスピードでご希望に合ったプロ人材をご紹介</h3>
						<p>事業やプロジェクトの概要・期待する役割・人材ニーズなどをお聞きして、スピーディーに最適な即戦力のプロ人材をご提案します。正社員採用では間に合わない部分を柔軟に補足できます。</p>
					</div>
				</div>
				<div class="flex r-box-type01 box-right">
					<div class="text-box">
						<h3 class="title-type02 sp-fs-30 ls-m-1 sp-ls-neg-0-5">業務委託に関する「契約・報酬支払い」周りのお手間を代行</h3>
						<p>弊社が貴社とプロ人材の間に入ることで、業務委託でアサインする際の契約・報酬支払いに関するお手間を削減します。また、実際にアサインしたプロ人材が現場で最大限成果を出せるようにフォローをしています。東証グロース上場会社である「みらいワークス」が運営しているのでご安心ください。</p>
					</div>
					<div class="thumbnail t-right">
						<span>Free consultant, JP's<br>features</span>
						<div class="img-box">
							<img src="images/corporate/image4.jpg" alt="480社以上の取引実績多種多様な案件をご提供">
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="bg-white">
		<div class="g-width">
			<section class="sec-content event-topics">
				<h2 class="title"><span class="c-red">Interview</span></h2>
				<div class="flex head-type01 mt20">
					<p class="c-gray">活用事例</p>
					<a href="#" class="link-type01 pc-only">もっと見る</a>
				</div>
				<div class="slick-wrapper mt40 sp-mt25">
					<ul class="slick-type01">
						<li>
							<a class="slick-item" href="#">
								<div class="image">
									<img src="images/case-study/img-interview-01.png" alt="解決策は高スキルフリーランスのオンデマンド活用 vol.1">
								</div>
								<p>正社員が決まらない！
									解決策は高スキルフリーランスの
									オンデマンド活用</p>
								<span>株式会社パートナーエージェント</span>
							</a>
						</li>
						<li>
							<a class="slick-item" href="#">
								<div class="image">
									<img src="images/case-study/img-interview-03.png" alt="フリーのプロフェッショナル人材なら、学内で不足するスキルをタイミングよく導入できる">
								</div>
								<p class="ls-m-1">フリーのプロフェッショナル人材なら、学内で不足するスキルをタイミングよく導入できる</p>
								<span>学校法人 日本工業大学</span>
							</a>
						</li>
						<li>
							<a class="slick-item" href="#">
								<div class="image">
									<img src="images/case-study/img-interview-05.png" alt="必要な能力は、社内外問わず広く探す。ニッチな分野のプロフェッショナル人材をチームに招き入れ、新規事業を円滑に">
								</div>
								<p>必要な能力は、社内外問わず広く探す。ニッチな分野のプロフェッショナル人材をチームに招き入れ、新規事業を円滑に</p>
								<span>GEヘルスケア・ジャパン株式会社</span>
							</a>
						</li>
						<li>
							<a class="slick-item" href="#">
								<div class="image">
									<img src="images/case-study/img-interview-06.png" alt="解決策は高スキルフリーランスのオンデマンド活用 vol.1">
								</div>
								<p>正社員が決まらない！<br>解決策は高スキルフリーランスのオンデマンド活用 vol.1</p>
								<span>CEヘルスケア・ジャパン</span>
							</a>
						</li>
						<li>
							<a class="slick-item" href="#">
								<div class="image">
									<img src="images/case-study/img-interview-07.png" alt="解決策は高スキルフリーランスのオンデマンド活用 vol.1">
								</div>
								<p class="ls-m-1">正社員が決まらない！<br>解決策は高スキルフリーランスのオンデマンド活用 vol.1</p>
								<span>株式会社SBI証券</span>
							</a>
						</li>
						<li>
							<a class="slick-item" href="#">
								<div class="image">
									<img src="images/case-study/img-interview-08.png" alt="解決策は高スキルフリーランスのオンデマンド活用 vol.1">
								</div>
								<p class="ls-m-1">正社員が決まらない！<br>解決策は高スキルフリーランスのオンデマンド活用 vol.1</p>
								<span>株式会社SBI証券</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="mt20 sp-only">
					<div class="flex flex-j-end">
						<a href="#" class="link-type01">もっと見る</a>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="bg-white">
		<div class="g-width">
			<section class="mt100 sp-mt70">
				<h2 class="title t-center">導入企業のご紹介</h2>
				<p class="t-center fs-16 mt15 mb40 c-gray">取引実績企業数が累計500社以上</p>

				<div class="corp-logo-cluster">
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-01.svg" alt="Logo">
					</div>
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-02.svg" alt="Logo">
					</div>
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-03.svg" alt="Logo">
					</div>
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-04.svg" alt="Logo">
					</div>
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-05.svg" alt="Logo">
					</div>

					<div class="corp-logo-cluster-item empty"></div>

					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-06.svg" alt="Logo">
					</div>
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-07.svg" alt="Logo">
					</div>
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-08.svg" alt="Logo">
					</div>

					<div class="corp-logo-cluster-item empty"></div>

					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-09.svg" alt="Logo">
					</div>
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-10.svg" alt="Logo">
					</div>
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-11.svg" alt="Logo">
					</div>
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-12.svg" alt="Logo">
					</div>
					<div class="corp-logo-cluster-item">
						<img src="images/corporate/company-logo-13.svg" alt="Logo">
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="bg-white">
		<div class="g-width">
			<section class="mt100 sp-mt70">
				<h2 class="title l-h-1"><span class="c-red">Service </span> Flow</h2>
				<p class="service-flow-text">サービスの流れ</p>
				<!-- PATH 1~5 -->
				<div class="column-wrapper mt40 mb27">
					<div class="service-box">
						<div class="service-steps">
							<div class="icon">
								<img src="images/icon/icon_step01.svg">
							</div>
							<div class="text-wrapper">
								<p class="header align-fix sp-mt10-imp">Step <span class="c-black">01</span></p>
								<p class="title">プロジェクト概要・人材要件のヒアリング</p>
								<p class="description service-text t-justify mt15 pc-only">プロジェクト概要や必要なプロ人材の具体的な要件（期待する役割・スキル・経験・アサイン期間・報酬など）をお伺いします。明確な人材要件がなくても問題ありません。お持ちのビジネス課題から要件を具体化し、適切な即戦力をご提案しています。遠慮なくご相談ください。</p>
							</div>
						</div>
						<div class="sp-only mb40">
							<p class="description noto-m t-justify mt20 sp-lh-1-71">プロジェクト概要や必要なプロ人材の具体的な要件（期待する役割・スキル・経験・アサイン期間・報酬など）をお伺いします。明確な人材要件がなくても問題ありません。お持ちのビジネス課題から要件を具体化し、適切な即戦力をご提案しています。遠慮なくご相談ください。</p>
						</div>
						<div class="service-steps">
							<div class="icon">
								<img src="images/corporate/img_step_02.svg">
							</div>
							<div class="text-wrapper">
								<p class="header align-fix sp-mt10-imp">Step <span class="c-black">02</span></p>
								<p class="title">専門のコーディネーターが最適な即戦力プロ人材をご提案</p>
								<p class="description service-text t-justify mt15 pc-only">お聞きしたプロジェクト内容と人材要件から最適な人材をご提案します。実際のご提案前に候補のプロ人材とコミュニケーションを取っており、プロジェクト経験・
								<br>スキル・人柄などを確認していますので最適なマッチングが可能です。候補のプロ人材からの同意取得後、職務経歴書をもってご提案します。</p>
							</div>
						</div>
						<div class="sp-only mb40">
							<p class="description noto-m service-text t-justify mt20 sp-lh-1-71">お聞きしたプロジェクト内容と人材要件から最適な人材をご提案します。実際のご提案前に候補のプロ人材とコミュニケーションを取っており、プロジェクト経験・
							<br>スキル・人柄などを確認していますので最適なマッチングが可能です。候補のプロ人材からの同意取得後、職務経歴書をもってご提案します。</p>
						</div>
						<div class="service-steps">
							<div class="icon">
								<img src="images/icon/icon_step03.svg">
							</div>
							<div class="text-wrapper">
								<p class="header align-fix sp-mt10-imp">Step <span class="c-black">03</span></p>
								<p class="title">書類選考・候補のプロ人材とのお打ち合わせを実施</p>
								<p class="description service-text t-justify mt15 pc-only">職務経歴書を確認いただき、プロ人材アサインについて判断いただきます。その後、お打ち合わせを行い最終的な結果をご連絡いただき、実際のアサインになります。※契約開始・終了日、報酬金額などの諸条件もご提示いただきます。</p>
							</div>
						</div>
						<div class="sp-only mb40">
							<p class="description noto-m t-justify mt20 sp-lh-1-71">職務経歴書を確認いただき、プロ人材アサインについて判断いただきます。その後、お打ち合わせを行い最終的な結果をご連絡いただき、実際のアサインになります。※契約開始・終了日、報酬金額などの諸条件もご提示いただきます。</p>
						</div>
						<div class="service-steps">
							<div class="icon">
								<img src="images/icon/icon_step04.svg">
							</div>
							<div class="text-wrapper">
								<p class="header align-fix sp-mt10-imp">Step <span class="c-black">04</span></p>
								<p class="title">契約締結後、プロ人材が実際に参画します</p>
								<p class="description service-text noto-m t-justify mt15 pc-only">プロ人材の参画の前に、業務委託契約の締結をお願いしています。名刺・セキュリティカード・パソコンなど、業務に必要な備品に関しては、その際にご指示をお願いします。プロ人材が参画した後、専門コーディネーターが定期的に状況を伺いますので、お気づきの点などあれば、お申し付けください。</p>
							</div>
						</div>
						<div class="sp-only sp-mb40">
							<p class="description noto-m t-justify mt20 sp-lh-1-71">プロ人材の参画の前に、業務委託契約の締結をお願いしています。名刺・セキュリティカード・パソコンなど、業務に必要な備品に関しては、その際にご指示をお願いします。プロ人材が参画した後、専門コーディネーターが定期的に状況を伺いますので、お気づきの点などあれば、お申し付けください。</p>
						</div>
						<div class="service-steps">
							<div class="icon">
								<img src="images/corporate/img_step_05.svg">
							</div>
							<div class="text-wrapper">
								<p class="header align-fix sp-mt10-imp">Step <span class="c-black">05</span></p>
								<p class="title">検収終了後、報酬金額<br class="pc-only">のお支払い</p>
								<p class="description service-text noto-m t-justify mt15 pc-only">ご契約期間終了後、弊社から業務報告書をご提出します。内容を検収いただいた後、「当月末締め・原則翌月末」までに報酬金額のお支払いをお願いします。</p>
							</div>
						</div>
						<div class="sp-only">
							<p class="description noto-m t-justify mt20 sp-lh-1-71 ls-m-p5">ご契約期間終了後、弊社から業務報告書をご提出します。内容を検収いただいた後、「当月末締め・原則翌月末」までに報酬金額のお支払いをお願いします。</p>
						</div>
					</div>
				</div>
			</section>
			<div class="t-center mt80 mb20 sp-mt60 sp-mb30">
				<a href="<%= jirei_url %>" class="btn btn-type03 bg-red c-white" target="_blank" rel="noopener">プロフェッショナル人材の<br class="sp-only">活用事例をダウンロード<object style="width: 21px; margin: 5px 0 0 10px" type="image/svg+xml" data="../images/icon/icon_download.svg"></object></a>
			</div>
		</div>
		<div class="btn-back-to-top-wrapper">
			<div class="back-to-top">
			</div>
		</div>
</main>