<main>
  <div class="g-width">
    <%= render_breadcrumbs builder: Breadcrumbs::CustomBuilder %>
    <div class="mt60 sp-mt40">
      <h1 class="title mt55 fs-40-imp sp-mt65"><span class="c-red">Performance</span></h1>
      <div class="head-type02 mt25 sp-mt20">
        <p class="c-gray">取引実績</p>
      </div>
      <div class="performance mt75 sp-mt40">
        <!-- 1st box -->
        <div class="performance-box mb80 sp-mb50">
          <div class="performance-box-l">
            <p class="performance-box-l-title">戦略系、大規模システム系のプロジェクトを中心に、業務委託サービスを提供 </p>
            <p class="performance-box-l-desc">
              大手システム会社におけるASPサービス事業の新規開発や、200～300名規模の基幹システム刷新プロジェクトのPMO、大手自動車メーカーでの海外市場調査など、さまざまなプロジェクトニーズにお応えしてきました。<br>
              また最近では60％稼働のデジタルマーケティング企業での新規事業企画やスポットの研修講師業務などの案件もありますので、幅広くコンサルタントの方がご活躍いただけます。
            </p>
          </div>
          <div class="performance-box-r">
            <img src="images/performance/performance-1.png">
          </div>
        </div>
        <!-- 2nd box -->
        <div class="performance-box center mb80 sp-mb50">
          <div class="performance-box-l">
            <p class="performance-box-l-title">短期案件から長期案件まで、さまざまなケースに幅広く対応</p>
            <p class="performance-box-l-desc">
              当初はプランニングフェーズだけという短期的なご依頼が、実行フェーズまでの長期的案件となった事例も多数あります。<br />
              近年、経済産業省が掲げる「働き方改革」の影響もあって、クライアント企業様から短期案件のご紹介もいただいています。<br />
              例えば、週1稼働の金融業におけるサステナビリティ関連の調査や、稼働率60％・リモート業務有のIT中計作成支援など様々なコンサル案件にも対応しています。
            </p>
          </div>
          <div class="performance-box-r">
            <img src="images/performance/performance-2.png">
          </div>
        </div>
        <!-- 3rd box -->
        <div class="performance-box center mb80 sp-mb50">
          <div class="performance-box-l">
            <p class="performance-box-l-title">取引先は約40%が大手のコンサルティング会社</p>
            <p class="performance-box-l-desc">
              大手総合、戦略系のコンサルティング会社や大手SIER・ソフトウェア会社からのご依頼が大半ですが、金融機関や大手インターネット広告代理店、
              クラウドサービスを取り扱う大手IT関連企業など、事業会社からの人材派遣ニーズにもお応えしています。
            </p>
          </div>
          <div class="performance-box-r">
            <img src="images/performance/performance-3.png">
          </div>
        </div>
        <!-- 4th box -->
        <div class="performance-box center mb80 sp-mb50">
          <div class="performance-box-l">
            <p class="performance-box-l-title">幅広い業界、さまざまな業種の方からのご依頼実績あり</p>
            <p class="performance-box-l-desc">
              通信・ハイテク業、製造・流通業を中心に、金融、官公庁と幅広い業界からのご依頼にお応えしています。<br>
              ここ数年はWebサービスやスマフォアプリ、サービス業からのご依頼も増えています。
            </p>
          </div>
          <div class="performance-box-r">
            <img src="images/performance/performance-4.png">
          </div>
        </div>
      </div>
      <div class="case">
        <p class="case-headline">取引事例のご紹介</p>
        <!-- case 1 -->
        <div class="case-box mb30">
          <p class="case-box-title">Case <span class="c-black">01</span></p>
          <p class="case-box-subtitle"><span class="c-red">戦略コーポレートスタッフとして</span> | 大手インターネット企業 A 社様 </p>
          <p class="case-content-title noto-m mb10">
            導入背景
          </p>
          <p class="case-content-desc">
            会社の売上が順調に拡大する一方で、経営管理の仕組み・体制整備が追い付かない状況にあった。<br>
            即戦力となる中途採用を検討するも、選考に時間がかかると共に、厳しい要求に応えられる人材候補が見つからなかった。
          </p>
          <div class="case-arrow-down">
            <img src="images/performance/arrowdown.png">
          </div>
          <p class="case-content-title c-red mb10">
            導入結果
          </p>
          <p class="case-content-desc c-red">
            CFO（最高財務責任者）直轄の財務企画部門に参画し、CFOの右腕としてグループ会社管理制度の企画・導入、決算早期化の<br />
            推進、新規事業の立上げに伴うシステム導入、コスト削減など広範に渡る業務の中核メンバーとして1年に渡り貢献。
          </p>
        </div>
        <!-- case 2 -->
        <div class="case-box">
          <p class="case-box-title">Case <span class="c-black">02</span></p>
          <p class="case-box-subtitle"><span class="c-red">新規事業プロジェクト中核メンバーとしてご活用</span> | 大手システム開発会社 B 社様 </p>
          <p class="case-content-title noto-m mb10">
            導入背景
          </p>
          <p class="case-content-desc">
            ソリューション開発の必要性を感じ事業開発部門を発足したものの、劇的に変化する市場環境と、
            クライアントからの厳しい要求に対応することができる十分な能力・経験を備えた人材がいなく、プロジェクトは暗礁に乗りかけていた。
          </p>
          <div class="case-arrow-down">
            <img src="images/performance/arrowdown.png">
          </div>
          <p class="case-content-title c-red mb10">
            導入結果
          </p>
          <p class="case-content-desc c-red">
            類似する領域での事業開発の経験を有するコンサルタントがプロジェクトに参画。
            プロジェクトメンバーの昼夜をしながら検討を進め、クライアントから一定のニーズがあるサービスを起案し、役員から事業化の決裁を獲得。システム構想フェーズに移る。
          </p>
        </div>
      </div>
    </div>
</main>
