<main>
  <div class="g-width">
    <%= render_breadcrumbs builder: Breadcrumbs::CustomBuilder %>
    <div class="g-width-700 mt55 sp-mt63">
      <p class="fs-16 noto-m c-gray">プロフェッショナル人材サービス 利用規約</p>
      <p class="fs-14 noto-l mt35 sp-lh-1-57">
        この利用規約（以下、「本規約」という。）は、株式会社みらいワークス（以下、「当社」という。）が提供するサービスを利用する上での合意事項となります。サービスを利用するすべての企業（以下、「登録企業」という。）は、本規約の内容に同意した上でサービスを利用してください。
      </p>
      <p class="fs-16 noto-m mt35 mb-neg2 sp-mt32">第１条（本規約への同意)</p>
      <div class="border-top mt3">
        <div class="p-wrapper mt15">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">１．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、当ウェブサイトを通じて、プロフェッショナル人材サービス
              （以下「当サービス」という。）を利用する為に、個人情報およびその他の情報を登録した個人等（以下、「会員」という。）とのマッチングや連絡等を目的とし、本規約に従って当サービスを利用するものとします。当サービスに関して登録企業と当社との間で別途合意した基本契約及び個別契約等（以下、総称して「個別契約」という。）に規定する内容は、登録企業との間で本規約の一部を構成し、本規約と個別契約が矛盾抵触する内容である場合には、当該部分につき個別契約が優先して適用されるものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">２．</span>
          </div>
          <div class="text">
            <span>
              個別契約において別段の定めがない限り、登録企業は利用登録を完了した時点で、本規約の内容のすべてを承諾したものとみなされます。不承諾の意思表示は、利用登録しないことをもってのみ認められるものとします。
            </span>
          </div>
        </div>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第２条（ＩＤ・パスワード）</p>
      <div class="border-top mt3">
        <div class="p-wrapper mt15">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">１．</span>
          </div>
          <div class="text">
            <span>
              当社は、登録企業にＩＤおよびパスワードを発行・付与することがあります。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">２．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、発行・付与されたＩＤおよびパスワードの使用ならびに管理について、一切の責任を負うものとし、登録企業は自己に付与されたＩＤおよびパスワードを第三者に使用させ、または譲渡してはなりません。
            </span>
          </div>
        </div>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第３条（当サービスの利用）</p>
      <div class="border-top mt3">
        <div class="p-wrapper mt15">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">１．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、当社が定め又は指示する方法に従い、当サービスを利用することができるものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">２．</span>
          </div>
          <div class="text">
            <span>
              当サービスの内容は当社が運営するウェブサイト等において定めるものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">３．</span>
          </div>
          <div class="text">
            <span>
              当サービスを利用するに際し、利用料金は別途発生しないものとします。
            </span>
          </div>
        </div>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第４条（著作権）</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          当社のウェブサイトに掲載されている全てのコンテンツは、当社又は当社に使用権を許諾している第三者が保有しています。当社の書面による許可を得た上で、登録企業の事業目的の範囲内で利用できるものとします。
        </p>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第５条（商標）</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          当ウェブサイトに掲載される商標およびロゴマーク等に関する権利は、当社または個々の権利者に帰属し、商標法、不正競争防止法等により保護されています。登録企業が上記権利の利用を希望する場合、事前に当社に連絡し、当社の許諾を得た上で利用できるものとします。
        </p>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第６条（禁止事項）</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          登録企業は、当サービスの利用に際し、以下の各号の行為を行ってはならないものとします。
        </p>
        <div class="p-wrapper mt15">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">１．</span>
          </div>
          <div class="text">
            <span>
              虚偽または不正確な情報を提供する行為
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">２．</span>
          </div>
          <div class="text">
            <span>
              個人や団体を誹謗、中傷、脅迫し、またはその恐れのある行為
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">３．</span>
          </div>
          <div class="text">
            <span>
              著作権、商標権、その他の知的財産権を含む他人の権利を侵害し、またはその恐れのある行為
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">４．</span>
          </div>
          <div class="text">
            <span>
              当サービスを通じて入手した情報を、複製、販売、出版その他方法の如何を問わず、事業目的の範囲を超えて利用し、または第三者に開示、提供する行為
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">５．</span>
          </div>
          <div class="text">
            <span>
              当サービスを通じて入手した情報を利用して、当社もしくは第三者に対して金銭等を要求し、または不利益もしくは損害を与える行為
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">６．</span>
          </div>
          <div class="text">
            <span>
              当サービスの円滑な運営を妨げる行為、または当社の信用または名誉を毀損する行為、もしくはそれらのおそれのある行為
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">７．</span>
          </div>
          <div class="text">
            <span>
              犯罪行為、または法令に反する行為等公序良俗に反する行為、もしくはそれらのおそれのある行為
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">８．</span>
          </div>
          <div class="text">
            <span>
              反社会的勢力等に関連する組織に属する行為、反社会的勢力に利益を与え、または利用する等不適切な関係を持つ行為、もしくはそれらのおそれのある行為
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">９．</span>
          </div>
          <div class="text">
            <span>
              その他、当社が不適切と合理的に判断する行為
            </span>
          </div>
        </div>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第７条（除名）</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          当社は、登録企業が本規約に違反したと判断した場合、当該登録企業に対し事前に通知することなく、当該登録企業の当サービスの全部または一部の利用を一時中止、または登録企業から除名することができます。かかる除名により、登録企業は当サービスの利用ができなくなるものとします。
        </p>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第８条（サービスの停止・終了等）</p>
      <div class="border-top mt3">
        <div class="p-wrapper mt15">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">１．</span>
          </div>
          <div class="text">
            <span>
              当社は、登録企業への事前の通知なくして、当サービスの変更または一時的な中断を行うことがあります。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">２．</span>
          </div>
          <div class="text">
            <span>
              当社は１ヶ月の予告期間をもって登録企業に通知のうえ、当サービス全体の提供を長期的に中断もしくは終了することができます。
            </span>
          </div>
        </div>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第９条（当社の責任）</p>
      <div class="border-top mt3">
        <div class="p-wrapper mt15">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">１．</span>
          </div>
          <div class="text">
            <span>
              当社は、登録企業が当サービスへ申込み、または当サービスを利用したことにより登録企業に生じた一切の精神的、財産的損害につき、何らの責任も負わないものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">２．</span>
          </div>
          <div class="text">
            <span>
              当社は、情報取扱業務において通常講ずべき合理的なウィルス対策では防止できないウィルス被害、その他当社の責に帰すべき事由によらない火災、停電、天災地変等の不可抗力により、当サービスの提供に支障が生じ、または当サービスの提供が困難となった場合、これによって登録企業に生じた損害につき何らの責任も負わないものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">３．</span>
          </div>
          <div class="text">
            <span>
              当社は、登録企業に提供する情報のうち、企業情報等の第三者に関する情報、企業広告、求人広告その他第三者より提供される情報内容の正確性につき保証するものではありません。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">４．</span>
          </div>
          <div class="text">
            <span>
              当社は当ウェブサイトにエラーその他の不具合がないこと、サーバ等にウィルスその他の有害な要素が含まれていないこと、その他当サービス提供のためのインフラ、システム等に瑕疵がないこと等につき保証するものではありません。
            </span>
          </div>
        </div>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第10条（機密の保持）</p>
      <div class="border-top mt3">
        <div class="p-wrapper mt15">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">１．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、当サービスの利用に際し知った会員の機密及び業務上の情報（以下、「機密情報」という。）を、善良なる管理者の注意をもって保持し、当サービスの利用のみに使用するものとし、事前に相手方の書面による承諾のない限り、第三者に開示、提供又は漏洩してはならない。但し、機密情報が以下の各号にあたる場合はこの限りではありません。
            </span>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">①</span>
              </div>
              <div class="text">
                <span>
                  知った時点で、既に公知であった情報及びその後に自己の責に帰すことのない事由により公知となった情報。
                </span>
              </div>
            </div>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">②</span>
              </div>
              <div class="text">
                <span>
                  知った時点で、既に自己が保有していたことを証明できる情報。
                </span>
              </div>
            </div>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">③</span>
              </div>
              <div class="text">
                <span>
                  機密情報によることなく自己が独自に開発したことを証明できる情報。
                </span>
              </div>
            </div>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">④</span>
              </div>
              <div class="text">
                <span>
                  自己が第三者から機密保持義務を負うことなく適法に入手した情報。
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">２．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、機密情報につき、公的機関から法令に基づき開示を要請された場合、次の各号の措置を講じることを条件として当該機密情報の全部又は一部を当該公的機関に対して開示することができるものとします。
            </span>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">①</span>
              </div>
              <div class="text">
                <span>
                  開示先、開示の目的及び開示を求められた範囲等を速やかに相手方に通知すること。但し、公的機関の要請の目的に照らし、相手方に通知することが不適当であると認められる場合はこの限りではない。
                </span>
              </div>
            </div>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">②</span>
              </div>
              <div class="text">
                <span>
                  公的機関の要請の目的を達成するために必要な開示の範囲について、相手方と協議すること。
                </span>
              </div>
            </div>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">③</span>
              </div>
              <div class="text">
                <span>
                  開示に際し、その内容が機密情報である旨を公的機関に対し明らかにし、当該開示先において機密情報として扱われるよう合理的な配慮を尽くすこと。
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">３．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、当サービスの利用に際し個人情報を取得した場合、当該個人情報を個人情報保護法及び関係諸法令を遵守して取り扱うものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">４．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、本規約が終了した場合又は相手方から求めがあった場合、相手方の定める期日までに機密情報が記載又は記録等された媒体（複製物がある場合は当該複製物を含む。）を相手方の指示に従い完全に廃棄、返却又は消去するものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">５．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、本規約に違反して機密情報が当サービスの利用以外の目的のために使用された場合、第三者に開示、漏洩又は盗用された場合及び紛失した場合並びにこれらの恐れが生じた場合、当該事象の判明後直ちにその被害拡大、被害発生を防止するために必要な措置を講じ、また、当該事象の発生及びその状況を速やかに相手方に報告するものとし、相手方から対応策等の指示がある場合、これに従うものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">６．</span>
          </div>
          <div class="text">
            <span>
              本条の規定は、本規約終了後も３年間、有効に存続するものとします。
            </span>
          </div>
        </div>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第11条（個人情報の取扱い）</p>
      <div class="border-top mt3">
        <div class="p-wrapper mt15">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">１．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、当サービスを通じて取得した会員の個人情報の取り扱いについては、別途「個人情報の取り扱いについて」に定めるものとし、これに基づき会員の個人情報を適切に収集、利用、管理、および保管するものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">２．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、会員の事前の承諾なく、当該会員の個人情報を第三者に開示、漏洩しないものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">３．</span>
          </div>
          <div class="text">
            <span>
              登録企業は、会員の個人情報を当サービスの利用に必要な範囲内でのみ使用するものとし、その他の目的に使用してはならない。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">４．</span>
          </div>
          <div class="text">
            <span>
              会員の請求があったときは、登録企業は、当該会員の指示に従い、直ちに個人情報が記録された媒体を会員に返還し、又は廃棄するものとします。
            </span>
          </div>
        </div>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第12条（反社会的勢力の排除等）</p>
      <div class="border-top mt3">
        <div class="p-wrapper mt15">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">１．</span>
          </div>
          <div class="text">
            <span>
              当社及び登録企業は、次の各号に掲げる事項を保証します。
            </span>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">①</span>
              </div>
              <div class="text">
                <span>
                  自らが、暴力団、暴力団関係企業、組織的に犯罪を行う団体、暴力主義的破壊活動を行う団体又はこれらに準ずるもの（以下、「反社会的勢力」という。）に該当しないこと
                </span>
              </div>
            </div>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">②</span>
              </div>
              <div class="text">
                <span>
                  自らの役職員及び関係者が、反社会的勢力に該当しないこと
                </span>
              </div>
            </div>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">③</span>
              </div>
              <div class="text">
                <span>
                  自らの役職員及び関係者が、個別契約の履行にあたり、著しく粗野な又は乱暴な言動を用いて不当な要求を行わないこと
                </span>
              </div>
            </div>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">④</span>
              </div>
              <div class="text">
                <span>
                  自ら又は自らの役職員及び関係者が、反社会的勢力に対する資金提供その他の行為を行うことを通じて、意図して反社会的勢力の維持又は運営に協力していないこと
                </span>
              </div>
            </div>
            <div class="p-wrapper">
              <div class="number">
                <span class="fs-14 noto-l ls-neg-04">⑤</span>
              </div>
              <div class="text">
                <span>
                  その知る限りにおいて、自らの特別利害関係者(役員及びその配偶者、並びにこれらの者が発行済株式総数の過半数を所有する会社)が前各号に反しないこと
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">２．</span>
          </div>
          <div class="text">
            <span>
              当社及び登録企業は、相手方が前項に違反した場合、本規約を直ちに解除することができるものとし、本条に基づく解除により違反当事者に損害が発生した場合であっても、当社又は登録企業は当該損害を賠償する責任を負わないものとします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">３．</span>
          </div>
          <div class="text">
            <span>
              当社及び登録企業は、相手方が前項に違反したことに起因して損害を被った場合、違反当事者に対し、当該損害の賠償を請求することができるものとします。
            </span>
          </div>
        </div>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第13条（有効期間）</p>
      <div class="border-top mt3">
        <div class="p-wrapper mt15">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">１．</span>
          </div>
          <div class="text">
            <span>
              本規約の有効期間は、登録企業が利用登録を完了したときより１年間とします。ただし、期間満了までの１か月前までに登録企業から書面による申し出がないときは、本規約は、同条件で１年間継続されるものとし、その後も同様とします。
            </span>
          </div>
        </div>
        <div class="p-wrapper">
          <div class="number">
            <span class="fs-14 noto-l ls-neg-04">２．</span>
          </div>
          <div class="text">
            <span>
              前項に関わらず、登録企業は、３か月前までに書面で通知することにより、いつでも本規約を解約することができるものとします。
            </span>
          </div>
        </div>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第14条（サービス利用規約の変更）</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          当社は本規約を随時変更することができるものとします。 変更の内容については当ウェブサイト上に１ヶ月掲載することとし 、1ヵ月が経過した時点において、全ての登録企業が、変更後の規約に承諾したものとみなします。
        </p>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第15条（損害賠償）</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          登録企業が、本規約に違反し、または当サービスの利用に際し、当社、第三者に対して損害を与えた場合、登録企業は直接・間接を問わず、一切の損害を賠償するものとします。
        </p>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第16条（協議事項）</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          本規約の解釈に疑義が生じた場合、または本規約に定めのない事項については、当社と登録企業は、誠意をもって協議の上これを解決するものとします。
        </p>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第17条（準拠法および管轄裁判所）</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          当サービスおよび本規約の準拠法は日本法とし、当サービスまたは本規約に関して生じる一切の紛争については、東京地方裁判所または東京簡易裁判所を第一審の専属的管轄裁判所とします。
        </p>
      </div>
      <p class="fs-16 noto-m mt50 mb-neg2 sp-mt32">第18条（お問い合わせ連絡先）</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          本規約に関するお問い合わせについては、下記までご連絡ください。
        </p>
        <a href="https://mirai-works.co.jp/contact/other/"
          class="link-border-bottom l-h-normal c-red">当サービスに関するお問い合わせ</a>
      </div>
      <p class="fs-16 noto-m mt32 sp-mt20 sp-lh-1-57">付則</p>
      <p class="fs-14 noto-l mt12 sp-lh-1-57 sp-ls-neg-1">この規約は20**年*月*日から実施します。（20**年*月**日　改定）</p>
      <p class="fs-16 noto-m c-gray mt72 sp-mt60 sp-lh-1-57" id="disclaimer">免責事項について</p>
      <p class="fs-16 noto-m mt32 sp-mt20 mb-neg2 sp-lh-1-57">免責事項</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          本ウェブサイトに掲載する情報には充分に注意を払っていますが、その内容について保証するものではありません。株式会社みらいワークスは、本ウェブサイトの使用ならびに閲覧によって生じたいかなる損害にも責任を負いかねます。また、本ウェブサイトを装ったウェブサイトによって生じた損害にも責任を負いかねます。<br>
          本ウェブサイトのURLや情報は、予告なく変更される場合があります。
        </p>
      </div>
      <p class="fs-16 noto-m mt55 sp-mt30 mb-neg2">当サイトへのリンク</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l ls-neg-05 mt15 sp-lh-1-57">本ウェブサイトにリンクを設定する場合は、その旨、株式会社みらいワークスまでご連絡ください。<br>
          URL変更の可能性があるため、トップページ<a href="<%= root_path %>"
            class="link-border-bottom l-h-normal c-red">(https://freeconsultant.jp/)</a> へリンクされることを推奨いたします。
        </p>
      </div>
      <p class="fs-16 noto-m mt55 sp-mt30 mb-neg2">個人情報の取扱い</p>
      <div class="border-top mt3">
        <p class="fs-14 noto-l mt15 sp-lh-1-57">
          本ウェブサイトでは、お客様からのお問い合わせ時に、お名前、e-mailアドレス、電話番号等の個人情報をご登録いただく場合がございますが、これらの個人情報はご提供いただく際の目的以外では利用いたしません。また本ウェブサイトでは、お客さまの情報やプライバシーを保護するために、一部、SSLによる暗号化通信を導入しております。本サイトを装ったウェブサイトによる個人情報の収集行為には、充分にご注意ください。<br
            class="sp-only">
          <a href="<%= mirai_works_privacy_entry_url %>" class="link-border-bottom l-h-normal c-red">各種基本方針について</a>
        </p>
      </div>
    </div>
  </div>
</main>
