<% content_for(:modal_content) do %>
  <%= form_with model: form, scope: :desired_work_categories, url: mypage_fc_settings_desired_work_category_path, method: :put, local: true, builder: AppFormBuilder do |f| %>
    <div class="modal-panel">
      <a href="javascript:void(0)" class="modal-close-btn jsModalClose">
        <i class="feather icon-x"></i>
      </a>
      <div class="modal-ttl">
        希望条件を選択してください。
      </div>
      <%= render 'form', f: %>
    </div>
  <% end %>
<% end %>
