    <section>
      <div class="sec sec-full">
        <h2 class="sec-ttl js-fadein">
          <span class="main-ttl">注目案件</span>
          <span class="sub-ttl">FEATURED PROJECTS</span>
        </h2>
        <div class="job-list-slider jsSliderItem4" data-slick='<%= slick_options %>'>
          <%= render_projects %>
        </div>
      </div>
    </section>
