    <section>
      <div class="sec sec-full sec-pt-large">
        <h2 class="sec-ttl js-fadein">
          <span class="main-ttl">注目案件</span>
          <span class="sub-ttl">FEATURED PROJECTS</span>
        </h2>
        <div class="job-list-slider jsSliderItem4" data-slick='<%= slick_options %>'>
          <%= render_projects %>
        </div>
        <div class="s-txt-center">
          <a href="<%= featured_projects_path %>" class="btn btn-theme-02 bs-normal">
            注目案件をもっと見る
          </a>
        </div>
      </div>
    </section>
