<% content_for(:modal_content) do %>
  <%= form_with model: form, scope: :project_request, url: mypage_fc_settings_project_request_path, method: :put, local: true, builder: AppFormBuilder do |f| %>
        <div class="modal-panel">
          <a href="javascript:void(0)" class="modal-close-btn jsModalClose">
            <i class="feather icon-x"></i>
          </a>
          <div class="modal-ttl">
            案件リクエストを設定してください。
          </div>
          <%= render 'form', f: %>
        </div>
  <% end %>
<% end %>
