      <nav class="header-flex">
        <ul class="global-nav s-pc">
          <li class="no-line">
            <a href="<%= mypage_client_settings_path %>">
              <span class="main-ttl">設定情報</span>
              <span class="sub-ttl">SETTINGS</span>
            </a>
          </li>
        </ul>
        <div class="s-sp menu-trigger-box jsSlideMenu">
          <button class="menu-trigger" id="menu02">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </nav>
