<main class="top-page mb-neg20 sp-mb-neg48-7">
  <div class="bg-white">
    <div class="g-width">
      <h1 class="main-title c-red mt150 t-center sp-mt48-7 sp-fs40">
        403 Forbidden
      </h1>
      <p class="fs-20 mt45 sp-mt50 t-center noto-bold light-black">
        アクセスしようとしたページは<br class="sp-only">表示できませんでした
      </p>
      <p class="fs-14 mt32 t-center ls-neg-04 light-black sp-mt30">
        申し訳ありませんが、お探しの<br class="sp-only">ページが存在しないか、アクセスができません。
      </p>
      <p class="t-center mt55 sp-mt58">
        <a class="btn btn-type03 fs-14 bg-red c-white w-260" href="<%= root_path %>">
          <span>トップページへ戻る</span>
        </a>
      </p>
    </div>
  </div>
</main>
