<%= testid('errors/internal_server_error') %>
<main class="top-page mb-neg20 sp-mb-neg39">
  <div class="bg-white">
    <div class="g-width">
      <h1 class="main-title c-red mt150 t-center sp-mt110 l-height sp-fs40">
        500 Internal<br class="sp-only"> Server Error
      </h1>
      <p class="t-center mt75 sp-mt32">
        <a class="btn btn-type03 fs-14 bg-red c-white w-260" href="<%= root_path %>">
          <span>トップページへ戻る</span>
        </a>
      </p>
    </div>
  </div>
</main>
