<%= testid('errors/not_found') %>
    <h1 class="page-ttl">
      <span class="main-ttl">404 Not Found</span>
    </h1>
    <div class="page-caption">
      お探しのページが見つかりませんでした
    </div>
    <section>
      <div class="sec sec-full sec-pb-large">
        <div class="sec-txt s-txt-center">
          申し訳ありませんが、お探しのページが存在しないか、アクセスができません。
        </div>
        <div class="s-txt-center s-mt-30">
          <a href="<%= root_path %>" class="btn btn-theme-02 bs-long">
            <span>トップページへ戻る</span>
          </a>
        </div>
      </div>
    </section>
