<main class="top-page mb-neg20 sp-mb-neg50-5">
  <div class="bg-white">
    <div class="g-width">
      <h1 class="main-title c-red mt150 t-center sp-mt110 l-height sp-fs40">
        503 Service<br class="sp-only"> Unavailable
      </h1>
      <p class="fs-20 mt45 sp-mt45 t-center noto-bold light-black">
        アクセスしようとしたページは<br class="sp-only">表示できませんでした
      </p>
      <p class="t-center mt55 sp-mt54-5">
        <a class="btn btn-type03 fs-14 bg-red c-white w-260" href="<%= root_path %>">
          <span>トップページへ戻る</span>
        </a>
      </p>
    </div>
  </div>
</main>
