          <div class="modal-txt">
            <div class="form-content form-modal">
              <div class="form-row">
                <label class="label-input form-full">
                  <%= f.text_area :license, placeholder: '例）情報処理技術者、PMP、簿記2級、TOEICスコア800点…など', class: 'textarea h-200' %>
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer s-flex-center">
            <%= f.submit '保存する', class: 'btn btn-theme-02 bs-normal' %>
          </div>
