    <div class="content-wrapper mt60">
      <h2 class="title"><span class="c-red"><%= title %></span></h2>
      <div class="flex head-type01 mt15">
        <p class="c-gray"><%= subtitle %></p>
      </div>
      <p class="fs-14 noto-m lh-2 mt25"><%= description %></p>
    </div>
