<%= testid('mypage/sign_out/show') %>
          <div class="s-txt-center s-mt-30">
            <a href="<%= sign_out_path %>" class="btn btn-theme-02-outline bs-normal" data-method="delete">
              ログアウト
            </a>
          </div>
