<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>フリーランスで働く上流ITエンジニアのための案件情報紹介サービス | フリーコンサルタント.jp</title>
<meta name="description" content="フリーコンサルタント.jpは、上流ITエンジニアなど、プロフェッショナル人材向けの業務委託・フリーランス案件を豊富に取り扱っている、日本最大級の案件紹介サービスです。">
<meta name="Keywords" content="上流ITエンジニア,IT・システム開発,PM/PMOコンサルタント,フリーランス,フリーコンサルタント,コンサルタント,業務委託,案件,募集,紹介,プロフェッショナル人材,プロ人材,フリーコンサルタント.jp,freeconsultant.jp">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="start" href="/" title="ホーム">
<link rel="stylesheet" type="text/css" href="css/style.css">

<meta property="og:type" content="website" >
<meta property="og:url" content="https://freeconsultant.jp/lp/engineer/">
<meta property="og:title" content="フリーコンサルタント.jp - フリーランスで働く上流ITエンジニアのための案件情報紹介サービス">
<meta property="og:description" content="フリーコンサルタント.jpは、上流ITエンジニア・ITコンサル・PM/PMOコンサル・戦略コンサル・マーケコンサルなど、プロフェッショナル人材向けの業務委託・フリーランス案件を豊富に取り扱っている、日本最大級の案件紹介サービスです。">
<meta property="og:image" content="img/img-ogp.png">
<meta property="og:site_name" content="フリーコンサルタント.jp">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="img/img-ogp.png">
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PMG2FW');
</script>
<!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMG2FW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--ヘッダー-->
    <header class="display-block-h hide-btn">
        <nav>
            <p class="logo-area"><a href="https://freeconsultant.jp/" target="_blank"><img src="img/logo-freeconsultant.svg" width="431" alt="フリーランスのプロフェッショナル人材専門の案件紹介サービス Free Consultant.jp&reg;"></a></p>
            <ul>
                <li><a href="#conts-characteristics">特徴</a></li>
                <li><a href="#conts-advantage">強みとメリット</a></li>
                <li><a href="#conts-project">紹介案件例</a></li>
                <!--<li><a href="#conts-voice">利用者の声</a></li>-->
                <li><a href="#conts-flow">利用までの流れ</a></li>
                <li class="registration-area"><a href="#conts-contact"><span>無料会員登録</span></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="display-area">
            <div class="registration-area-sp display-block hide-btn">
                <p class="btn-area"><a href="#conts-contact"><span>無料会員登録はこちら</span></a></p>
            </div>
            <!--メインビジュアル-->
            <section class="main-visual-block">
                <div class="main-visual-area blur">
                    <p class="mw-logo fadeInTrigger delay-time10"><a href="https://freeconsultant.jp/" target="_blank"><img src="img/logo-miraiworks.svg" src="みらいワークス"></a></p>
                    <h1 class="fadeUpTrigger">フリーランスで働く上流ITエンジニアのための<span>案件情報紹介サービス</span></h1>
                    <p class="fadeInTrigger delay-time02">「フリーコンサルタント.jp」は株式会社みらいワークスが運営する<br>
                        プロフェッショナル人材のための上流ITエンジニア求人サイトです。</p>
                    <ul>
                        <li class="fadeUpTrigger delay-time04"><div><span><b>850</b>社以上の<br class="pc-view"><b>取引企業実績</b></span></div></li>
                        <li class="fadeUpTrigger delay-time05"><div><span>月額<b>160</b>万円以上<br class="pc-view"><b>高額案件</b>が豊富</span></div></li>
                        <li class="fadeUpTrigger delay-time06"><div><span><b>18,000</b>名以上<sup>※</sup><br class="pc-view"><b>日本最大級</b>の<br class="pc-view">コンサルタント登録数</span></div></li>
                    </ul>
                    <p class="notes fadeUpTrigger delay-time06"><small>2023年6月末時点の登録者数</small></p>
                    <div class="registration-area zoomOutTrigger delay-time08">
                        <p class="btn-area"><a href="#conts-contact"><span>無料会員登録はこちら</span></a></p>
                    </div><!--/.registration-block-->
                </div><!--/.main-visual-area-->
            </section><!--/.main-visual-block-->

            <div class="anchor-link-area-sp">
                <ul>
                    <li><a href="#conts-characteristics"><span>特徴</span></a></li>
                    <li><a href="#conts-advantage"><span>強みとメリット</span></a></li>
                    <li><a href="#conts-project"><span>紹介案件例</span></a></li>
                    <!--<li><a href="#conts-voice"><span>利用者の声</span></a></li>-->
                    <li><a href="#conts-flow"><span>利用までの流れ</span></a></li>
                    <li><a href="#conts-contact"><span>無料会員登録</span></a></li>
                </ul>
            </div>

            <!--急募-->
            <section class="recruit-block">
                <div class="fcm-recruit">
                    <h2><span class="fadeUpTrigger delay-time02">フリーランスでご活躍いただける</span><b class="fadeUpTrigger delay-time04">上流ITエンジニア急募!!</b></h2>
                    <p><span>こんな方はぜひご登録ください</span></p>
                    <div class="bgextendTrigger bgLRextendTrigger">
                        <ol class="bgappearTrigger">
                            <li>システム開発の上流工程まで携わりたい方</li>
                            <li>前例のないことにチャレンジしていける方</li>
                            <li>”リスクテイク”で突き進むことができる方</li>
                            <li>ITシステム全体の理解を深めたいと考えている方</li>
                        </ol>
                    </div>
                </div><!--/.fcm-recruit-->
            </section><!--/.conts-recruit-->

            <!--特徴-->
            <section class="characteristics-block">
                <div class="heading-area" id="conts-characteristics">
                    <h2><span class="fadeInTrigger delay-time02">CHARACTERISTICS</span><strong class="fadeInTrigger delay-time04">サービスの<b>特徴</b></strong></h2>
                </div><!--/.heading-area-->
                <ol>
                    <li class="fadeRightTrigger delay-time02">
                        <p class="point-area">特徴<span>01</span></p>
                        <div>
                            <h3>フリーランスで活躍する上流ITエンジニアの“案件探し＝営業活動” を代行</h3>
                            <p>フリーランスの方の多くは自分の希望に合った案件の開拓に苦労しています。特に稼働中は案件開拓の時間を確保できず、リリース後の稼働案件を見つけられないケースも多くなっています。</p>
                            <p>「フリーコンサルタント.jp」は案件開拓にかかるお手間を代行します。必要な時に希望の案件をご提供することで、フリーランスの方がさまざまなフィールドで活躍できる世界観を目指しています。</p>
                        </div>
                    </li>
                    <li class="fadeRightTrigger delay-time03">
                        <p class="point-area">特徴<span>02</span></p>
                        <div>
                            <h3>フリーコンサルタント.jpならでは！稼働開始後のフォローを徹底</h3>
                            <p>案件をご紹介して終わりでなく、継続的にさまざまな案件で活躍いただくため、稼働後のフォローに力を入れています。</p>
                            <p>悩みや課題など感じたことをお聞きし、より活躍いただける案件のご紹介に活かしています。その結果、多くのフリーランスの方から継続的にご利用いただいています。</p>
                        </div>
                    </li>
                </ol>
            </section><!--/.characteristics-block-->

            <!--強みとメリット-->
            <section class="advantage-block">
                <div class="heading-area" id="conts-advantage">
                    <h2><span class="fadeInTrigger delay-time02">ADVANTAGE</span><strong class="fadeInTrigger delay-time04">サービスの<b>強みとメリット</b></strong></h2>
                </div><!--/.heading-area-->
                <ol>
                    <li class="fadeRightTrigger delay-time02">
                        <p class="point-area">Point<span>01</span></p>
                        <div>
                            <h3>“企業の現場責任者との強いパイプライン”<br>独自の非公開案件も多数。他社にはない上流ITエンジニア案件に出会えます。</h3>
                            <p>フリーランスのアサインは企業の現場責任者が決定しているケースがほとんどです。</p>
                            <p>「フリーコンサルタント.jp」は長いサービス展開の歴史から豊富な実績を残しているため、現場責任者との関係性が強くなっています。そのため他社にはない独自の案件を依頼されるケースが多くなっています。</p>
                        </div>
                    </li>
                    <li class="fadeRightTrigger delay-time03">
                        <p class="point-area">Point<span>02</span></p>
                        <div>
                            <h3>取引企業数850社以上！日本最大級の案件数！<br>人気の“短期・スポット案件”や、月額報酬 “160万円前後” の上流ITエンジニア案件も。</h3>
                            <p>大手・優良企業を中心に多種多様な案件を取り扱っています(日本最大級)。</p>
                            <p>そのため人気の “短期・スポット案件“ や月額報酬160万円以上(※稼働率に依り変動)のIT・システム開発コンサル案件など、さまざまな希望条件にお応えできる案件のご紹介が可能です。</p>
                            <p>上流ITエンジニアは恒常的に企業側の募集ニーズが強いため、好条件の案件が豊富にあります。</p>
                        </div>
                    </li>
                    <li class="fadeRightTrigger delay-time04">
                        <p class="point-area">Point<span>03</span></p>
                        <div>
                            <h3>サービス登録者数は18,000名以上！<br>豊富なマッチングノウハウで最適な案件をスピーディーにご紹介します。</h3>
                            <p>多くのプロフェッショナルなフリーランスの方をご支援した実績から、豊富なマッチングノウハウを保持しています。そのため、お持ちのスキル・ご経験にマッチした案件をスピーディーにご紹介できる強みがあります。稼働後、多くの方から満足の声を頂戴しています。</p>
                        </div>
                    </li>
                </ol>
                <div class="registration-block">
                    <p class="txt-area"><span>あなたのご経験・希望にマッチする<br class="sp-view">最適なものを<br class="pc-view">みらいワークスが<br class="sp-view">ご提案致します！</span></p>
                    <p class="btn-area delay-time02"><a href="#conts-contact"><span>無料会員登録はこちら</span></a></p>
                </div><!--/.registration-block-->
            </section><!--/.advantage-block-->

            <!--ご紹介案件例-->
            <section class="project-block">
                <div class="heading-area" id="conts-project">
                    <h2><span class="fadeInTrigger delay-time02">PROJECT</span><strong class="fadeInTrigger delay-time04">ご紹介案件例</strong><em class="fadeInTrigger delay-time06">(上流ITエンジニア掲載案件例)</em></h2>
                </div><!--/.heading-area-->
                <h3>「ご登録いただいた方にのみ」ご紹介可能な非公開案件が多数！<br class="pc-view">非公開な案件が多い理由とは？</h3>
                <p>フリーランスのプロフェッショナル人材を活用している企業は、<br class="pc-view">極秘のプロジェクト・新規事業などを競合に知られずにスピーディーに推進したいという意図があります。<br>そのため、案件の多くは非公開案件として「フリーコンサルタント.jp」に依頼されています。</p>
                <div class="case-block">
                    <ul>
                        <li class="fadeUpTrigger delay-time02">
                            <h3>大手金融業向けWEB系開発支援</h3>
                            <dl>
                                <dt>業務領域</dt>
                                <dd>IT・PM; IT・PMO; Web; その他(システム設計・開発・導入-システム); 設計(外部設計); 開発(内部設計・コーディング・テスト); ユーザーテスト/システムテスト; システム移行; その他(システム設計・開発・導入-工程・手法)</dd>
                                <dt>報酬金額</dt>
                                <dd>120 ～ 160万円/月</dd>
                                <dt>勤務地</dt>
                                <dd>東京都23区内; リモート</dd>
                                <dt class="lastcd">勤務形態</dt>
                                <dd class="lastcd">一部リモート</dd>
                            </dl>
                        </li>
                        <li class="fadeUpTrigger delay-time04">
                            <h3>DX推進にむけたシステム刷新構想支援</h3>
                            <dl>
                                <dt>業務領域</dt>
                                <dd>IT・プロジェクトサポート/補佐; 基幹; その他(システム設計・開発・導入-システム); 要件定義;設計(外部設計); その他(システム設計・開発・導入-工程・手法); DX推進</dd>
                                <dt>報酬金額</dt>
                                <dd>100万円 ～ 130万円/月</dd>
                                <dt>勤務地</dt>
                                <dd>東京都23区内; リモート</dd>
                                <dt class="lastcd">勤務形態</dt>
                                <dd class="lastcd">原則/基本リモート</dd>
                            </dl>
                        </li>
                        <li class="fadeUpTrigger delay-time06">
                            <h3>ネット系金融機関の上流システムエンジニア</h3>
                            <dl>
                                <dt>業務領域</dt>
                                <dd>基幹; Web; アプリ; SaaS; ERP; Salesforce; その他(システム設計・開発・導入-システム); 要件定義;設計(外部設計); 開発(内部設計・コーディング・テスト); ユーザーテスト/システムテスト; システム保守管理; アジャイル型開発; ウォーターフォール型開発; その他(システム設計・開発・導入-工程・手法)</dd>
                                <dt>報酬金額</dt>
                                <dd>120万円 ～ 150万円/月</dd>
                                <dt>勤務地</dt>
                                <dd>東京都23区内; リモート</dd>
                                <dt class="lastcd">勤務形態</dt>
                                <dd class="lastcd">一部リモート</dd>
                            </dl>
                        </li>
                    </ul>
                </div><!--/.case-block-->
                <div class="registration-block">
                    <p class="txt-area"><span>あなたのご経験・希望にマッチする<br class="sp-view">最適なものを<br class="pc-view">みらいワークスが<br class="sp-view">ご提案致します！</span></p>
                    <p class="btn-area delay-time02"><a href="#conts-contact"><span>無料会員登録はこちら</span></a></p>
                </div><!--/.registration-block-->
            </section><!--/.project-block-->

            <!--利用者の声
            <section class="voice-block">
                <div class="heading-area" id="conts-voice">
                    <h2><span class="fadeInTrigger delay-time02">VOICE</span><strong class="fadeInTrigger delay-time04">サービスを<br class="sp-view"><b>ご利用いただいた方の声</b></strong></h2>
                </div>
                <p>「フリーコンサルタント.jp」は、通常の業務委託・フリーランスのプロフェッショナル人材の方はもちろん、<br class="pc-view">起業してご自分の会社をお持ちの方が、本業での資金作りのために案件に参画されているケースもあります。</p>
                <ul>
                    <li class="fadeRightTrigger delay-time02">
                        <div class="speech-bubble-area">
                            <h3>コンサルタントというと何でも屋になりがちですが、みらいワークスさんが 業務範囲についてクライアントと取り決めてから契約出来るので、 あれもこれもと増えることが無く助かりました。</h3>
                        </div>
                    </li>
                    <li class="fadeRightTrigger delay-time03">
                        <div class="speech-bubble-area">
                            <h3>プロジェクトで感じた不安についてもとても親身に聞いていただき、 その解消の為、尽力してもらえました。</h3>
                        </div>
                    </li>
                    <li class="fadeRightTrigger delay-time04">
                        <div class="speech-bubble-area">
                            <h3>プロジェクト参画開始時にクライアントに上手く馴染めるよう、 間を取り持ってくれたので、早期にキャッチアップすることが出来ました。</h3>
                        </div>
                    </li>
                </ul>
            </section>-->

            <!--利用までの流れ-->
            <section class="flow-block">
                <div class="heading-area" id="conts-flow">
                    <h2><span class="fadeInTrigger delay-time02">FLOW</span><strong class="fadeInTrigger delay-time04"><b>ご利用</b>の流れ</strong></h2>
                </div><!--/.heading-area-->
                <p>ご登録後、案件のご紹介まではスピーディーに対応しています。(最短即日で案件のご紹介も)<br class="pc-view">案件・プロジェクトの稼働終了後には、企業からのフィードバックをお伝えしています。<br class="pc-view">その後のフリーランス活動において、更なるご活躍につなげていただくことを目的としています。</p>
                <div class="step-area">
                    <ol>
                        <li class="fadeUpTrigger delay-time02">
                            <p class="image-area"><img src="img/img-flow-01.png" alt="STEP 1. ご登録"></p>
                            <div>
                                <h3>STEP 1. ご登録</h3>
                                <p>下記登録フォームより必要事項をご入力ください。<br>
                                    今すぐの稼働をお考えではない方も、お気軽にご登録ください。</p>
                            </div>
                        </li>
                        <li class="fadeUpTrigger delay-time03">
                            <p class="image-area"><img src="img/img-flow-02.png" alt="STEP 2. 面談"></p>
                            <div>
                                <h3>STEP 2. 面談</h3>
                                <p>ご登録後にお送りいただくレジュメを拝見し、案件紹介が可能な方と面談を実施しております。面談時には経歴・経験・スキル、希望条件などをお伺いします。所要時間は60分前後で、遠方の方はSkypeでも可能です。</p>
                                <p class="notes"><small>案件の状況により、全ての方と面談させていただくわけではありません。ご了承ください。</small></p>
                            </div>
                        </li>
                        <li class="fadeUpTrigger delay-time04">
                            <p class="image-area"><img src="img/img-flow-03.png" alt="STEP 3. 案件紹介"></p>
                            <div>
                                <h3>STEP 3. 案件紹介</h3>
                                <p>希望にマッチした案件情報を抽出し、専門のコーディネーターより詳細をご説明します。案件への参画可否や希望条件の変更などは、適宜お受けしています。お気軽にご相談ください。</p>
                            </div>
                        </li>
                        <li class="fadeUpTrigger delay-time05">
                            <p class="image-area"><img src="img/img-flow-04.png" alt="STEP 4. エントリー"></p>
                            <div>
                                <h3>STEP 4. エントリー</h3>
                                <p>ご紹介した案件への参画意思を確認させていただき、参画の場合は正式に企業へのエントリーの手配をします。</p>
                                <p></p>
                                <p class="notes"><small>案件の状況により、全ての方と面談させていただくわけではありません。ご了承ください。</small></p>
                            </div>
                        </li>
                        <li class="fadeUpTrigger delay-time06">
                            <p class="image-area"><img src="img/img-flow-05.png" alt="STEP 5. 契約・参画"></p>
                            <div>
                                <h3>STEP 5. 契約・参画</h3>
                                <p>参画する企業との対面ミーティングを実施後、契約・案件への参画となります。稼働期間中、円滑に業務を遂行できるように、弊社コーディネーターがサポートします。また稼働終了後には参画企業からのフィードバックをお伝えしています。</p>
                            </div>
                        </li>
                    </ol>
                </div><!--/.step-area-->
            </section><!--/.flow-block-->
        </div><!--/#display-area-->

        <!--会員登録-->
        <section class="contact-block">
            <div class="heading-area" id="conts-contact">
                <h2><span class="fadeInTrigger delay-time02">CONTACT</span><strong class="fadeInTrigger delay-time04">簡単1分で<b>無料会員登録</b></strong></h2>
            </div><!--/.heading-area-->
            <p>登録後はレジュメをご提出いただき、専門コーディネーターより面談の日程調整についてご連絡をさせていただきます。<br>
                まずは下記のフォームからご登録ください。入力完了後、確認ボタンを押して入力内容を確認していただき、送信してください。</p>
            <ul class="notes">
                <li><small>ご登録者様全員と面談実施するわけではありませんので、予めご了承ください。</small></li>
                <li><small>既に登録がお済みの方の再登録は不要です。（ご登録済の方のご質問は<a href="https://contact.freeconsultant.jp/hc/ja" style="display:inline" target="_blank">コチラ</a>よりお願いします。）</small></li>
            </ul>
            <%= render 'form', form:, landing_page: %>
        </section><!--/.contact-block-->
    </main>

    <footer>
        <div>
            <p class="logo-mark"><a href="https://mirai-works.co.jp/" target="_blank"><img src="img/logo-miraiworks-white.svg" alt="mirai works 株式会社みらいワークス"/></a></p>
            <ul>
                <li><a href="https://mirai-works.co.jp/" target="_blank">運営会社</a></li>
                <li><a href="https://freeconsultant.jp/terms" target="_blank">利用規約</a></li>
                <li><a href="https://mirai-works.co.jp/privacy-entry/" target="_blank">プライバシーポリシー</a></li>
            </ul>
            <p class="jpx"><img src="img/img-jpx.svg" width="48" alt="JPT 東証グロース上場 株式会社 みらいワークス"/></p>
        </div>
        <p class="copyright"><small>&copy; Mirai Works Inc. All Rights Reserved.</small></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
