      <div class="sec sec-full sec-p-large">
        <h2 class="sec-ttl">
          <span class="main-ttl">募集中の案件</span>
          <span class="sub-ttl">RECRUITING PROJECTS</span>
        </h2>
        <div class="news-list">
            <%= yield %>
        </div>
      </div>
