<%= testid('mypage/fc/profiles/qualification/show') %>
            <div class="list-dl column1-sp">
              <dl>
                <dt>資格</dt>
                <dd>
                  <div><%= licenses %></div>
                </dd>
                <div class="list-edit-btn">
                  <a href="<%= edit_mypage_fc_profile_qualification_path %>" class="btn btn-theme-02 bs-small jsModalOpen" data-target="form-license">
                    編集する
                  </a>
                </div>
              </dl>
            </div>
