<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PMG2FW');</script>
<!-- End Google Tag Manager -->
<script>
window.addEventListener('DOMContentLoaded', function(e){
  if (document.querySelector('.form-errors')) {
    location.hash="regist";
  }
});
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>フリーコンサルタント.jp － フリーランスで働くPM/PMOコンサルタントのための案件情報紹介サービス</title>

<meta name="description" content="フリーコンサルタント.jpは、PM/PMOコンサル・ITコンサル・戦略コンサル・マーケコンサルなど、プロフェッショナル人材向けの業務委託・フリーランス案件を豊富に取り扱っている、日本最大級の案件紹介サービスです。">
<meta name="Keywords" content="PM/PMOコンサルタント,フリーランス,フリーコンサルタント,コンサルタント,業務委託,案件,募集,紹介,プロフェッショナル人材,プロ人材,フリーコンサルタント.jp,freeconsultant.jp">
<meta property="og:type" content="website" >
<meta property="og:url" content="https://freeconsultant.jp/lp/PMPMOコンサルタント/" >
<meta property="og:title" content="フリーコンサルタント.jp － フリーランスで働くPM/PMOコンサルタントのための案件情報紹介サービス" >
<meta property="og:description" content="フリーコンサルタント.jpは、PM/PMOコンサル・ITコンサル・戦略コンサル・マーケコンサルなど、プロフェッショナル人材向けの業務委託・フリーランス案件を豊富に取り扱っている、日本最大級の案件紹介サービスです。" >
<meta property="og:image" content="https://freeconsultant.jp/img/og.jpg" >
<meta property="og:site_name" content="フリーコンサルタント.jp" >
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="https://freeconsultant.jp/img/og.jpg">
<meta name="robots" content="noindex" />
<link rel="canonical" href="https://freeconsultant.jp/lp/PMPMOコンサルタント/"/>
<link rel="start" href="/" title="ホーム" />
<link rel="shortcut icon" href="/common/images/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" type="text/css" href="css/reset.css" media="all">
<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" media="all">
<link rel="stylesheet" type="text/css" href="css/main.css" media="all">
<link rel="stylesheet" type="text/css" href="css/sp.css?201910212011" media="all">
<link rel="stylesheet" type="text/css" href="css/custom.css" media="all">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap&subset=japanese" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/animate.css" media="all" />
<noscript>
<link rel="stylesheet" type="text/css" href="css/noscript.css" media="all">
</noscript>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-31032962-1', 'auto');
  ga('require', 'GTM-PRXW3MP');
  ga('send', 'pageview');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--▼▼ページ全体のフェードイン▼▼-->
<script src="js/jquery.fadepage.js"></script>
<!--▲▲ページ全体のフェードイン▲▲-->
<!--▼▼ページトップ▼▼-->
<script src="js/fadein_pagetop.js"></script>
<!--▲▲ページトップ▲▲-->
<style>
@media all and (-ms-high-contrast: none){
#conts_top ul li .gold {
background-image: none !important;
color:#BEA561 !important;}
}
</style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMG2FW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!--▼▼ページ全体のフェードイン▼▼-->
<div id="fade-window"></div>
<!--▲▲ページ全体のフェードイン▲▲-->
<p id="back-top"><a href="#top"><img src="img/page_top.png" alt="ページの上部へ" /></a></p>
<div id="container">
<header>
<h1><a href="https://freeconsultant.jp/" target="_blank"><img src="img/logo_01.png" width="431" alt="フリーランスのプロフェッショナル人材専門の案件紹介サービス Free Consultant.jp&reg;"/></a></h1>
<p class="contact_btn sp_none"><a href="#conts_contact"><span class="inner">無料会員登録</span></a></p>
<nav class="pc_navi sp_none">
<ul>
<li><a href="#conts_characteristics">サービスの特徴</a></li>
<li><a href="#conts_advantage">強みとメリット</a></li>
<li><a href="#conts_project">ご紹介案件例</a></li>
<li><a href="#conts_voice">利用者の声</a></li>
<li><a href="#conts_flow">利用までの流れ</a></li>
</ul>
</nav>
</header>
<div id="slider_bg">
<p class="scroll oswald sp_none"><a href="#contents">Scroll Down</a></p>
<div class="slide_in_image"><div id="slider">
<div id="theTarget" class="bxslider">
<div class="slide_01 slide"></div>
<div class="slide_02 slide"></div>
<div class="slide_03 slide"></div>
<!--/theTarget--></div>
<!--/slider--></div></div>
<!--/slider_bg--></div>
<div id="contents">
<section id="conts_top">
<div class="auto">
<h2 class="wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1.5s">フリーランスで働くPM・PMOコンサルタントのための<br><span class="big">案件情報紹介サービス</span></h2>
<p class="sub_title wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1.5s">案件探しの手間を省き、効率的に希望に合ったPM・PMOコンサル案件を探せる</p>
<ul class="wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="2s">
<li><span class="gold"><span class="number">850</span>社以上</span>の<br>取引企業実績</li>
<li>月額<span class="gold"><span class="number">200</span>万円以上</span><br>高額案件が豊富</li>
<li><span class="gold"><span class="number">18,000</span>名以上</span><span class="small">※</span><br>日本最大級のコンサルタント登録数<span class="caution">※2023年6月末時点の登録者数</span></li>
</ul>
<p class="contact_btn"><a href="#conts_contact"><span class="inner"><span class="small">最短即日でご希望の案件をご紹介</span><br>無料会員登録はこちら</span></a></p>
<!--/auto--></div>
<!--/conts_top--></section>
<!--▼▼スマホナビ▼▼-->
<nav class="sp_navi pc_none">
<table>
<tr>
<td><a href="#conts_characteristics">サービスの特徴</a></td>
<td class="half"><a href="#conts_advantage">強みとメリット</a></td>
<td><a href="#conts_project">ご紹介案件例</a></td>
</tr>
<tr>
<td><a href="#conts_voice">利用者の声</a></td>
<td><a href="#conts_flow">利用までの流れ</a></td>
<td><a href="#conts_contact">無料会員登録</a></td>
</tr>
</table>
</nav>
<!--▲▲スマホナビ▲▲-->
<section id="conts_characteristics">
<p class="top_text mincho wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.5s">
「フリーコンサルタント.jp」は、業務委託・フリーランスの
<br class="sp_none"><span class="red">プロフェッショナル人材向け</span>案件の取り扱い数が日本最大級。
<br class="sp_none">その中でも、多くの企業で恒常的に強い募集ニーズがある
<br class="sp_none"><span class="red">“PM・PMOコンサル案件“ </span>を豊富に取り扱っています。
</p>
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">CHARACTERISTICS</p>
<h3>サービスの特徴</h3>
<!--/title_box--></div>
<div class="detail_area">
<div class="block ch_01">
<div class="ch_title wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="ch_number">特徴<span class="number oswald">01</span></p>
<h4>【フリーランス】
<br class="sp_none">PM・PMOコンサルタントの
<br class="sp_none">“案件探し＝営業活動” を
<br class="sp_none">代行するサービス
</h4>
<!--/title--></div>
<div class="text_box">
<p class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s">フリーランスの方の多くは自分の希望に合った案件の開拓に苦労しています。特に稼働中は案件開拓の時間を確保できず、リリース後の稼働案件を見つけられないケースも多くなっています。<br>「フリーコンサルタント.jp」は案件開拓にかかるお手間を代行します。必要な時に希望の案件をご提供することで、フリーランスの方がさまざまなフィールドで活躍できる世界観を目指しています。</p>
<!--/text_box--></div>
<!--/block--></div>
<div class="block ch_02">
<div class="ch_title wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="ch_number">特徴<span class="number oswald">02</span></p>
<h4>フリーコンサルタント.jp<br class="sp_none">ならでは！<br>稼働開始後の<br class="sp_none">フォローを徹底</h4>
<!--/title--></div>
<div class="text_box">
<p class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s">「フリーコンサルタント.jp」では、フリーランスの方に案件をご紹介して終わりでなく、継続的にさまざまな案件で活躍いただくため、稼働後のフォローに力を入れています。<br>悩みや課題など感じたことをお聞きし、より活躍いただける案件のご紹介に活かしています。その結果、多くのフリーランスの方から継続的にご利用いただいています。</p>
<!--/text_box--></div>
<!--/block--></div>
<!--/detail_area--></div>
<div class="graphic_area">
<h4 class="wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s"><span class="inner">こんなお悩みを解決する<br>“案件探し”＆”稼働後フォロー”<br class="pc_none">が充実！</span></h4>
<div class="info_graphic">
<div class="wrapper left">
<div class="box box_01 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="yellow_text">案件探しを代行</p>
<div class="text_box">
<p class="number oswald">01</p>
<p class="text">忙しくて案件を<br class="pc_none">探す<br class="sp_none">時間がない</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_01.png" width="89" alt=""/></figure>
<!--/box--></div>
<div class="box box_02 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">02</p>
<p class="text">誰か代わりに<br class="pc_none">PM・PMOコンサル案件を<br class="sp_none">探して<br class="pc_none">くれないかな…</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_02.png" width="131" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<div class="wrapper right">
<div class="box box_03 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">03</p>
<p class="text">みらいワークスが<br>PM・PMOコンサル案件<br class="sp_none">ご紹介</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_03.png" width="246" alt=""/></figure>
<!--/box--></div>
<div class="box box_04 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">04</p>
<p class="text">希望にマッチした<br>案件が見つかる</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_04.png" width="232" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<div class="wrapper left">
<div class="box box_05 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">05</p>
<p class="text">希望にマッチした<br>案件で稼働開始</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_05.png" width="189" alt=""/></figure>
<!--/box--></div>
<div class="box box_06 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="yellow_text">稼働後のフォローを徹底</p>
<div class="text_box">
<p class="number oswald">06</p>
<p class="text">稼働後の悩みや<br>課題などを<br class="pc_none">ヒアリング</p>
<!--/text_box--></div>
<figure class="img wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_06.png" width="146" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<div class="wrapper right">
<div class="box box_07 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">07</p>
<p class="text">さらに希望に<br class="sp_none">マッチした活躍できる<br class="sp_none">案件をご紹介</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_07.png" width="195" alt=""/></figure>
<!--/box--></div>
<div class="box box_08 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<div class="text_box">
<p class="number oswald">08</p>
<p class="text">新しい案件で<br>さらなる活躍を実現</p>
<!--/text_box--></div>
<figure class="img wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/illust_08.png" width="131" alt=""/></figure>
<!--/box--></div>
<!--/wrapper--></div>
<!--/info_graphic--></div>
<!--/graphic_area--></div>
<!--/auto--></div>
<!--/conts_characteristics--></section>

<section id="conts_advantage">
<div class="bg_title title_box">
<div class="slide_in_image"><p class="eng_text oswald wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">ADVANTAGE</p>
<h3 class="wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">サービスの強みとメリット </h3></div>
<!--/bg_title--></div>
<div class="auto">
<div class="wrapper">
<div class="box">
<p class="point oswald">POINT.01</p>
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="1s">
<h4>“企業の現場責任者との強いパイプライン”<br>
独自の非公開案件も多数。<br>
他社にはないPM・PMOコンサル案件に出会えます。</h4>
<p class="text">フリーランスのアサインは企業の現場責任者が決定しているケースがほとんどです。<br>「フリーコンサルタント.jp」は長いサービス展開の歴史から豊富な実績を残しているため、現場責任者との関係性が強くなっています。そのため他社にはない独自の案件を依頼されるケースが多くなっています。</p>
<!--/text_box--></div>
<figure class="img"><div class="slide_in_image"><img src="img/illust_14.jpg" width="298" alt=""/></div></figure>
<!--/box--></div>
<div class="box">
<p class="point oswald">POINT.02</p>
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="1s">
<h4>取引企業数850社以上！<br class="pc_none">日本最大級の案件数！<br>
人気の “短期・スポット案件” や、<br>
月額報酬 “200万円以上” のPM・PMOコンサル案件も。</h4>
<p class="text">大手・優良企業を中心に多種多様な案件を取り扱っています。（日本最大級）
<br>そのため人気の “短期・スポット案件“ や月額報酬200万円以上（※稼働率に依り変動）の
<br>PM・PMOコンサル案件など、さまざまな希望条件にお応えできる案件のご紹介が可能です。
<br>PM・PMOコンサルタントは恒常的に企業側の募集ニーズが強いため、好条件の案件が豊富にあります。
</p>
<!--/text_box--></div>
<figure class="img"><div class="slide_in_image"><img src="img/illust_15.jpg" width="298" alt=""/></div></figure>
<!--/box--></div>
<div class="box">
<p class="point oswald">POINT.03</p>
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="1s">
<h4>サービス登録者数は18,000名以上！<br>
豊富なマッチングノウハウで<br>
最適な案件をスピーディーにご紹介します。</h4>
<p class="text">多くのプロフェッショナルなフリーランスの方をご支援した実績から、豊富なマッチングノウハウを保持しています。そのため、お持ちのスキル・ご経験にマッチした案件をスピーディーにご紹介できる強みがあります。稼働後、多くの方から満足の声を頂戴しています。</p>
<!--/text_box--></div>
<figure class="img"><div class="slide_in_image"><img src="img/illust_16.jpg" width="298" alt=""/></div></figure>
<!--/box--></div>
<!--/wrapper--></div>
<!--/auto--></div>
<!--/conts_advantage--></section>
<div class="btn_box sp_none">
<h4>希望条件に合ったPM・PMOコンサル案件をお探しの方</h4>
<p class="contact_btn"><a href="#conts_contact"><span class="inner"><span class="small">最短即日でご希望の案件をご紹介</span><br>無料会員登録はこちら</span></a></p>
<!--/btn_box--></div>
<section id="conts_project">
    <div class="auto">
        <div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
            <p class="eng_text oswald">PROJECT</p>
            <h3>ご紹介案件例（PM・PMOコンサル案件例）</h3>
            <!--/title_box--></div>
        <dl class="sub_title wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
            <dt>「ご登録いただいた方にのみ」<br class="pc_none">ご紹介可能な非公開案件が多数！<br><span class="small">非公開な案件が多い理由とは？</span></dt>
            <dd>フリーランスのプロフェッショナル人材を活用している企業は、<br class="sp_none">極秘のプロジェクト・新規事業などを競合に知られずにスピーディーに推進したいという意図があります。<br class="sp_none">そのため、案件の多くは非公開案件として「フリーコンサルタント.jp」に依頼されています。</dd>
        </dl>
        <div class="project_wrapper">
            <div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
                <div class="white_bg">
                    <h5>某大手化粧品メーカーのSAP導入グローバル展開プロジェクトでのPMO</h5>
                    <table>
                        <tr>
                            <th>職種</th>
                            <td>PMOコンサルタント</td>
                        </tr>
                        <tr>
                            <th>報酬金額<br class="pc_none">（月額）</th>
                            <td>150万円～</td>
                        </tr>
                        <tr>
                            <th>勤務地<br class="pc_none">（都道府県）</th>
                            <td>東京都（地方・海外）</td>
                        </tr>
                        <tr>
                            <th>稼働期間</th>
                            <td>長期を予定</td>
                        </tr>
                    </table>
                    <!--/white_bg--></div>
                <dl class="detail">
                    <dt>業務内容</dt>
                    <dd>グローバルにビジネス展開する某大手化粧品メーカーでのSAP導入支援業務。北米・欧州・国内でSAP導入を進めている背景から、CIO直下でPMOとしてプロジェクト支援を行なう。</dd>
                </dl>
                <!--/box--></div>
            <div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
                <div class="white_bg">
                    <h5>新型ロボット開発事業におけるグローバルプロジェクトのPM</h5>
                    <table>
                        <tr>
                            <th>職種</th>
                            <td>PM</td>
                        </tr>
                        <tr>
                            <th>報酬金額<br class="pc_none">（月額）</th>
                            <td>～180万円</td>
                        </tr>
                        <tr>
                            <th>勤務地<br class="pc_none">（都道府県）</th>
                            <td>東京都</td>
                        </tr>
                        <tr>
                            <th>稼働期間</th>
                            <td>長期を予定</td>
                        </tr>
                    </table>
                    <!--/white_bg--></div>
                <dl class="detail">
                    <dt>業務内容</dt>
                    <dd>拡大するロボット開発業務において、国外のロボットメーカーとの業務調整（仕様説明、進捗確認、課題のヒアリングなど）を行なう業務。本事業に関しての戦略立案や実行・推進にも携わる。</dd>
                </dl>
                <!--/box--></div>
            <div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
                <div class="white_bg">
                    <h5>某大手消費財メーカーのコンシューマセンターシステムの構築・プロジェクトマネジメント支援</h5>
                    <table>
                        <tr>
                            <th>職種</th>
                            <td>PMOコンサルタント</td>
                        </tr>
                        <tr>
                            <th>報酬金額<br class="pc_none">（月額）</th>
                            <td>100万円～</td>
                        </tr>
                        <tr>
                            <th>勤務地<br class="pc_none">（都道府県）</th>
                            <td>東京都</td>
                        </tr>
                        <tr>
                            <th>稼働期間</th>
                            <td>長期を予定</td>
                        </tr>
                    </table>
                    <!--/white_bg--></div>
                <dl class="detail">
                    <dt>業務内容</dt>
                    <dd>某大手消費財メーカーのコンシューマーセンターの更改（データベースおよびダッシュボード構築）プロジェクト。
                        <br>情報システム部門のメンバーとして参画し、メーカー内の関係部署との横ぐしでのプロジェクト進捗管理・課題整理・合意形成を推進する業務。
                        <br>また、海外を含む関連システムの開発チームの管理を実施する。
                    </dd>
                </dl>
                <!--/box--></div>
            <div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
                <div class="white_bg">
                    <h5>某大手生活サービス企業での業務システム開発のPMO支援</h5>
                    <table>
                        <tr>
                            <th>職種</th>
                            <td>PMOコンサルタント</td>
                        </tr>
                        <tr>
                            <th>報酬金額<br class="pc_none">（月額）</th>
                            <td>100万円～</td>
                        </tr>
                        <tr>
                            <th>勤務地<br class="pc_none">（都道府県）</th>
                            <td>東京都</td>
                        </tr>
                        <tr>
                            <th>稼働期間</th>
                            <td>2ヵ月間</td>
                        </tr>
                    </table>
                    <!--/white_bg--></div>
                <dl class="detail">
                    <dt>業務内容</dt>
                    <dd>某大手生活サービス事業を手掛ける企業での業務システム開発プロジェクト。制作ディレクター業務システムの開発を実施しており、業務要件整理～開発・テスト・運用装着を実施中のフェーズとなっている。このプロジェクトに参画し、PMOコンサルタントとして支援する業務。</dd>
                </dl>
                <!--/box--></div>
            <div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
                <div class="white_bg">
                    <h5>大手電気通信サービス業の通信技術開発プロジェクトにおけるプロジェクトマネジメント支援</h5>
                    <table>
                        <tr>
                            <th>職種</th>
                            <td>PMOコンサルタント</td>
                        </tr>
                        <tr>
                            <th>報酬金額<br class="pc_none">（月額）</th>
                            <td>100万円～</td>
                        </tr>
                        <tr>
                            <th>勤務地<br class="pc_none">（都道府県）</th>
                            <td>東京都</td>
                        </tr>
                        <tr>
                            <th>稼働期間</th>
                            <td>3ヵ月間（延長の可能性あり）</td>
                        </tr>
                    </table>
                    <!--/white_bg--></div>
                <dl class="detail">
                    <dt>業務内容</dt>
                    <dd>某大手電気通信サービス会社での通信技術開発プロジェクト。本プロジェクトのマネジメントチームの一員として参画し、プロジェクトの進捗・課題管理の支援を行なう業務。各関係者との合意形成の推進、課題解決に向けた進捗管理など、プロジェクトを円滑に推進するための支援を行なう業務。</dd>
                </dl>
                <!--/box--></div>
            <div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
                <div class="white_bg">
                    <h5>某大手インターネット系グループ会社のシステム開発プロジェクトでのPM	</h5>
                    <table>
                        <tr>
                            <th>職種</th>
                            <td>PM</td>
                        </tr>
                        <tr>
                            <th>報酬金額<br class="pc_none">（月額）</th>
                            <td>100万円～</td>
                        </tr>
                        <tr>
                            <th>勤務地<br class="pc_none">（都道府県）</th>
                            <td>東京都</td>
                        </tr>
                        <tr>
                            <th>稼働期間</th>
                            <td>長期を予定</td>
                        </tr>
                    </table>
                    <!--/white_bg--></div>
                <dl class="detail">
                    <dt>業務内容</dt>
                    <dd>某大手インターネット系グループに属する通信事業会社での案件。5G等を見据えた新通信サービスに向けたシステム開発プロジェクトへの参画。クライアント企業の情報システム部門と開発に利用している海外ベンダー（インド・ロシア）との間に入り、英語によるベンダーの管理（進捗管理・課題管理・成果物のレビューなど）、情報システム部門への報告などを行なう業務。</dd>
                </dl>
                <!--/box--></div>
            <div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
                <div class="white_bg">
                    <h5>大手ネット保険会社でのWEBサービスの企画・開発PM</h5>
                    <table>
                        <tr>
                            <th>職種</th>
                            <td>Webディレクター</td>
                        </tr>
                        <tr>
                            <th>報酬金額<br class="pc_none">（月額）</th>
                            <td>～150万円</td>
                        </tr>
                        <tr>
                            <th>勤務地<br class="pc_none">（都道府県）</th>
                            <td>東京都</td>
                        </tr>
                        <tr>
                            <th>稼働期間</th>
                            <td>3ヵ月間</td>
                        </tr>
                    </table>
                    <!--/white_bg--></div>
                <dl class="detail">
                    <dt>業務内容</dt>
                    <dd>某大手ネット保険会社のプライム案件。サイトリニューアルを行なっているため複数の開発案件が走っている状態。以下のいずれかのポジションで業務支援する役割。
                        <br>・シミュレーターや一括資料請求の開発リード
                        <br>・マイページの開発におけるプロジェクトリード
                        <br>・コンテンツ統合におけるビジネス企画（戦略策定）と開発のプロジェクトリード
                    </dd>
                </dl>
                <!--/box--></div>
            <div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
                <div class="white_bg">
                    <h5>大手生活情報サービス運営会社でのコールセンターシステム業務設計・要件定義	</h5>
                    <table>
                        <tr>
                            <th>職種</th>
                            <td>ITコンサルタント</td>
                        </tr>
                        <tr>
                            <th>報酬金額<br class="pc_none">（月額）</th>
                            <td>～150万円（60％稼働）</td>
                        </tr>
                        <tr>
                            <th>勤務地<br class="pc_none">（都道府県）</th>
                            <td>東京都</td>
                        </tr>
                        <tr>
                            <th>稼働期間</th>
                            <td>長期を予定</td>
                        </tr>
                    </table>
                    <!--/white_bg--></div>
                <dl class="detail">
                    <dt>業務内容</dt>
                    <dd>当社の飲食事業部での営業効率化のため、コールセンターシステムの導入を検討。導入にあたっての業務設計および要件定義など、PMO業務支援を行なう役割。
                    </dd>
                </dl>
                <!--/box--></div>
            <!--/project_wrapper--></div>
        <!--/auto--></div>
<!--/conts_project--></section>
<div class="btn_box sp_none">
<h4>非公開のPM・PMOコンサル案件に興味がある方</h4>
<p class="contact_btn"><a href="#conts_contact"><span class="inner"><span class="small">最短即日でご希望の案件をご紹介</span><br>無料会員登録はこちら</span></a></p>
<!--/btn_box--></div>
<section id="conts_voice">
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">VOICE</p>
<h3>サービスをご利用<br class="pc_none">いただいた方の声</h3>
<!--/title_box--></div>
<p class="sub_text wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">「フリーコンサルタント.jp」は、通常の業務委託・フリーランスのプロフェッショナル人材の方はもちろん、<br class="sp_none">起業してご自分の会社をお持ちの方が、本業での資金作りのために案件に参画されているケースもあります。</p>
<div class="voice_wrapper">
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">【PM/PMOコンサルタント・男性】</p>
<h5>事業会社で経験したスキルを活かして、PM案件で活躍しています</h5>
<p class="voice" id="open_01" style="display: none; clear: both;">
私は30代まで事業会社を3社経験し、それぞれで新規事業のリーダー・マネージャーを経験してきました。
<br>企業に属して出世するのも良かったのですが、40代になり今後のキャリアや働き方を考えた際に、ビジネスを生み出して自己成長できる現場に居続けたいと思いました。
<br>そこでフリーランスという働き方を選択し、Webでみらいワークスを見つけました。
<br>「フリーランス案件＝エンジニアの案件しかないのでは？」という先入観を持ったまま、みらいワークスとの面談に行ってみると、私が興味を持っている領域、ベンチャー企業での新規事業開発の案件を
<br>紹介してくれました。初のフリーランスとしての案件でしたが、クライアント先のPMや他のフリーランスの方と協力してプロジェクトに貢献することができ、充実感を感じることができました。
<br>自分は0から1を創るフェーズや1を10に拡大するフェーズなど、さまざまに携わりたいので、今後もみらいワークスに案件相談をして、フリーランスとして成長していきたいと思っています。
</p>
<p class="open" data-id="open_01"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_07.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">【PM/PMOコンサルタント・男性】</p>
<h5>大手企業のPMO案件に参画でき、稼働後フォローにも助けられました</h5>
<p class="voice" id="open_02" style="display: none; clear: both;">
<br>5年ほど前からフリーランスとして活動していますが、大手企業の案件に参画したことがなく、ずっとその機会を探していました。そこでたまたまみらいワークスに相談したところ、他社ではなかなか紹介してもらえない大手企業の案件を紹介してもらえました。
<br>クライアントとの最初の顔合わせではとても緊張しましたが、みらいワークスの営業の方が同席して双方をしっかりと繋いでくれたため、普段通りのコミュニケーションが取れました。
<br>PMOコンサルタントとして多くのメンバーと連携し、ステークホルダーと情報共有しながらプロジェクトをゴールに導くのが私の役割でした。大規模なプロジェクトだと途中で自分の立ち位置が分からなくなってしまうこともあるのですが、その点も適宜クライアントからの評価フィードバックをしてくれたりと、みらいワークスからのフォローがあり安心してプロジェクトに集中できました。
<br>大手企業のプロジェクトは規模が大きく学ぶことも多くあったので、案件を紹介してくれたみらいワークスには感謝しています
</p>
<p class="open" data-id="open_02"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_07.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">【PM/PMOコンサルタント・女性】</p>
<h5>おかげさまでフリーランスとしての順調なスタートを切れました</h5>
<p class="voice" id="open_03" style="display: none; clear: both;">
フリーランス転向をして友人が立ち上げた会社で働くことになりましたが、週3日程度は時間が空くため、フリーランスとしての経験値を積むためにもう少し働きたいと考えていました。そんな時にネット検索で見つけたのがみらいワークスでした。
<br>面談の段階ですぐにPMO案件を紹介してもらい、すぐに稼働できた点は個人的にとても助かりました。
<br>プロジェクトは新しいシステム周りのPMO支援案件で、これまでの経験を活かして働くことができました。経験値を積むためにはとてもマッチした案件で、無事最初の3ヵ月のプロジェクトを全うすることができました。
<br>フリーランスとしてまだまだ日は浅いですが、経験を積んでいく上で色々と気軽に相談できますし、案件紹介の希望を汲み取ってくれるので、これからもみらいワークスを利用できればと思っています。
</p>
<p class="open" data-id="open_03"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_08.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">【PM/PMOコンサルタント・男性】</p>
<h5>英語力を活かせる、かつ成長できる環境をマッチングしてくれました</h5>
<p class="voice" id="open_04" style="display: none; clear: both;">
外資系企業に勤めていたこともあり、フリーランス転向後は「英語力」を活かせる案件を中心に稼働していました。
<br>現在稼働中のPMO支援案件も、ドキュメント作成や資料読解、海外拠点とのTV会議など、複数の国とのコミュニケーションを行なうポジションです。みらいワークスに案件相談した際に「英語でコミュニケーションができて、PM系で成長できる環境の案件」というオーダーを出したところ、的確な案件を提案もらえました。
<br>国ごとのルールの違いでプロジェクトの進行を慎重に進めないとならない時は難しさを感じていますが、その分英語でのコミュニケーション能力に磨きをかけられていますし、クライアント企業の少数精鋭体制の中で仕事をすることでやりがいと成長を感じられています。
</p>
<p class="open" data-id="open_04"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_07.png" width="152" alt=""/></figure>
<!--/box--></div>
<div class="box">
<div class="text_box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="attribute">【PM/PMOコンサルタント・女性】</p>
<h5>稼働していた案件が突然終了してしまい困っていましたが、<br class="sp_none">すぐにPMO案件を紹介もらえました</h5>
<p class="voice" id="open_05" style="display: none; clear: both;">
知人経由で紹介してもらったプロジェクトで週5日稼働していましたが、当初3ヵ月の予定だったものが急遽2ヵ月で打ち切りになり、急ぎ案件を探すことになりました。想定外だったので非常に困っていたのですが、たまたまみらいワークスに相談したところ、最初の面談時点で私のスキルに合ったPMO案件を紹介してくれました。
<br>先端技術を活かしたソリューション導入プロジェクトのPMO支援案件だったので、仕事を通して新しい知見を身に付けることができました。
<br>フリーランスにとって稼働していない期間が生じてしまうのは不安要素なので、今回のようにスピーディーに案件を紹介もらえたことはとても助かりました。
<br>これからも案件に困った時には「みらいワークス」に相談しようと思っています。
</p>
<p class="open" data-id="open_05"  style="cursor:pointer;"><span class="inner">続きを読む</span></p>
<!--/text_box--></div>
<figure class="icon wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><img src="img/icon_08.png" width="152" alt=""/></figure>
<!--/box--></div>
<!--/voice_wrapper--></div>
<!--/auto--></div>
<!--/conts_voice--></section>
<section id="conts_flow">
<div class="auto">
<div class="title_box wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.5s">
<p class="eng_text oswald">FLOW</p>
<h3>ご利用の流れ</h3>
<!--/title_box--></div>
<p class="sub_text wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">ご登録後、案件のご紹介まではスピーディーに対応しています。（最短即日で案件のご紹介も）<br>案件・プロジェクトの稼働終了後には、企業からのフィードバックをお伝えしています。<br>その後のフリーランス活動において、更なるご活躍につなげていただくことを目的としています。</p>
<div class="flow_wrapper">
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_09.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 1.</span>ご登録</h5>
<p class="text">下記登録フォームより必要事項をご入力ください。<br>今すぐの稼働をお考えではない方も、お気軽にご登録ください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_10.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 2.</span>面談</h5>
<p class="text">ご登録後にお送りいただくレジュメを拝見し、案件紹介が可能な方と面談を実施しております。面談時には経歴・経験・スキル、希望条件などをお伺いします。所要時間は60分前後で、遠方の方はSkypeでも可能です。</p>
<p class="caution">※案件の状況により、全ての方と面談させていただくわけではありません。ご了承ください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_11.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 3.</span>案件紹介</h5>
<p class="text">希望にマッチした案件情報を抽出し、専門のコーディネーターより詳細をご説明します。案件への参画可否や希望条件の変更などは、適宜お受けしています。お気軽にご相談ください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_12.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 4.</span>エントリー</h5>
<p class="text">ご紹介した案件への参画意思を確認させていただき、参画の場合は正式に企業へのエントリーの手配をします。</p>
<p class="caution">※ご紹介案件に必ずエントリーする必要はありません。<br>ご希望にマッチした場合のみ、エントリーください。</p>
<!--/text_box--></div>
<!--/box--></div>
<div class="box wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
<figure class="img"><img src="img/illust_13.png" width="216" alt=""/></figure>
<div class="text_box">
<h5><span class="number oswald">STEP 5.</span>契約・参画</h5>
<p class="text">参画する企業との対面ミーティングを実施後、契約・案件への参画となります。<br>稼働期間中、円滑に業務を遂行できるように、弊社コーディネーターがサポートします。また稼働終了後には参画企業からのフィードバックをお伝えしています。</p>
<!--/text_box--></div>
<!--/box--></div>
<!--/flow_wrapper--></div>
<!--/auto--></div>
<!--/conts_flow--></section>
<section id="conts_contact">
<div class="bg_title title_box">
<div class="slide_in_image"><p class="eng_text oswald wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">CONTACT</p>
<h3 class="wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="1s">簡単1分で無料会員登録</h3></div>
<!--/bg_title--></div>
<div class="auto">
<div class="form_box">
<p class="text">コンサル登録後は<font color="#ff0000"><strong>レジュメをご提出</strong></font>いただき、専門コーディネーターより<font color="#ff0000"><strong>面談の日程調整についてご連絡</strong></font>をさせていただきます。<br class="sp_none">まずは下記のフォームからご登録ください。入力完了後、確認ボタンを押して入力内容を確認していただき、送信してください。
<br><br><font color="#191970">※ご登録者様全員と面談実施するわけではありませんので、予めご了承ください。
<br>※既に登録がお済みの方の再登録は不要です。（ご登録済の方のご質問は<a href="<%= contact_ja_url %>" style="display:inline" target="_blank"><u>コチラ</u></a>よりお願いします。）</font></p>
<%= render 'form', form:, landing_page: %>
<!--/form_box--></div>
<!--/auto--></div>
<!--/conts_contact--></section>
<!--/contents--></div>
<footer>
<div class="bg_area"></div>
<div class="auto">
<div class="wrapper">
<p class="logo"><a href="https://mirai-works.co.jp/" target="_blank"><img src="img/logo_02.png" width="252" alt="mirai works 株式会社 みらいワークス"/></a></p>
<p class="right_logo"><img src="img/logo_03.png" width="48" alt="JPT 東証グロース上場 株式会社 みらいワークス"/></p>
<ul class="footer_link">
<li><a href="https://mirai-works.co.jp/" target="_blank">運営会社</a></li>
<li><a href="https://freeconsultant.jp/terms" target="_blank">利用規約</a></li>
<li><a href="https://mirai-works.co.jp/privacy-entry/" target="_blank">プライバシーポリシー</a></li>
</ul>
<!--/wrapper--></div>
<!--/auto--></div>
<p class="copy">&copy; Mirai Works Inc. All Rights Reserved.</p>
</footer>
<!--/container--></div>
<!--▼▼画像スライドイン▼▼-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
(function($){


	$(window).on('load scroll', function(){
		var elem = $('.slide_in_image:not(.movie_title)'),isPlay = 'isPlay';
		elem.each(function () {
			var $this = $(this);
			if( $this.hasClass(isPlay) ){
				return true;
			}

    		var elemOffset = $(this).offset().top;
    		var scrollPos = $(window).scrollTop();
    		var wh = $(window).height();
		    if(scrollPos > elemOffset - wh + (wh / 4)){
      			$(this).addClass(isPlay);
    		}
  		});
	});

})(jQuery);
</script>
<!--▲▲画像スライドイン▲▲-->
<!--▼▼表示領域▼▼-->
<script src="js/wow.min.js"></script>
  <script>
      new WOW().init();
  </script>
<!--▲▲表示領域▲▲-->
<!--▼▼プルダウン▼▼-->
<script>
;(function($){
	$(function(){
		var img = new Image();
		img.src="./img/icon_06_2.png";
		$('[data-id]').on('click',function(){
		    var $this=$(this),dataID = $this.attr('data-id'),$cursor=$this;
			$('#'+dataID).slideToggle(function(){
                var img = $cursor.find('span').css('background-image');
                if( ! $cursor.hasClass("open_text") ){
                    $cursor.addClass("open_text").find('span').css({"background-image": "url(./img/icon_06_2.png)"}).text("閉じる");
                } else {
                    $cursor.removeClass("open_text").find('span').css({"background-image": "url(./img/icon_06.png)"}).text("続きを読む")
                }
            });
		});
	});
})(jQuery);
</script>
<!--▲▲プルダウン▲▲-->
<!--▼▼slide▼▼-->
<script src="js/jquery.bxslider.js"></script>
<script>
;(function($){
    var setBxSlider = function(){
        if( $('.bxslider .slide').length > 1 ) {
            slider = $('.bxslider').bxSlider({
                mode: 'fade',
				auto: stop,
                //auto:false=1image auto:true=2images
                speed: 500,
                pause: 5000,
                //onSlideAfter: function () { slider.startAuto(); },
                responsive: true,
                controls: true,
                touchEnabled: true,
                oneToOneTouch: true,
                preventDefaultSwipeX: true
            });
            return slider;
        } else {
        	return undefined;
        }
	};
	if( $.fadePage ){
		var s = setBxSlider();
		$(window).on('PageLoadComplete',function(){
			if( s ) setBxSlider();
		})
	} else {
	    setBxSlider();
	}
})(jQuery);
</script>
<!--▲▲Slide▲▲-->
<!--▼▼Analytics▼▼-->
<script src="js/analytics.js"></script>
<!--▲▲Analytics▲▲-->
<!--
<script src="js/validate/jquery.validate.min.js" ></script>
<script src="js/validate.custom.js"></script>
<script>
    (function($){
        $('form').customvalidate({
            rules: {
                family_name: {
                    required: true,
                },
                personal_name: {
                    required: true,
                },
                telephone : {
                    required: true,
                    telephone: true,
                },
                email: {
                    required: true,
                    email: true
                },
                agree: {
                    required: true
                }
            },
            messages: {
                family_name : {
                    required: "お名前(姓)は必須項目です。",
                },
                personal_name : {
                    required: "お名前(名)は必須項目です。"
                },
                telephone : {
                    required: "電話番号を入力してください。",
                    telephone: "電話番号を半角数字(ハイフンなし)で入力してください。",
                },
                email: {
                    required: "メールアドレスを入力してください。",
                    email: "メールアドレスを正しく入力してください。"
                },
                agree: {
                    required: "個人情報の取扱いの同意をチェックしてください。"
                }
            }
        });
    })(jQuery);
</script>
-->
</body>
</html>
