                    <button <%= button_disabled(can_reject?) %> class="btn <%= button_color(:reject, can_reject?) %> jsModalOpen" data-target="modal" data-href="<%= mypage_fc_direction_reject_path(model) %>"><%= button_label(:reject) %></button>

