          <li class="tile-list-item" data-testid='content/blog/show'>
            <a href="<%= detail_path %>">
              <div class="tile-list-img">
                <div class="tile-list-img-inner">
                  <img src="<%= thumbnail %>" alt="" width="370" height="250" loading="lazy">
                </div>
              </div>
              <div class="list-link article">
                <%= post_title %>
                <div>
                  <span class="tile-list-date"><%= blog_date %></span>
                </div>
              </div>
            </a>
          </li>
